doctype html
html(ng-app="app", ng-controller="appController as app")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='initial-scale=1, minimum-scale=1, user-scalable=no, maximum-scale=1, width=device-width')

    | {% raw %}
    title(ng-bind-template="Buildbot | {{ app.current }}")
    | {% endraw %}

    link(rel='stylesheet', href='styles.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic')

    body(ng-cloak, flex, layout="row")
      sidenav(items="app.navitems", current="app.current")
      div(layout="column", role="main", flex)
        md-toolbar.topbar
          div.md-toolbar-tools
            b Buildbot
            span.title(ng-bind="app.current")
        md-content.md-padding(flex, ui-view)
          h1 Hello buildbot!

      script(src="scripts.js?_#{(new Date()).getTime()}")
      script
        | angular.module("app").constant("config", {{configjson|safe}})
