{% extends "test_results.html" %}

{% block suites %}

    {% for suite in data.suites %}
        {% if suite.summary.result %}
            <div class="row">
                <h2>Suite type: {{ suite.name }}</h2>
                {% if data.utr_prefix %}
                    <a class="label label-default collapse" data-target="#suiteCommand" href="#">Command to run locally</a>

                    <div id="suiteCommand" class="report-command">
                        <input class="report-command-text" type="text" value="{{ data.utr_prefix }} --suite={{ suite.name }}" onclick="this.select();"
                               readonly/>
                    </div>
                {% endif %}
            </div>

            {% if suite.error %}
                <div class="fail"> suite.error</div>
            {% endif %}
        {% endif %}

        {% if suite.artifacts %}
            <div class="row" id="suite_artifacts">
                <h2>Suite Artifacts:</h2>

                <div class="clearfix"></div>
                {% for artifact in suite.artifacts %}
                    <div class="artifact">
                        <a target="_blank" href="{{ artifact }}">{{ artifact }}</a>
                    </div>
                {% endfor %}
            </div>
            </div>
        {% endif %}
        <div class="table-holder">
            <div class="row">
                <ul class="summary-list">
                    <li><b id="Tests">Tests </b>{{ suite.summary.testsCount }}</li>
                    <li><b id="Passed">Passed </b>{{ suite.summary.successCount }}</li>
                    <li><b id="Failures">Failures </b><span>{{ suite.summary.failedCount }}</span></li>
                    <li><b id="Error">Ignored </b><span>{{ suite.summary.errorCount }}</span></li>
                    <li><b id="Skipped">Skipped </b><span>{{ suite.summary.skippedCount }}</span></li>
                    <li><b id="Inconclusive">Inconclusive </b><span>{{ suite.summary.inconclusiveCount }}</span>
                    </li>
                    <li data-time="{{ suite.summary.time }}"><b id="Time">Time(s) </b>{{ suite.summary.time }}
                    </li>
                </ul>
            </div>
            <table class="table table-katana tablesorter tablesorter-log-js">
                <colgroup>
                    <col span="1" style="width: 50%;">
                    <col span="1" style="width: 20%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 20%;">
                </colgroup>
                <thead>
                <tr>
                    <th class="txt-align-left first-child" id=":i18n:Name">Name</th>
                    <th id=":i18n:Status">Status</th>
                    <th id=":i18n:Time">Time(s)</th>
                    <th id=":i18n:Time">Artifacts</th>
                </tr>
                </thead>

                <tbody>
                {% set i = 0 %}
                {% for test in suite.tests %}
                    <tr>
                        <td class="txt-align-left">
                            <h5><strong>{{ test.name }}</strong></h5>
                            {% if data.utr_prefix %}
                                <a class="label label-default collapse" data-target="#testCommand{{ i }}">Command to run locally</a>

                                <div id="testCommand{{ i }}" class="report-command">
                                    <input class="report-command-text" type="text" value="{{ data.utr_prefix }} --suite={{ suite.name }} --testfilter=={{ test.name }}" onclick="this.select();" readonly/>
                                </div>
                            {% endif %}

                            {% if test.message %}
                                <div><b>Message:</b></div>
                                <div class="formatted_text">{{ test.message }}</div>
                            {% endif %}
                            {% if test.stackTrace %}
                                <div><b>Stack trace:</b></div>
                                <div class="formatted_text">{{ test.stackTrace }}</div>
                            {% endif %}
                            {% if test.reason %}
                                <div><b>Reason:</b></div>
                                <div class="formatted_text">{{ test.reason }}</div>
                            {% endif %}
                        </td>
                        <td class="{{ results[test.state] }}">{{ results[test.state] }}</td>
                        {% if test.time %}
                            <td data-time="{{ test.time }}">{{ test.time }}</td>
                        {% else %}
                            <td>N/A</td>
                        {% endif %}
                        <td class="txt-align-left first-child ">
                            {% for artifact in test.artifacts %}
                                <div class="artifact">
                                    <a target="_blank" href="{{ artifact }}">{{ artifact }}</a>
                                </div>
                            {% endfor %}
                        </td>
                    </tr>
                    {% if test.state and test.state|lower == "false" %}
                        <tr>
                            <td class="txt-align-left failure-detail-cont colspan-js">
                                <div class="pos-relative">
                                    <div class="failure-detail-txt">
                                        {% for line in test.message %}
                                            {{ line.text|e|trim }}
                                        {% endfor %}
                                    </div>
                                </div>
                            </td>
                            <td class="hidden-result">{{ test.result }}</td>
                            <td>&nbsp;</td>
                        </tr>
                    {% endif %}

                    {% set i = i + 1 %}
                {% endfor %}
                </tbody>
            </table>
            <a class="back-top-top" href="#top">Back to top</a>
        </div>

        </div>

    {% endfor %}

{% endblock %}