{% macro page_header() %}
<html>
<head>
<link rel="stylesheet" href="/prod/css/default.css" type="text/css" />
<script src="/prod/script/libs/jquery.js"></script>
<script src="/prod/script/libs/iframeResizer.contentWindow.min.js"></script>

<script type="text/javascript">
    "use strict";

    $("document").ready(function() {
        setTimeout(function() {
            var removePadding = function removePadding() {
                if (window.parentIFrame !== undefined) {
                    $("pre.code").css("padding-left", 0);
                    return true;
                }
                return false;
            };


            if (!removePadding()) {
                var i = setInterval(function () {
                    if (removePadding()) {
                        clearInterval(i);
                    }
                }, 1000);
            }
        }, 300);
    });

</script>

</head>
	<body class="interface">
		<pre class="code">			

		{% endmacro %}

		{% macro chunks(entries) %}
		{% for entry in entries %}
		{% if "error:" in entry.text|lower %}
		<span class="log-error">{{ entry.text|e }}</span>
		{% elif "warning:" in entry.text|lower %}
		<span class="log-warning">{{ entry.text|e }}</span>
		{% else %}
		<span>{{ entry.text|e }}</span>
		{% endif %}
		{% endfor %}
		{% endmacro %}

		{% macro page_footer() %}
		</pre>
	</body>
</html>
{% endmacro %}