{% macro page_header(version) %}
<html>
<head>
<link rel="stylesheet" href="/prod/css/default.css" type="text/css" />

<script type="text/javascript">
    var require = {
        baseUrl: "/prod/script/",
        urlArgs: "cachebust={{ version }}",
        deps: ['main', 'buildLogiFrame']
    };
    require.deps.push('');
</script>
<script src="/prod/script/main.js"></script>

</head>
	<body class="interface">
		<pre class="code">

		{% endmacro %}

		{% macro chunks(entries) %}
		{% for entry in entries %}
		{% if "error:" in entry.text|lower %}
		<span class="log-error">{{ entry.text|e }}</span>
		{% elif "warning:" in entry.text|lower %}
		<span class="log-warning">{{ entry.text|e }}</span>
		{% else %}
		<span>{{ entry.text|e }}</span>
		{% endif %}
		{% endfor %}
		{% endmacro %}

		{% macro page_footer() %}
		</pre>
	</body>
</html>
{% endmacro %}