{% extends "layout.html" %}
{% import 'submenu.html' as submenu %}
{% block submenu %}
  {{submenu.buildsubmenu(active_page=step_name, pathNum=6, buildersPath=path_to_builders, codebasesPath=path_to_codebases, builderName=name, builderPath=path_to_builder, buildNumber=build_number, buildPath=path_to_build, stepName=step_name, selectedProject=selectedproject)}}
{% endblock %}

{% block content %}

<h1 class="main-head">
  Builder <span>{{ b.getBuilder().getName() }}</span> 
  build <span>#{{ b.getNumber() }}</span> 
  step <span>{{ s.getName() }}</span> 
</h1>

<div class="column-1">

<div class="column-2">
{% if s.isFinished() %}
  <h2 class="head-2">
    Finished
  </h2>
  <span class="{{ result_css }} result">  
    {%- set text = s.getText() -%}
    {%- if text is string %}{{ text|e }}
    {%- else %}{{ text|join(" ")|e }}{% endif -%}
  </span>  
{% else %}
  <h2 class="head-2">
    Not Finished
  </h2>
  <p>ETA {{ s.getETA()|e }} seconds</p>
{% endif %}

{% set exp = s.getExpectations() %}
{% if exp %}
  <h2 class="head-2">
    Expectations
  </h2>
  <ul>
  {% for e in exp %}
    <li>{{ e[0]|e }}: current={{ e[1] }}, target={{ e[2] }}</li>
  {% endfor %}
  </ul>
{% endif %}

<div class="divider"></div>

<h2 class="head-2">
  Timing
</h2>
{% if start %}
  <table class="table-2">
    <tr>
      <td>
        Start
      </td>
      <td>
        {{ start }}
      </td>
    </tr>
    <tr>
      <td>
        End
      </td>
      <td>
        {{ end or "Not finished" }}
      </td>
    </tr>
    <tr>
      <td>
        Elapsed
      </td>
      <td>
        {{ elapsed }}
      </td>
    </tr>
  </table>
{% else %}
  <b>Not started</b>
{% endif %}
  </div>
  <div class="column-2 last">
<h2 class="head-2">
  Logs
</h2>
<ul>
{% for l in logs %}
  <li>
  {% if l.has_contents %}
    <a href="{{ l.link|e }}">{{ l.name|e }}</a>
  {% else %}
    {{ l.name|e }}
  {% endif %}
  </li>
{% else %}
  <li>- No logs -</li> 
{% endfor %}
</ul>

{% if statistics %}
<h2 class="head-2">
  Statistics
</h2>
<table class="table-1">
  <tr>
    <th>
      Name
    </th>
    <th>
      Value
    </th>
  </tr>
  {% for stat in statistics %}
    <tr>
      <td>
        {{ stat.name|e }}
      </td>
      <td>
        {{ stat.value|e }}
      </td>
    </tr>
  {% endfor %}
</table>
{% endif %}

</div>
</div>

{% endblock %}
