{% extends 'layout.html' %}
{% import 'forms.html' as forms %}
{% from 'build_line.html' import build_table %}
{% from "box_macros.html" import box %}
{% import 'submenu.html' as submenu %}

{% block submenu %}
  {{submenu.buildsubmenu_buildqueue(active_page='buildqueue', pathNum=1)}}
{% endblock %}

{% block content %}
   <select class="select-tools">
      <option>
        With selected
      </option>
      <option>
        Remove
      </option>
    </select>
  <table id="inputfields" class="table-1">
    <th>
      Build Number
    </th>
    <th>
      Branch
    </th>
    <th>
      Builder
    </th>
    <th>
      Estimated Time Until Start
    </th>
    <th>
      Requestor
    </th>
    <th>
      Compatible Slaves
    </th>
    <th>
      
      <input id="selectall" type="checkbox"/>
    </th>
    <tr class="last">
      <td>
        <span class="notimpl">Not implxemented</span>


      </td>
      <td>
       <span class="notimpl">Not implemented</span>

      </td>
      <td>
        <a href="#">
          <span class="notimpl">Not implemented</span>

        </a>
      </td>
      <td>
       <span class="notimpl">Not implemented</span>

      </td>
      <td>
        <span class="notimpl">Not implemented</span>

      </td>
      <td>
        <a href="#">
         <span class="notimpl">Not implemented</span>

        </a>
      </td>
      <td>
        
        <input type="checkbox"/>
      </td>
    </tr>
    

  </table>

{% endblock %}
