{% extends "layout.html" %}
{% import 'submenu.html' as submenu %}

{% set bodyId = 'id="buildslaves_page"' %}

{% block submenu %}
  {{submenu.buildsubmenu_slaves(active_page="buildslaves", pathNum=1, buildSlaveName='')}}
{% endblock %}

{% block content %}

<table id="tablesorterRt" data-default-sort-col="0" class="table-1 tablesorter first-child input-js buildslaves-table">
<thead>
<tr>
  <th class="th1 txt-align-left" colspan="1">Name</th>
  <th class="th2 txt-align-left"></th>
  <th class="th3">Hostname</th>
  <th class="th4">Status</th>
  <th class="th5">Last heard from</th>
</tr>
</thead>
<tbody>
	
</tbody>
</table>

  
{% endblock %}
