{% extends 'layout.html' %}
{% import 'forms.html' as forms %}
{% from "box_macros.html" import box %}
{% from 'static.html' import force_build_static %}

{% block submenu %}
<nav class="sub-menu-container">
  <ul class="breadcrumbs-nav container-inner">
    <li>
        <a href="/">
          Home
        </a>
    </li>
    <li>
      <a href="{{ path_to_root }}projects">
          Projects
      </a>
    </li>
    <li>
      <a href="{{ path_to_root }}codebases">
          Codebases
      </a>
    </li>
    <li>
      Builders
    </li>
  </ul>
</nav>
{% endblock %}

{% block content %}

<h1 class="main-head">
  Buildstatus
  <span>
    {{ branches|join(', ')|e }}
      Single Project, Single Branch
  </span>
</h1>

<table class="table-1 first-child tablesorter">
  <thead>
<tr>
  <th class="txt-align-left">Builder</th>
  <th class="txt-align-left">Current jobs</th>
  <th class="txt-align-left">Last run</th>
  <th>
    Status
  </th>
  <th>Build Artifacts</th>
  <th >
    Force build
  </th>
</tr>
</thead>
<tbody>
{% for b in builders %}

    <tr>
  
    <td class="box txt-align-left">
      <a href="{{ b.link }}">
        {{ b.name|e }}
      </a>
    </td>
    <td class="txt-align-left">
        <ul class="list">
            <li>
                {% if b.current %}

                <h2 class="small-head">
                    Current job:
                </h2>
                <ul>
                    {% for cb in b.current %}
                    <li><a href="{{ cb.link }}">{{ cb.num }}</a>
                        {% if cb.when %}
                        ETA: {{ cb.when_time }} [{{ cb.when }}]
                        {% endif %}

                        {{ cb.current_step }}

                        {% if authz.advertiseAction('stopBuild', request) %}
                        {{ forms.stop_build(cb.stop_url, authz, on_all=False, short=True, label='Build') }}
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                None
                {% endif %}
            </li>
            <li>
                {% if b.pending %}

                <h2 class="small-head">
                    Pending Build Requests:
                </h2>
                <ul>
                    {% for cb in b.pending %}
                    <li><small>({{ cb.when }}, waiting {{ cb.delay }})</small>

                        {% if authz.advertiseAction('cancelPendingBuild', request) %}
                        {{ forms.cancel_pending_build(b.link +"/cancelbuild?returnbuilders=true", authz, short=True, id=cb.id) }}
                        {% endif %}

                        {% if cb.num_changes < 4 %}
                        {% for c in cb.changes %}{{ c.revision|shortrev(c.repo) }}
                        (<a href="{{ c.url }}">{{ c.who|email }}</a>){% if not loop.last %},{% endif %}
                        {% endfor %}
                        {% else %}
                        ({{ cb.num_changes }} changes)
                        {% endif %}

                        {% if 'owner' in cb.properties %}
                        <b>Forced build</b>
                        by {{cb.properties['owner'][0]}}
                        <small>{{cb.properties['reason'][0]}}</small>
                        {% endif %}
                    </li>
                    {% endfor %}
                    </ul>
                 {% if authz.advertiseAction('cancelPendingBuild', request) %}
                    {{ forms.cancel_pending_build(b.link+"/cancelbuild?returnbuilders=true", authz, short=False, id='all') }}
                {% endif %}
            {% endif %}
        </li>
        </ul>
    </td>
    <td class="txt-align-left">
      
      <a href="#">
        <span class="notimpl small-txt">Not implemented</span>
 
      </a>
      
      
    </td>
    {% if b.build_url %}
      <td class="LastBuild {{ b.build_css_class }} ">
          <a href="{{ b.build_url }}">{{ b.build_label }}</a>
          {{ b.build_text }}
      </td>
    {% else %}
      <td class="LastBuild small-txt">
        no build
      </td>
    {% endif %}  
    <td>
      <a href="#">
        <span class="notimpl">Not implemented</span>
 
      </a>
    </td>

    <td >
      {% if b.force_schedulers != {} %}
      <a class="more-info popup-btn-js" href="#">
      </a>
        <div class="more-info-box">
          <span class="close-btn">
          </span>
          <h3>Overview</h3>
            {% if authz.advertiseAction('forceBuild', request) and b.force_schedulers != {} %}
              {{ forms.force_build(b.link+"/force?returnbuilders=true", authz, request, False, force_schedulers=b.force_schedulers,default_props=default_props) }}
            {% endif %}
        </div>
        {% endif %}
    </td>
    <!--    
    <br>
  
      <a class="more-info" href="#">
        Stop build
      </a>
    
    </td>
    
      {{ box(**b.current_box) }}  
    -->
  </tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
