{% from 'build_line.html' import build_table %}
{% import 'forms.html' as forms %}

{% extends "layout.html" %}

{% block submenu %}
<nav class="sub-menu-container">
  <ul class="breadcrumbs-nav container-inner">
    <li>
        <a href="/">
          Home
        </a>
    </li>
    <li>
      <a href="{{ path_to_root }}buildstatus2">
          Buildstatus
      </a>
    </li>
    <li>
          Default project
    </li>
    
  </ul>
</nav>
{% endblock %}

{% block content %}

<h1 class="main-head">
    Buildstatus 
    <span>
      Default project
    </span>
    </h1>

<table class="table-2">
  <tr>
    <th>Branch</th>
  </tr>
  <tr>
    <td>
      <a href="{{ path_to_root }}builders">
        Default branch
      </a>
    </td>
  </tr>
</table>

{% endblock %}