{% extends "layout.html" %}
{% import 'submenu.html' as submenu %}

{% set bodyId = 'id="buildslaves_page"' %}
{% set dataRealtimerServer = realTimeServer %}

{% block submenu %}
  {{submenu.buildsubmenu_slaves(active_page="buildslaves", pathNum=1, buildSlaveName='')}}
{% endblock %}

{% block content %}

<table id="tablesorterRt" class="table-1 tablesorter tools-js buildslaves-tables">
<thead>
<tr>
  <th>Name</th>
  <th>Hostname</th>
  <th>Status</th>
  <th>Last heard from</th>
</tr>
</thead>
<tbody>
	
</tbody>
</table>

  
{% endblock %}
