{% extends 'layout.html' %}
{% import 'forms.html' as forms %}
{% from "box_macros.html" import box %}
{% from 'static.html' import force_build_static %}

{% block submenu %}
<nav class="sub-menu-container">
  <ul class="breadcrumbs-nav container-inner">
    <li>
        <a href="/">
          Home
        </a>
    </li>
    <li>
      <a href="{{ path_to_root }}projects">
          Projects
      </a>
    </li>
    <li>
      <a href="{{ path_to_root }}codebases">
          Codebases
      </a>
    </li>
    <li>
      Builders
    </li>
  </ul>
</nav>
{% endblock %}

{% block content %}

<h1 class="main-head">
  Buildstatus
  <span>
    {{ branches|join(', ')|e }}
      Single Project, Single Branch
  </span>
</h1>

<table class="table-1 first-child tablesorter">
  <thead>
<tr>
  <th class="txt-align-left">Builder</th>
  <th class="txt-align-left">Current jobs</th>
  <th class="txt-align-left">Last run</th>
  <th>
    Status
  </th>
  <th>Build Artifacts</th>
  <th >
    Force build
  </th>
</tr>
</thead>
<tbody>
{% for b in builders %}

    <tr>
  
    <td class="box txt-align-left">
      <a href="{{ b.link }}">
        {{ b.name|e }}
      </a>
    </td>
    <td class="txt-align-left">
      
      <span class="notimpl small-txt">Not implemented</span>
      
    </td>
    <td class="txt-align-left">
      
      <a href="#">
        <span class="notimpl small-txt">Not implemented</span>
 
      </a>
      
      
    </td>
    {% if b.build_url %}
      <td class="LastBuild {{ b.build_css_class }} ">
          <a href="{{ b.build_url }}">{{ b.build_label }}</a>
          {{ b.build_text }}
      </td>
    {% else %}
      <td class="LastBuild small-txt">
        no build
      </td>
    {% endif %}  
    <td>
      <a href="#">
        <span class="notimpl">Not implemented</span>
 
      </a>
    </td>

    <td >
      {% if b.force_schedulers != {} %}
      <a class="more-info popup-btn-js" href="#">
      </a>
        <div class="more-info-box">
          <span class="close-btn">
          </span>
          <h3>Overview</h3>
            {% if authz.advertiseAction('forceBuild', request) and b.force_schedulers != {} %}
              {{ forms.force_build(b.link+"/force", authz, request, False, force_schedulers=b.force_schedulers,default_props=default_props) }}
            {% endif %}
        </div>
        {% endif %}
    </td>
    <!--    
    <br>
  
      <a class="more-info" href="#">
        Stop build
      </a>
    
    </td>
    
      {{ box(**b.current_box) }}  
    -->
  </tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
