{% extends 'layout.html' %}
{% import 'forms.html' as forms %}
{% from 'build_line.html' import build_table %}
{% from "box_macros.html" import box %}
{% import 'submenu.html' as submenu %}

{% block submenu %}
  {{submenu.buildsubmenu_buildqueue(active_page='buildqueue', pathNum=1)}}
{% endblock %}

{% block content %}
<div id="formWrapper">
<form method="post" name="cancel_build" action={{ path_to_root+"buildqueue/_selected/cancelselected" }} >
    <input class="grey-btn" type="submit" value="Cancel selected" />

<table class="table-1 first-child tablesorter tablesorter-js">
    <thead>
    <tr>
        <th class="txt-align-left">Builder</th>
        <th class="txt-align-left">Codebases</th>
        <th class="txt-align-left">Reason</th>
        <th>Compatible slaves</th>
        <th>Cancel</th>
    </tr>
    </thead>
    <tbody>
    {% for bq in buildqueue %}
    <tr>
        <td>{{ bq.name }}</td>
        <td>
        {% for sskey, value in bq.sourcestamps.iteritems() %}
            {{ sskey}} :
            <ul>
                <li> {{value.repository}}</li>
                <li>{{value.branch}}</li>
                {% if value.revision %}
                <li>{{value.revision}}</li>
                {% endif %}
            </ul>
        {% endfor %}
        </td>
        <td>{{ bq.reason }} <p> requested on {{ bq.when }}, waiting {{ bq.waiting }} </p></td>
        <td>
        <ul>
        {% for slave in bq.slaves %}
            <li> <a href="{{ path_to_root + 'buildslaves/' + slave }}">
                {{slave}}
            </a> </li>
        {% endfor %}
        </ul>
        </td>
        <td>
            <input type="checkbox" name="cancelselected" value="{{ bq.brid }}"/>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
 </form>
 </div>
{% endblock %}