{% from 'build_line.html' import build_table %}
{% import 'forms.html' as forms %}

{% extends "layout.html" %}

{% block submenu %}
<nav class="sub-menu-container">
  <ul class="breadcrumbs-nav container-inner">
    <li>
        <a href="/">
          Home
        </a>
    </li>
    <li>
      <a href="/projects">
      Projects
    </a>
    </li>
    <li>
        Codebases
    </li>
  </ul>
</nav>
{% endblock %}

{% block content %}

<form method="get" name="select_codebases" action="/projects/{{selectedproject|urlencode}}/builders" >
    <input value="Go" class="grey-btn var-1" type="submit" />

<table class="table-2 no-bg">
   <thead>
  <tr>
    <th>Codebase</th>

    <th>Url</th>
    <th>Branches</th>
  </tr>
</thead>

{% for cb in codebases %}
    {% for cbkey, codebase in cb.iteritems() %}
  <tr>
    <td>
        {{cbkey}}
    </td>
    <td width="100%">
      {{codebase['repository']}}
    </td>
    <td>
      <select name='{{cbkey}}_branch' class="select-tools var-1">
         {% for b in codebase['branch'] %}
          {% if request.args|length > 0 %}
            <option {{(b in request.args[cbkey+'_branch']) and "selected" or ""}}>
          {% else %}
            <option>
          {% endif %}
            {{ b }}
            </option>
          {% endfor %}
      </select>
    </td>
  </tr>
 {% endfor %}
{% endfor %}
</table>
</form>
{% endblock %}