{% from 'build_line.html' import build_table %}
{% import 'forms.html' as forms %}

{% extends "layout.html" %}

{% block submenu %}
<nav class="sub-menu-container">
  <ul class="breadcrumbs-nav container-inner">
    <li>
        <a href="/">
          Home
        </a>
    </li>
    <li>
      <a href="projects">
      Projects
    </a>
    </li>
    <li>
        Codebases
    </li>
  </ul>
</nav>
{% endblock %}

{% block content %}

<h1 class="main-head">
    Codebases
    <span>
      overview
    </span>
</h1>

<!--
<a href="builders" class="grey-btn var-1">
  Go      
</a>
-->
<table class="table-2 no-bg">
   <thead>
  <tr>
    <th>Codebase</th>
    <!--
    <th>Url</th>
    <th>Branches</th>
    -->
  </tr>
</thead>
  <tr>
    <td>
      <a href="/builders">
        Default codebase
      </a>
    </td>
    <!--
    <td width="100%">
      http://mercurial-mirror/all-uni
    </td>
    <td>
      <select class="select-tools var-1">
        <option>
          Default
        </option>
        <option>
          Trunk
        </option>
        <option>
          Android
        </option>
      </select>
    </td>
  -->
  </tr>
  
</table>

{% endblock %}