
{% import 'forms.html' as forms %}
{% from 'build_line.html' import build_table %}
{% from "box_macros.html" import box %}
{% from 'static.html' import force_build_static %}


	
	{{ forms.force_build(fbuildsch.datab[0]+"/force"+fbuildsch.databarg[0], fbuildsch.datadauthz[0], fbuildsch.datareq[0], fbuildsch.databool[0], force_schedulers=fbuildsch.dataforcesch[0],default_props=fbuildsch.datadfprop[0]) }}







  {{fbuildsch.datab[0]}} ## <br>
  {{fbuildsch.databarg[0]}} ## <br>
  {{fbuildsch.datadauthz[0]}} ## <br>
  {{fbuildsch.datareq[0]}} ## <br>
  {{fbuildsch.databool[0]}} ## <br>
  {{fbuildsch.dataforcesch[0]}} ## <br>
  {{fbuildsch.datadfprop[0]}} <br><br><br>
 