{% extends "layout.html" %}
{% import 'grid_macros.html' as grid with context %}

{% block content %}

<h1>Grid View</h1>

<table class="Grid" border="0" cellspacing="0">

<tr>
 <td class="title"><a href="{{ title_url }}">{{ title }}</a>
  {{ grid.tag_title() }}
 </td>

 {% for s in stamps %}
  {{ grid.stamp_td(s) }}
 {% endfor %}
</tr>

{% for builder in builders %}
 <tr>
 {{ grid.builder_td(builder) }}
 {% for build in builder.builds %}
   {{ grid.build_td(build) }}
 {% endfor %}
 </tr>
{% endfor %}

</table>

{% endblock %}
