{%- block doctype -%}
<!DOCTYPE html>
{% endblock %}
<html>
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if metatags %}
      {{ metatags }}
    {% endif %}
    {% if refresh %}
      <meta http-equiv="refresh" content="{{ refresh|e }}"/>
    {% endif %}
    <title>{{ pageTitle|e }}</title>
   
    <script src="/prod/script/libs/jQuery-2-0-3.js"></script>
    
    <script type="text/javascript">
      var require = {
          baseUrl: "/prod/script/",
          urlArgs : "cachebust={{version}}",
          deps : ['main']
      };
    </script>
    {% if instant_json %}
    <script id="instant-json" type="application/javascript">
    var instantJSON = {{ instant_json }};
    </script>
    {% endif %}
    <script src="/prod/script/require.js?cachebust={{version}}"></script>

    <link rel="stylesheet" href="/prod/css/default.css?cachebust={{version}}" type="text/css" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ path_to_root }}rss">
    <link rel="shortcut icon" href="{{ path_to_root }}favicon.ico">
    
    {% endblock %} 

  </head>
  {% if bodyId %}
    {% set bodyId = bodyId %}
  {% else %}
    {% set bodyId = '' %}
  {% endif %}

   <body {{ bodyId }} class="interface katana-main" data-realTimeServer="{{ realTimeServer }}" style="display:none;">
   
    {% block header -%}
 
    <header class="header">          
        <nav class="top-menu-container">
          <div class="container-inner">
            
          <h1 class="logo">
            <a href="/">
              <span>K</span>atana
            </a>
          </h1>    
          <ul class="smartphone-nav">
            <li>
            </li>
            <li>
            </li>
            <li>
            </li>
          </ul>

          <div class="auth-user">
            <span class="hide-mobile">
              Logged in as 
            </span>
              <span class="hide-mobile" id="authUserName"></span>
              <a id="authUserBtn" href="/login">
                Log out
              </a>
            </div>

        <ul class="top-menu">
          
          <li>
            <a id="home" href="{{ path_to_root or '.' }}">Home</a>
          </li>
          <!--
          <li>
            <a href="{{ path_to_root }}waterfall">Waterfall</a>
          </li>
          <li>
            <a href="{{ path_to_root }}grid">Grid</a>
          </li>
          <li>
            <a href="{{ path_to_root }}tgrid">T-Grid</a>
          </li>
          <li>
            <a href="{{ path_to_root }}console">Console</a>
          </li>
          -->
          <li class="project-dropdown">
            <a id="projects" href="{{ path_to_root }}projects">Projects</a>            
            <span id="projectDropdown" class="arrow-down-btn"></span>            
          </li>
          
          <li>
            <a id="buildqueue" href="{{ path_to_root }}buildqueue">              
               Build queue</a>            
          </li>
          <!--
          <li>
            <a href="{{ path_to_root }}one_line_per_build">Recent Builds</a>
          </li>
          -->
          <li>
            <a id="buildslaves"  href="{{ path_to_root }}buildslaves">
              <span id="verticalProgressBar" class="outer-bar tooltip">
                <span class="inner-bar">                  
                </span>
              </span>
              <span id="buildSlavesTotal" class="menu-bubble">
                0
              </span> 
              Build slaves
            </a>
          </li>
          <li>
            <a id="json" href="{{ path_to_root }}json/help">JSON API</a>
          </li>
          <!--
          <li>
            <a href="{{ path_to_root }}changes">Changesources</a>
          <li>
          -->
          {#
            {% if authz.advertiseAction('showUsersPage', request) %}
           {% endif %}
         #}
          
         <!--
         <li>
            <a href="{{ path_to_root }}json/help">JSON API</a>
          </li>
          <li>
            <a href="{{ path_to_root }}users">Users</a>
          </li>
          
          
          <li>
            <a href="{{ path_to_root }}about">About</a>
          </li>
          -->
        </ul>
        <div class="info-box">
          <h4>Build Load</h4>
          <span>0</span>
        </div>
      </div>
         </nav>
      
       </header>
<div class="clear"></div>
    {% endblock %}

    {%- block barecontent -%}
    <!--
      <hr/>
    -->
    {% if alert_msg != "" %}
    <div class="alert">    
    {{ alert_msg }}
    </div>
    {% endif %}
    
    {% block submenu -%}
    {%- endblock -%}

    <div class="content container-inner">
      {%- block content -%}     
      {%- endblock -%}
    </div>
    {%- endblock -%}

    {%- block footer -%} 
    <footer class="footer" style="clear:both">
      <div class="container-inner">
        <h3 class="buildbot-version">
          <a href="http://buildbot.net/">BuildBot</a> 
          <span>
            ({{version}})
          </span>
          {% if title -%}
        
          - working for the &nbsp;
          {%- if title_url -%}
            <a href="{{ title_url }}">{{ title }}</a>

          {%- else -%}
            {{ title }}
          {%- endif -%}
          &nbsp;project.
        
        {%- endif -%}
        </h3>
        
      
        <h3 class="page-build-txt">
          Page built: <b>{{ time }}</b> ({{ tz }})
        </h3>
      </div>
    </footer>
    {% endblock -%}

    
 
  </body>
</html>
