<!DOCTYPE html>
<html class="no-background">
  <head>
 	<meta charset="utf-8">
 	<title>Katana - login</title>
    <link rel="stylesheet" href="/css/default.css" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Pacifico&amp;subset=latin' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Leckerli+One&amp;subset=latin' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{{ path_to_root }}favicon.ico">
    <script type="text/javascript" src="/script/libs/jQuery-2-0-3.js"></script>

    <script type="text/javascript" src="/script/login.js"></script>
 </head>
 <body class="interface">
 	<div id="login_page" class="login-box more-info-box more-info-box-js">
 		<h1 class="logo">
      <a href="/">
        <span>K</span>atana
      </a>
   </h1>

 		<p class="login-welcome-txt">
			Welcome to Unity's BuildServer! Have fun
		</p>
		<div class="auth">    

            <form id="loginForm" method="post" name="login" action="/">
                <label for="firstName">
                	First name
                </label>
                <input class="defaultText" id="firstName" type="text"  name="firstname" />
                <div class="clear"></div>

                <label for="lastName">
                	Last name
                </label>
                
                <input id="lastName" class="defaultText" type="text" name="lastname" />
                <div class="clear"></div>
                
                
                <input type="submit" value="login" id="submitLogin" />
            </form>
          
        </div>
 	</div>
 </body>
 </html>