<!DOCTYPE html>
<html class="no-background">
  <head>
 	<meta charset="utf-8">
 	<title>Katana - login</title>
    <link rel="stylesheet" href="/css/default.css" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Pacifico&amp;subset=latin' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Leckerli+One&amp;subset=latin' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{{ path_to_root }}favicon.ico">
    <script type="text/javascript" src="/script/libs/jQuery-2-0-3.js"></script>
    <script type="text/javascript" src="/script/login.js"></script>
 </head>
 <body class="interface">
 	<div class="login-box more-info-box more-info-box-js">
 		<h1 class="logo">
            <a href="/">
              <span>K</span>atana
            </a>
         </h1>

         <!--
 			<h3>Login to Katana</h3>
 		-->
 		<p class="login-welcome-txt">
				Welcome to Unity's BuildServer! Have fun
			</p>
		<div class="auth">    
			
          {% if authz.authenticated(request) %}
            {{ authz.getUsernameHTML(request) }}
            |<a href="{{ path_to_root }}logout">Logout</a>
            {% elif authz.useHttpHeader and authz.httpLoginUrl %}
            <a href="{{ authz.httpLoginUrl }}">Login</a>
            {% elif authz.auth %}
            <form id="loginForm" method="post" name="login" action="{{ path_to_root }}login">
            <label for="username">
            	Username
            </label>
            <input class="defaultText" id="username" type="text"  name="username" />
            <div class="clear"></div>
            <label for="password">
            	Password
            </label>
            
            <input id="password" class="defaultText" autocomplete="off" type="password" name="password" />
            <div class="clear"></div>
            <input id="remember" type="checkbox" name="remember" checked="" value="true" />
            <label for="remember" class="checkbox-label">
            	Remember me
            </label>
            
            <input type="submit" value="login" id="submitLogin" />
            </form>
          {% endif %}
        </div>
 	</div>
 </body>
 </html>