{% from 'build_line.html' import build_table %}
{% import 'forms.html' as forms %}

{% extends "layout.html" %}

{% block submenu %}
<nav class="sub-menu-container">
  <ul class="breadcrumbs-nav container-inner">
    <li>
        <a href="/">
          Home
        </a>
    </li>
  
    <li>
          Projects
    </li>
    
  </ul>
</nav>
{% endblock %}

{% block content %}

<table class="table-2 tablesorter dataTable">
    <thead>
  <tr>
    <th>Name</th>
  </tr>
    </thead>
    <body>
   {% for project in projects %}
    <tr>
        <td>
          <a href="{{path_to_root}}projects/{{ project|urlencode }}">
        {{ project }}
          </a>
        </td>
    </tr>
    {% endfor %}
    </body>
</table>

{% endblock %}