{% from 'build_line.html' import build_table %}
{% import 'forms.html' as forms %}
{% import 'submenu.html' as submenu %}

{% extends "layout.html" %}

{% set bodyId = 'id="codebases_page"' %}

{% block submenu %}
  {{submenu.buildsubmenu(active_page="codebases", pathNum=2, builderName='', buildNumber='', stepName='', selectedProject=selectedproject)}}
{% endblock %}

{% block content %}

<div id="formWrapper" class="codebases">
  
  <form id="getForm" method="get" name="select_codebases" action="/projects/{{selectedproject|urlencode}}/builders">
    
      <input value="Show builders" class="blue-btn var-2" type="submit" />
        <h4 class="help-txt">Select branch for each codebase before showing builders</h4>  
    
      <table data-default-sort-col="0" class="table-2 no-bg tablesorter-js tablesorter">
         <thead>
        <tr>
          <th>Codebase</th>
          <th>Url</th>
          <th class="no-tablesorter-js">
            <select autocomplete="off" id="commonBranch_select" class="common-branch-select">
              <option></option>
            </select>                          
          </th>
        </tr>
      </thead>
      <tbody>
      {% for cb in codebases %}
          {% for cbkey, codebase in cb.iteritems() %}
        <tr>
          <td>
              {% if codebase['display_name'] %}
                {{codebase['display_name']}}
              {% else %}
                {{cbkey}}
              {% endif %}
          </td>
          <td>
              {% if codebase['display_repository'] %}
                <a href="{{codebase['display_repository']}}">{{codebase['display_repository']}}</a>
              {% else %}
                <a href="{{codebase['repository']}}">{{codebase['repository']}}</a>
              {% endif %}
          </td>
          <td class="txt-align-right">

            <select name='{{cbkey}}_branch' class="select-tools-js hide" >

               {% for b in codebase['branch'] %}
                {% if request.args|length > 0 and cbkey+'_branch' in request.args.keys() %}
                  <option value="{{b}}" {{(b in request.args[cbkey+'_branch']) and "selected" or ""}}>

                {% else %}
                  <option value="{{b}}" {{(b in codebase['defaultbranch']) and "selected" or ""}}>

                {% endif %}

                  {{ b }}
                  </option>
                {% endfor %}
            </select>
          </td>
        </tr>
       {% endfor %}
      {% endfor %}
      </tbody>
      </table>
   
  </form>
</div>
{% endblock %}
