{% from 'build_line.html' import build_table %}
{% import 'forms.html' as forms %}
{% import 'submenu.html' as submenu %}
{% extends "layout.html" %}

{% set bodyId = 'id="projects_page"' %}

{% block submenu %}
  {{submenu.buildsubmenu(active_page="projects", pathNum=2, builderName='', buildNumber='', stepName='', codebasesPath='')}}
{% endblock %}

{% block content %}

<table class="table-2 no-bg tablesorter dataTable tablesorter-js shortcut-js tools-js">
    <thead>
  <tr>
    <th>Name</th>
  </tr>
    </thead>
    <body>
   {% for project in projects %}
    <tr>
        <td>
          <a class="scLink" href="{{path_to_root}}projects/{{ project|urlencode }}" data-sc="/projects/{{ project_shortcut[project]}}">
            {{ project }}
          </a>
        </td>
    </tr>
    {% endfor %}
    </body>
</table>

{% endblock %}