{% extends 'layout.html' %}
{% import 'forms.html' as forms %}
{% import 'submenu.html' as submenu %}

{% set bodyId = 'id="home_page"' %}

{% block submenu %}
    {{submenu.buildsubmenu(active_page="frontpage",builderName='', buildNumber='', stepName='')}}
{% endblock %}


{% block content %}

<div class="column-1">
<div class="column-2 welcome-txt">
<h1 class="head-2">
  Welcome to Katana
</h1>

<p>
  To get started click one of the buttons in the navigation bar at the top
</p>
<ul>
<li>
The <b><a href="/projects">Projects</a></b> link will allow you to navigate to the current build status of a specific project (you can then bookmark that page for future reference).
</li>
<li>
The <b><a href="/buildslaves">Build Slaves</a></b> link will tell you what the build slaves are currently up to.
</li>

<li>
The <b><a href="/buildqueue">Build Queue</a></b> link will show you what is currently queued.
</li>
</ul>
<p>
From each of these pages, we believe navigation should be self-explanatory.
</p>

Happy Building,<br>
<b>Unity’s Build Engineering Team</b>


{%- if authz.advertiseAction('cleanShutdown', request) -%}
{%- if shutting_down -%}
Master is shutting down<br/>
{{ forms.cancel_clean_shutdown(cancel_shutdown_url, authz) }}
{%- else -%}
{{ forms.clean_shutdown(shutdown_url, authz) }}
{%- endif -%}
{%- endif -%}

</div>
<div class="column-2 last welcome-txt">
  <h1 class="head-2">
    More info
  </h1>
  <ul>
    <li>
      <b><a href="http://buildbot.net/">Buildbot</a></b> The continuous integration framework.
    </li>
      <li>
      <b><a href="http://confluence.hq.unity3d.com/display/DEV/Katana?src=breadcrumbs-parent">Katana</a></b> The katana homepage on Confluence.
    </li>
  </ul>
</div>
</div>

{% endblock %}
