{% extends 'layout.html' %}
{% import 'forms.html' as forms %}
{% import 'submenu.html' as submenu %}

{% block submenu %}
    {{submenu.buildsubmenu(active_page="frontpage",builderName='', buildNumber='', stepName='')}}
{% endblock %}

{% block content %}

<div class="column-1">
<div class="column-2 welcome-txt">
<h1 class="head-2">
  Welcome to Katana
</h1>

<p>
  To get started click one of the buttons in the navigation bar at the top
</p>
<ul>
<li>
The <b><a href="/projects">Projects</a></b> link will allow you to navigate to the current build status of a specific project (you can then bookmark that page for future reference).
</li>
<li>
The <b><a href="/buildslaves">Build Slaves</a></b> link will tell you what the build slaves are currently up to.
</li>

<li>
The <b><a href="/buildqueue">Build Queue</a></b> link will show you what is currently queued.
</li>
</ul>
<p>
From each of these pages, we believe navigation should be self-explanatory.
</p>

Happy Building,<br>
<b>Unity’s Build Engineering Team</b>


{%- if authz.advertiseAction('cleanShutdown', request) -%}
{%- if shutting_down -%}
Master is shutting down<br/>
{{ forms.cancel_clean_shutdown(cancel_shutdown_url, authz) }}
{%- else -%}
{{ forms.clean_shutdown(shutdown_url, authz) }}
{%- endif -%}
{%- endif -%}

</div>
<div class="column-2 last">
<h2 class="head-2">
  Summary
</h2>
<table id="tb-root" class="table-1 summary-circles">
    <thead>
      <tr>
        <th>Slaves</th>
        <th>Pending builds</th>  
      </tr>
    </thead>
    <body>
      <tr class="summary-td">
          <td>
            <span id="slavesNr">
                {{ slaves|length }}
            </span>
          </td>
          <td>
            <span id="pendingBuilds">
                {{ pending_builds|length }}
            </span>
          </td>
      </tr>
    </body>
</table>

</div>
</div>

{% endblock %}
