{% macro force_build_static() %}

<form class="command_forcebuild" action="../builders/Build%20FlashSupport/force" name="force_build" method="post">

  <!--
    <h3>force-various</h3>
  -->
       <p>To force a build, fill out the following fields and
        push the 'Force Build' button</p>
    <input type="hidden" value="force-various" name="forcescheduler">
          
    <div class="row force-nested">
                            
    <div id="force-force-various-username" class="row force-text">
           <span class="label">Your name:</span>
       <input type="text" value="" name="username" size="30">
        </div>
        

                  
    <div id="force-force-various-reason" class="row force-text">
           <span class="label">reason</span>
       <input type="text" value="force build" name="reason" size="10">
        </div>
        

              </div>
        

          
    <div class="row force-nested force-codebase">
                            
    <div id="force-force-various-branch" class="row force-list">
           <span class="label">branch</span>
       <span class="select">
       <select name="branch">
                  <option selected="">trunk</option>
                </select>
       </span>
        </div>
        

                  
    <div id="force-force-various-revision" class="row force-text">
           <span class="label">Revision:</span>
       <input type="text" value="" name="revision" size="10">
        </div>
        

                        

                  
    <div id="force-force-various-project" class="row force-text">
           <span class="label">Project:</span>
       <input type="text" value="" name="project" size="10">
        </div>
        

              </div>
        

          
    <div id="force-force-various-force_rebuild" class="row force-bool">
           <input type="checkbox" value="force_rebuild" name="checkbox">
       <span class="label">Clean build</span>
        </div>
        

  
  <input type="submit" value="Force Build" class="grey-btn">
 </form>

 {% endmacro %}