{% macro buildsubmenu(active_page, pathNum, codebasesPath, builderName, buildersPath, builderPath, buildNumber, buildPath, stepName, selectedProject) %}
	{% set classPath = '' %}

	{% if active_page == 'jsonhelp' %}
		{% set classPath = 'jsonhelp' %}
	{% endif %}

	{% if active_page == 'frontpage' %}
		{% set classPath = 'frontpage' %}
	{% endif %}

	{% if active_page == 'codebases' %}
		{% set classPath = 'codebases' %}
		{% set codebasesPath = '' %}		
	{% else %}

		{% set codebasesPath = codebasesPath %}	
	{% endif %}

	{% if active_page == 'builders' %}
		{% set classPath = 'builders' %}
		{% set buildersPath = '' %}
		
	{% else %}
		{% set buildersPath = buildersPath %}
	{% endif %}

	{% if active_page == builderName %}
		{% set classPath = 'builder' %}
		{% set builderName = builderName %}
		{% set builderPath = '' %}
	{% else %}
		{% set builderName = builderName %}
		{% set builderPath = builderPath %}
	{% endif %}

	{% if active_page == buildNumber %}
		{% set classPath = 'builddetail' %}
		{% set buildNumber = buildNumber %}
		{% set buildPath = '' %}
	{% else %}
		{% set buildNumber = buildNumber %}
		{% set buildPath = buildPath %}
	{% endif %}

	{% if active_page == stepName %}
		{% set classPath = 'stepname' %}
		{% set stepName = stepName %}
	{% else %}
		{% set stepName = '' %}
	{% endif %}

	{% set navigation_bar = [
	    ('/', 'home', 'Home'),
	    ('/projects', 'project', 'Projects'),
	    (codebasesPath, 'codebases', selectedProject),
	    (buildersPath, 'builders', 'Builders'),
	    (builderPath, builderName, builderName),
	    (buildPath, buildNumber, buildNumber),
	    ('', stepName, stepName)
	] -%}


	<nav id="{{classPath}}_page" class="sub-menu-container {{classPath}}">
		{% if active_page != 'frontpage' and active_page != 'jsonhelp' %}
			<div class="container-inner">
				<div class="wrap">
				  <ul class="breadcrumbs-nav">
					{% for href, id, caption in navigation_bar %}
						{% if id == active_page %}
							<li>{{caption|e}}</li>
						{% elif loop.index == 3 and pathNum >= 3 %}

							<li class="dropdown"><a id="pathToCodeBases" href="{{ codebasesPath }}">{{selectedProject}}</a><a id="getBtn" class="more-info" href="#"></a></li>	
						{% elif loop.index <= pathNum %}
							<li><a href="{{ href|e }}">{{ caption|e }} </a></li>
						{% endif %}
					{% endfor %}
					</ul>
				</div>
			</div>
		{% endif %}
	</nav>
{% endmacro %}

{% macro buildsubmenu_slaves(active_page, pathNum, buildSlaveName) %}
	
	{% if active_page == 'buildslaves' %}
		{% set classPath = 'buildslaves' %}	
	{% endif %}
	{% if active_page == buildSlaveName %}
		{% set classPath = 'buildslave' %}	
		{% set buildSlaveName = buildSlaveName %}
	{% else %}
		{% set buildSlaveName = '' %}
	{% endif %}

	{% set navigation_bar_slaves = [
	    ('/', 'home', 'Home'),
	    ('/buildslaves', 'buildslaves', 'Build slaves'),
	    ('', buildSlaveName, buildSlaveName)
	] -%}

	<nav id="{{classPath}}_page" class="sub-menu-container">
		<div class="container-inner">
			<div class="wrap">
				<ul class="breadcrumbs-nav ">
				{% for href, id, caption in navigation_bar_slaves %}
					{% if id == active_page %}
						<li>{{caption|e}}</li>
					{% elif loop.index <= pathNum %}
						<li><a href="{{ href|e }}">{{ caption|e }}</a></li>
					{% endif %}
				{% endfor %}
				</ul>
			</div>
		</div>
	</nav>

{% endmacro %}

{% macro buildsubmenu_buildqueue(active_page, pathNum) %}
	
	{% set navigation_bar_buildqueue = [
	    ('/', 'home', 'Home'),
	    ('/buildqueue', 'buildqueue', 'Build Queue')
	] -%}	
	
	<nav id="buildqueue_page" class="sub-menu-container">
	<div class="container-inner">
		<div class="wrap">
			<ul class="breadcrumbs-nav ">
			{% for href, id, caption in navigation_bar_buildqueue %}
				{% if id == active_page %}
					<li>{{caption|e}}</li>
				{% elif loop.index <= pathNum %}
					<li><a href="{{ href|e }}">{{ caption|e }}</a></li>
				{% endif %}
			{% endfor %}
			</ul>
		</div>
	</div>
	</nav>

{% endmacro %}
