.inspect-data {
  margin: 10px 0;

  .row {
    padding: 4px 0;
    white-space: nowrap;
    overflow: hidden;
  }

  .row:nth-child(odd) {
    background-color: #efefef;

    .value {
      border-left: 1px solid #FFF;
    }
  }

  .row:nth-child(even) {
    .value {
      border-left: 1px solid #efefef;
    }

    &:last-child {
      border-bottom: 1px solid #efefef;
    }
  }

  .key, .value {
    min-height: 28px;
    line-height: 28px;
    padding: 2px 10px;
  }

  .key {
    text-overflow: ellipsis;
  }

  .object-value {
    cursor: pointer;

    pre {
      margin: 0;
      padding: 0;
    }
  }
}
