md-sidenav {
  md-content.md-default-theme {
    background: #424242 !important;
  }

  md-icon {
    width: 40px;
    height: 40px;
  }

  .nav-button {
    width: 64px;
    height: 64px;
  }

  .nav-item {
    height: 64px;
    width: 64px;
    margin: 5px 0;

    svg {
      fill: #999;
    }
  }
}

md-sidenav, 
md-sidenav.md-locked-open, 
md-sidenav.md-closed.md-locked-open-add-active {
  width: 64px !important;
  min-width: 64px !important;
  max-width: 64px !important;
} 

