{{#showFriendlyName}}
{{#friendly_name}}
	<a href="buildslaves/{{host_name}}">{{friendly_name}}</a>			
{{/friendly_name}}
{{^friendly_name}}
  Not Available 
{{/friendly_name}}
{{/showFriendlyName}}
{{#buildersPopup}}
	<a title="Builder information" class="more-info popup-btn-json-js" href="#"> </a>
{{/buildersPopup}}

{{#showTimeago}}
	<span class="hide">{{showLastMessageDate}}</span>
	<span class="last-message-timemago"></span>
	<small>{{showLastMessageDate}}</small>
{{/showTimeago}}