{{#showslaves}}
	<a class="more-info popup-btn-json-js mod-1" href="#">
		 {{slavelength}} slaves
	</a>
{{/showslaves}}

{{#input}}
	<input class="fi-js fi" type="checkbox" name="cancelselected" value="{{brid}}"/>
	<br/>
	<a title="Remove this build" class="force-individual-js delete-icon" href="#"></a>
{{/input}}

{{#showsources}}
	<a class="more-info popup-btn-json-js mod-1" href="#">
		{{sourcesLength}} Codebase 
	</a>
{{/showsources}}

{{#reason}}
    <span class="hide">{{submittedAt}}</span>
	<ul class="codebases-list">	
		<li>
			{{reason}}
		</li>
		<li>
			requested on {{requested}}
		</li>		
        <li>
            Waiting <span class="waiting-time"></span>            
        </li>
	</ul>
{{/reason}}