<div class="border-table-holder col-md-10">
    <div id="overScrollJS" class="inner-table-holder">

        <table class="codebase-branch-table">
            <tr class="codebase">
                <th>Codebase</th>
                {{#each codebases}}
                    <td>{{codebase}}</td>
                {{/each}}
            </tr>
            <tr class="branch">
                <th>Branch</th>
                {{#each codebases}}
                    <td>{{branch}}</td>
                {{/each}}
            </tr>
        </table>
    </div>
</div>
{{#if compareURL}}
    <form method="POST" action="{{compareURL}}">
        <div class="col-md-12 col-padding-top">
            <button id="compareBranchesBtn" class="blue-btn" type="SUBMIT">Compare Branches</button>
        </div>
    </form>
{{/if}}