<table data-default-sort-col="0" id="builders{{id}}" class="comparison-table table-1 first-child tablesorter builders-table">
    <thead>
        <tr>
            <th class="txt-align-left">Builder</th>
            <th class="txt-align-left">Last run</th>
            <th class="th4">Status</th>
            <th class="th4">Shortcuts</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
  </table>