{{#if tags}}
    <div class="row">
        <div class="col-md-12 col-padding-top tags check-boxes-list">
            <label class="col-padding-top" for="tags-select">Tags:</label><input class="col-md-2" type="hidden" id="tags-select"/>
        </div>
    </div>
{{/if}}