.container
  .row
    table.table.table-hover.table-striped.table-condensed
      tr
          td Builder Name
          td Builds
        tr(ng-repeat='builder in builders')
          td(style="width:200px")
            a(ui-sref='builder({builder: builder.builderid})')
              | {{ builder.name }}
          td
            span(data-ng-repeat="build in builder.builds")
                a(ui-sref='build({builder: builder.builderid, build: build.number})')
                    span.badge-status(ng-class="results2class(build, 'pulse')")
                      | {{ build.number }}
