basefield
    label.control-label.col-sm-2(for="{{field.name}}")
        | {{field.label}}
    .col-sm-9
        textarea.form-control(ng-if="field.safevalue !== false", rows="{{field.rows}}", ng-model="field.safevalue", ng-trim="false")
        label.control-label(ng-if="field.safevalue === false") {{field.value.length}} bytes file
    .col-sm-1
        input(type="file", id="file-{{field.name}}", style="display:none;", fileread="field.value")
        label.btn.btn-default.btn-small(for="file-{{field.name}}")
            i.fa.fa-file
