div.form-horizontal
    div(class="{{column_class}}", ng-repeat='field in fields')
        div(ng-if="field.type === 'nested'")
            .panel.panel-default
                .panel-heading(ng-if="field.name")
                    | {{field.name}}
                .panel-body
                    nestedfield(fields="field.fields", columns="field.columns")

        div(ng-if="field.type!=='nested' && !field.hide")
            forcefield(field="field")
