.container
  .row
    table.table.table-hover.table-striped.table-condensed
      tr
          td Scheduler Name
          td Master
        tr(ng-repeat='scheduler in schedulers')
          td
            a(ui-sref='scheduler({scheduler: scheduler.schedulerid})')
              | {{ scheduler.name }}
          td
            a(ui-sref='master({master: scheduler.master.masterid})')
              | {{ scheduler.master.name }}
