.container
  uib-tabset
      uib-tab(heading="All schedulers")
        table.table.table-hover.table-striped.table-condensed
          tr
              td Enabled
              td Scheduler Name
              td Master
          tr(ng-repeat='scheduler in schedulers | orderBy: ["name"]')
              td
                input(type="checkbox", ng-model="scheduler.enabled", ng-change="change(scheduler)")
              td {{ scheduler.name }}
              td {{ scheduler.master.name }}
      uib-tab(heading="All schedulers by master")
        table.table.table-hover.table-striped.table-condensed
          tr
              td Enabled
              td Scheduler Name
              td Master
          tr(ng-repeat='scheduler in schedulers | orderBy: ["master.name", "name"]')
              td
                input(type="checkbox", ng-model="scheduler.enabled", ng-change="change(scheduler)")
              td {{ scheduler.name }}
              td {{ scheduler.master.name }}
