.build-tab {
  .tab-manage-bar {
    .md-button {
      min-width: 30px;
      min-height: 30px;
      line-height: 30px;
      margin: 5px;
      margin-right: 0;
      padding: 5px;
      background: rgba(0, 0, 0, 0.05);

      md-icon {
        width: 20px;
        height: 20px;
      }
    }
  }

  .build-info {
    font-size: 14px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    min-height: 60px;
    padding: 5px;

    .changes, .properties {
      padding: 10px;
    }

    .properties {
      border-left: 1px solid #eee;
    }

    .no-changes {
      text-align: center;
      color: #999;
    }
  }
}
