.build-tab {
  .tab-manage-bar {
    background: #eee;

    .title {
      line-height: 36px;
      padding: 0;
      margin: 6px 8px;
      color: #666;
    }

    .md-button {
      min-width: 36px;
    }
  }
}
