- var timestamp = process.env.SOURCE_DATE_EPOCH ? (parseInt(process.env.SOURCE_DATE_EPOCH) * 1000) : new Date().getTime();

doctype html
html.no-js(ng-app="app", xmlns:ng='http://angularjs.org', xmlns:app='ignored')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title(window-title) Buildbot
    meta(name='description', content='Buildbot web UI')
    meta(name='viewport', content='initial-scale=1, minimum-scale=1, user-scalable=no, maximum-scale=1, width=device-width')
    link(href='styles.css', rel='stylesheet')
    link(id='bbicon', href='img/icon.png', rel='icon')
    link(href='img/icon.svg', title="Buildbot", rel='fluid-icon')
    div(id='outdated')
    body(ng-cloak)
        block content
        block footer
    script(src="browser-warning.js")
    link(href='browser-warning.css', rel='stylesheet')
    script(src="browser-warning-list.js")
    script
      | window.T =  {{ custom_templates | tojson }};
    script(src="scripts.js?_" + timestamp)
    | {% for app in config.plugins -%}
    script(src="{{app}}/scripts.js?_" + timestamp)
    link(href='{{app}}/styles.css?_' + timestamp, rel='stylesheet')
    script
      | angular.module('app').requires.push('{{app}}')
    | {% endfor %}
    script
      | angular.module("buildbot_config", []).constant("config", {{configjson|safe}})
