doctype html
html.no-js(xmlns:ng='http://angularjs.org', xmlns:app='ignored')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Buildbot
    meta(name='description', content='Buildbot web UI')
    meta(name='viewport', content='initial-scale=1, minimum-scale=1, user-scalable=no, maximum-scale=1, width=device-width')
    link(rel='stylesheet', href='styles.css')
    link(rel='icon', href='img/favicon.ico')

    body(ng-cloak, ng-app="app")
        block content
        block footer

    script(src="scripts.js?_#{(new Date()).getTime()}")
    | {% for app in config.plugins -%}
    script(src="{{app}}/scripts.js")
    link(rel='stylesheet', href='{{app}}/styles.css')
    script
      | angular.module('app').requires.push('{{app}}')
    | {% endfor %}
    script
      | angular.module("app").constant("config", {{configjson|safe}})
