**/*.pyc
**/dist
**/*.egg-info
**/build
**/node_modules

# Note: not ignoring .git so that build scripts can figure out which version of Buildbot we're
# building.

.dockerignore
.venv*
Dockerfile.master
master/_build
master/docs/manual/mydashboard.html
master/docs/manual/mydashboard.py
_trial_temp
