# All files to globally ignore
*.pyc
*.pyo
*$py.class
*.swp
*.patch
*.orig
*.rej
*.DS_Store
*#
*~
MANIFEST
_trial_temp*
dist
build
.build
*.egg-info
master/docs/buildbot.html
master/docs/buildbot.info
master/docs/buildbot.info-1
master/docs/buildbot.info-2
.stgit-edit.txt
.project
.pydevproject
.settings
master/docs/buildbot
master/docs/version.texinfo
master/docs/docs.tgz
master/docs/latest
twisted/plugins/dropin.cache
.coverage
coverage-html
apidocs/reference
apidocs/reference.tgz
common/googlecode_upload.py
master/docs/tutorial/_build
_build
.tox

npm-debug.log

master/buildbot/status/web/files/.sass-cache
master/buildbot/status/web/files/App.js

master/buildbot/status/web/files/testfail.xml

master/buildbot/status/web/files/test2.xml

master/buildbot/status/web/files/node_modules/grunt-usemin/node_modules/.bin/lodash

master/buildbot/status/web/files/test3.xml

master/buildbot/status/web/files/test.xml

master/buildbot/status/web/files/json_projects.json

master/buildbot/status/web/files/script/project/aadata.json

master/buildbot/status/web/files/prod/script/project/aadata.json

master/buildbot/status/web/files/aadata.json
