# All files to globally ignore
*.pyc
*.pyo
*$py.class
*.swp
*.patch
*.orig
*.rej
*#
*~
MANIFEST
_trial_temp
dist
build
.build
buildbot.egg-info
docs/buildbot.html
docs/buildbot.info
docs/buildbot.info-1
docs/buildbot.info-2
docs/images/master.png
docs/images/overview.png
docs/images/slavebuilder.png
docs/images/slaves.png
docs/images/status.png
.stgit-edit.txt
