master/.git_archival.txt                export-subst
pkg/buildbot_pkg.py                     export-subst
worker/.git_archival.txt                export-subst
www/*/.git_archival.txt                 export-subst

.gitattributes                          export-ignore
.gitignore                              export-ignore
