# All files to globally ignore
*.pyc
*.pyo
*$py.class
*.swp
*.patch
*.orig
*.rej
*#
*~
MANIFEST
_trial_temp*
dist
build
.build
*.egg-info
master/docs/buildbot.html
master/docs/buildbot.info
master/docs/buildbot.info-1
master/docs/buildbot.info-2
.stgit-edit.txt
.project
.pydevproject
.settings
master/docs/buildbot
master/docs/version.texinfo
master/docs/docs.tgz
master/docs/latest
twisted/plugins/dropin.cache
.coverage
coverage-html
apidocs/reference
apidocs/reference.tgz
common/googlecode_upload.py
master/docs/tutorial/_build
_build
.tox
/www
