[submodule "www/src/dojo"]
	path = www/src/dojo
	url = http://github.com/dojo/dojo.git

[submodule "www/src/dijit"]
	path = www/src/dijit
	url = http://github.com/dojo/dijit.git

[submodule "www/src/dojox"]
	path = www/src/dojox
	url = http://github.com/dojo/dojox.git

[submodule "www/src/xstyle"]
	path = www/src/xstyle
	url = http://github.com/kriszyp/xstyle

[submodule "www/src/put-selector"]
	path = www/src/put-selector
	url = http://github.com/kriszyp/put-selector

[submodule "www/src/dgrid"]
	path = www/src/dgrid
	url = http://github.com/SitePen/dgrid

[submodule "www/src/moment"]
	path = www/src/moment
	url = http://github.com/djmitche/moment.git

[submodule "www/src/util"]
	path = www/src/util
	url = http://github.com/dojo/util.git
[submodule "www/src/hamlcc"]
	path = www/src/hamlcc
	url = http://github.com/tardyp/hamlcc.git
[submodule "www/src/haml"]
	path = www/src/haml
	url = http://github.com/creationix/haml-js.git
[submodule "www/src/uglify-js"]
	path = www/src/uglify-js
	url = http://github.com/mishoo/UglifyJS.git
