Brian Warner <warner@lothar.com>
Brian Warner <warner@lothar.com> <warner>
Brian Warner <warner@lothar.com> <warner-buildbot@lothar.com>
Dustin J. Mitchell <dustin@zmanda.com> <dustin@v.igoro.us>
Dustin J. Mitchell <dustin@zmanda.com>
Marcus Lindblom <macke@yar.nu>
Steve "Ashcrow" Milner <smilner@redhat.com> <smilner+buildbot@redhat.com>
Daniel Dunbar <daniel@zuster.org> <ddunbar@smooshlab.apple.com>
Ian Zimmerman <itz@dell-itz.office.sproutsys.com> <itz@sproutsys.com> 
Joshua Kugler <jkugler@hosanna.kugler.localdomain> <joshua@eeinternet.com>
Zooko Wilcox-O'Hearn <zooko@zooko.com>
