Abdelrahman Hussein <abdelrahman@skydiver.(none)>
A. T. Hofkamp <a.t.hofkamp@tue.nl>
Amber Yust <ayust@yelp.com> <amber.yust@gmail.com>
Andrew Melo <andrew.m.melo@vanderbilt.edu> <andrew.melo@gmail.com>
Aurélien Bompard <aurelien@bompard.org>
Ben Hearsum <bhearsum@mozilla.com> <bhearsum@bitters-2.local>
Ben Hearsum <bhearsum@mozilla.com> <bhearsum@foo-ix-blah.wittydomain.in>
Ben Hearsum <bhearsum@mozilla.com> <bhearsum@voot.(none)>
Benoît Allard <benoit@aeteurope.nl>
Benoît Allard <benoit@aeteurope.nl> <al.yazdi+github@gmail.com>
Benoît Allard <benoit@aeteurope.nl> <benoit.allard@gmx.de>
Brian Warner <warner@lothar.com>
Brian Warner <warner@lothar.com> <warner-buildbot@lothar.com>
Brian Warner <warner@lothar.com> <warner>
Brian Warner <warner@lothar.com> <warner@allmydata.com>
Chad S Metcalf <cmetcalf@archrock.com>
Charles Lepple <clepple@gmail.com> <clepple+buildbot@gmail.com>
Chris Soyars <ctsoyars@gmail.com>
Dan Scott <dan@coffeecode.net> <gitorious@coffeecode.net>
Daniel Dunbar <daniel@zuster.org> <ddunbar@lordcrumb.apple.com>
Daniel Dunbar <daniel@zuster.org> <ddunbar@smooshlab.apple.com>
Douglas Hubler <dhubler@bigbird.(none)> <dhubler@localhost.(none)>
Dustin J. Mitchell <dustin@mozilla.com>
Dustin J. Mitchell <dustin@mozilla.com> <dustin@v.igoro.us>
Dustin J. Mitchell <dustin@mozilla.com> <dustin@zmanda.com>
Gary Poster <gary@imposter.home> <gary@gary-ubuntu.(none)>
Gary Poster <gary@imposter.home> <gary@imposter.local>
Georges Racinet <gracinet@purity.racinet.fr> <gracinet@ishtar.(none)>
Geraud Boyer <geraud@gbox.local> <geraud@sparkle.(none)>
Greg Ward <greg@gerg.ca> <gerg.ward+buildbot@gmail.com>
Ian Zimmerman <itz@clustrix.com> <itz@dell-itz.office.sproutsys.com>
Ian Zimmerman <itz@dell-itz.office.sproutsys.com> <itz@sproutsys.com> 
John Carr <john.carr@isotoma.com> <john.carr@unrouted.co.uk>
John Ford <jford@mozilla.com> <john@johnford.info>
John O'Duinn <john@oduinn.com>
Jon Olsson <jon@vexed.se> <jon.olsson@gmail.com>
Jonathan S. Romero <jonnyro@jonnyro-desktop.(none)> <jonnyro@disti-vm-jromero-ubuntu-workstation.(none)>
Joshua Kugler <jkugler@hosanna.kugler.localdomain> <joshua@eeinternet.com>
Justin Wood <Callek@gmail.com>
Justin Wood <Callek@gmail.com> <bugspam.Callek@gmail.com>
Justin Wood <Callek@gmail.com> Justin Wood <callek@gmail.com>
Kristian Nielsen <knmeister@gmail.com> <knielsen@knielsen-hq.org>
Lital Natan <procscsi@gmail.com> <litaln@Lital-Natans-MacBook-Pro.local>
Louis Opter <kalessin@kalessin.fr> <louis@lse.epita.fr>
Louis Opter <kalessin@kalessin.fr> <louis@lse.epitech.net>
Marc-Antoine Ruel <maruel@chromium.org>
Marc-Antoine Ruel <maruel@chromium.org> <maruel@gmail.com>
Marcus Lindblom <macke@yar.nu>
Mark Lakewood <underplank@gmail.com>
Mark Lakewood <underplank@gmail.com> <markl@markl-desktop.(none)>
Matisse Enzer <menzer@apple.com> <menzer@pple.com>
Michael MacDonald <mjmac@pobox.com>
Michael MacDonald <mjmac@pobox.com> <mjmac@vpn-129-150-66-84.east.sun.com>
Nate Bragg <nate.bragg@adb-air.com>
Neil Hemingway <neil.hemingway@googlemail.com>
Neil Hemingway <neil.hemingway@googlemail.com> <neil.hemingway@greyhavens.org.uk>
Nicolas Sylvain <nsylvain@chromium.org> <nsylvain@google.com>
Pierre Tardy <tardyp@gmail.com> <pierre.tardy@intel.com>
Quentin Raynaud <buildbot@undoso.eu> <quentin@LAYLA.KUBUNTU>
Randall Bosetti <rbosetti+gh@gmail.com>
Randall Bosetti <rbosetti+gh@gmail.com> <randall@alyosha.(none)>
Rene Müller <rene.mueller@tracetronic.de>
Rene Müller <rene.mueller@tracetronic.de> <rene@spiwi.tracetronic.de> 
Scott Garman <sgarman@zenlinux.com> <scott.a.garman@intel.com>
Stefan Seefeld <seefeld@sympatico.ca>
Stefan Seefeld <seefeld@sympatico.ca> <stefan@quasimodo.(none)>
Stefan Zager <szager@gmail.com> <szager@google.com>
Steve "Ashcrow" Milner <smilner@redhat.com> <smilner+buildbot@redhat.com>
William Deegan <bill@baddogconsulting.com> <bdbaddog@gmail.com>
Zooko Wilcox-O'Hearn <zooko@zooko.com>
adam <adam@adams-macbook.local> <adam@bastard.(none)>
Harry Borkhuis <harry@aeteurope.nl>
Andy Howell <AndyHowell@austin.rr.com>
