# Travis CI configuration file
# http://about.travis-ci.org/docs/

language: python

python:
  - "2.5"
  - "2.6"
  - "2.7"

env:
  - TWISTED=9.0.0  SQLALCHEMY=latest SQLALCHEMY_MIGRATE=0.7.1
  - TWISTED=10.2.0 SQLALCHEMY=latest SQLALCHEMY_MIGRATE=0.7.1
  - TWISTED=11.1.0 SQLALCHEMY=latest SQLALCHEMY_MIGRATE=0.7.1
  - TWISTED=12.2.0 SQLALCHEMY=latest SQLALCHEMY_MIGRATE=0.7.1
  - TWISTED=13.0.0 SQLALCHEMY=latest SQLALCHEMY_MIGRATE=0.7.1
  - TWISTED=latest SQLALCHEMY=latest SQLALCHEMY_MIGRATE=latest

matrix:
  exclude:
    # Disable not supported Twisted versions on Python 2.5
    - python: "2.5"
      env: TWISTED=12.2.0 SQLALCHEMY=latest SQLALCHEMY_MIGRATE=0.7.1
    - python: "2.5"
      env: TWISTED=13.0.0 SQLALCHEMY=latest SQLALCHEMY_MIGRATE=0.7.1

  include:
    # Test different versions on SQLAlchemy
    - python: "2.7"
      env: TWISTED=12.0.0 SQLALCHEMY=0.6.0 SQLALCHEMY_MIGRATE=0.7.1
    - python: "2.7"
      env: TWISTED=12.0.0 SQLALCHEMY=0.6.8 SQLALCHEMY_MIGRATE=0.7.1
    - python: "2.7"
      env: TWISTED=12.0.0 SQLALCHEMY=0.7.0 SQLALCHEMY_MIGRATE=0.7.1
    - python: "2.7"
      env: TWISTED=12.0.0 SQLALCHEMY=0.7.4 SQLALCHEMY_MIGRATE=0.7.1
    - python: "2.7"
      env: TWISTED=12.0.0 SQLALCHEMY=0.7.8 SQLALCHEMY_MIGRATE=0.7.1
    - python: "2.7"
      env: TWISTED=12.0.0 SQLALCHEMY=latest SQLALCHEMY_MIGRATE=0.6.1
    # Test different versions of SQLAlchemy-migrate
    - python: "2.7"
      env: TWISTED=12.0.0 SQLALCHEMY=latest SQLALCHEMY_MIGRATE=0.6.1
    - python: "2.7"
      env: TWISTED=12.0.0 SQLALCHEMY=latest SQLALCHEMY_MIGRATE=0.7.1
    - python: "2.7"
      env: TWISTED=12.0.0 SQLALCHEMY=latest SQLALCHEMY_MIGRATE=0.7.2

# Dependencies installation commands
install:
  # zope.interface dropped Python 2.5 support in 4.0.0
  - "[ $TRAVIS_PYTHON_VERSION != '2.5' ] || pip install 'zope.interface<4.0.0'"
  - "[ $TWISTED = latest ] || pip install Twisted==$TWISTED"
  - "[ $SQLALCHEMY = latest ] || pip install sqlalchemy==$SQLALCHEMY"
  - "[ $SQLALCHEMY_MIGRATE = latest ] || pip install sqlalchemy-migrate==$SQLALCHEMY_MIGRATE"
  - pushd master; python setup.py develop; popd
  - pushd slave;  python setup.py develop; popd
  # Disable pylint. Latest version doesn't work on Python 2.5 
  # and currently Buildbot doesn't pass pylint tests.
  #- pip install pylint
  - pip install pyflakes
  - pip install sphinx
  # mock is preinstalled on Travis
  # txgithub requires Twisted >= 12.3.0, which doesn't work on Python 2.5.
  - "[ $TRAVIS_PYTHON_VERSION = '2.5' ] || pip install txgithub"

# Tests running commands
script:
  - trial buildbot.test
  - trial buildslave.test

  # Run additional tests only in latest environment
  - |
    if [[ $TRAVIS_PYTHON_VERSION == '2.7' && $TWISTED == latest && \
          $SQLALCHEMY = latest && $SQLALCHEMY_MIGRATE = latest ]]; then
      export IS_LATEST=true
    else
      export IS_LATEST=false
    fi;
  #- make pylint
  - "[ $IS_LATEST = false ] || make pyflakes"
  - "[ $IS_LATEST = false ] || make docs"

notifications:
  email: false
