# Travis CI configuration file
# http://about.travis-ci.org/docs/
addons:
  postgresql: "9.4"
  apt_packages:
    - enchant
    - aspell
    - aspell-en
    - ispell
    - iamerican

services:
  - mysql
  - postgresql

language: python

# Available Python versions:
# http://about.travis-ci.org/docs/user/ci-environment/#Python-VM-images
python:
  - "2.7"

env:
  # lint, docs and coverage first as they're more likely to find issues
  - TWISTED=latest SQLALCHEMY=latest TESTS=lint
  # Configuration when SQLite database is persistent between running tests
  # (by default in other tests in-memory SQLite database is used which is
  # recreated for each test).
  # Helps to detect issues with incorrect database setup/cleanup in tests.
  # Configuration that runs tests with real MySQL database
  - TWISTED=latest SQLALCHEMY=latest TESTS=trial BUILDBOT_TEST_DB_URL=mysql+mysqldb://travis@127.0.0.1/bbtest
  - TWISTED=latest SQLALCHEMY=latest TESTS=trial BUILDBOT_TEST_DB_URL=mysql+mysqldb://travis@127.0.0.1/bbtest?storage_engine=InnoDB
  # Configuration that runs tests with real PostgreSQL database with pg8000 and psycopg2 drivers
  - TWISTED=latest SQLALCHEMY=latest TESTS=trial BUILDBOT_TEST_DB_URL=postgresql+psycopg2:///bbtest?user=postgres
  - TWISTED=latest SQLALCHEMY=latest TESTS=trial BUILDBOT_TEST_DB_URL=postgresql+pg8000:///bbtest?user=postgres

  # Test different versions of SQLAlchemy
  - TWISTED=15.5.0 SQLALCHEMY=0.8.0 TESTS=trial
  - TWISTED=15.5.0 SQLALCHEMY=latest TESTS=trial

  # Configuration to run `python setup.py test` to check this test runner.
  # - TWISTED=latest SQLALCHEMY=latest TESTS=setuppy_test

cache:
  directories:
    - $HOME/.cache/pip
    - www/base/node_modules
    - www/codeparameter/node_modules
    - www/console_view/node_modules
    - www/waterfall_view/node_modules
    - www/nestedexample/node_modules
    - www/base/libs
    - www/codeparameter/libs
    - www/console_view/libs
    - www/waterfall_view/libs
    - www/nestedexample/libs

matrix:
  fast_finish: true
  include:
    # Tests of buildbot-worker on python 2.6
    # Specify SQLALCHEMY=latest to avoid errors installing.
    - python: "3.5"
      env: TWISTED=trunk TESTS=py3status SQLALCHEMY=latest

    - python: "2.6"
      env: TWISTED=14.0.2 TESTS=trial_worker SQLALCHEMY=latest
    # python 3 tests
    - python: "3.5"
      env: TWISTED=latest TESTS=trial_worker SQLALCHEMY=latest

# Dependencies installation commands
install:
  - pip install -U pip
  # codecov is the interface to codecov.io; see after_success
  - pip install codecov
  - "[ $TWISTED != trunk ] || pip install git+https://github.com/twisted/twisted"
  - "[ $TWISTED = latest ] || [ $TWISTED = trunk ] || pip install Twisted==$TWISTED"
  - "[ $SQLALCHEMY = latest ] || pip install sqlalchemy==$SQLALCHEMY"

  # Install mysqlclient for tests that uses real MySQL
  # Install psycopg2 and pg8000 for tests that uses real PostgreSQL
  - |
      [ $TESTS != trial -a $TESTS != coverage -a $TESTS != lint -a $TESTS != js -a $TESTS != py3status ] || \
      pip install -e pkg \
                  -e 'master[tls,test]' \
                  -e 'worker[test]' \
                  mysqlclient \
                  psycopg2 \
                  pg8000 \

  - |
      [ $TESTS != trial_worker ] || \
      pip install -e 'worker[test]'

  # install buildbot_www from pip in order to run the www tests
  - "[ $TESTS != trial -a $TESTS != coverage ] || pip install --pre buildbot_www"


  - "pip install -e worker future"

  - "[ $TESTS != lint ] || pip install 'flake8~=2.6.0'"
  # Install sphinx so that pylint will be able to import it
  - "[ $TESTS != lint ] || pip install sphinx"
  # Install docs dependencies for running the tests
  # until towncrier toml is released, we need to fetch from git :-/
  - "[ $TESTS != docs ] || pip install -e './master[docs]' 'git+https://github.com/tardyp/towncrier'"

  # Check that Twisted is not installed during previous steps on setuppy_test configuration.
  # In setuppy_test all dependencies should be installed by setuptools during tests.
  - "[ $TESTS != setuppy_test ] || ! (pip list | grep Twisted)"
  # Automatic installation of autobahn during `setup.py test` fails due to:
  # https://github.com/pypa/setuptools/issues/500
  - "[ $TESTS != setuppy_test ] || pip install autobahn Twisted"

before_script:
  # create real MySQL database for tests
  - mysql -e 'create database bbtest;'
  # create real PostgreSQL database for tests
  - psql -c 'create database bbtest;' -U postgres

# Tests running commands
script:
  # make frontend_install_tests takes 17 min, so we only do it post submit
  - "[ $TESTS != js -o ${TRAVIS_PULL_REQUEST} = false ] || make frontend"
  - "[ $TESTS != js -o ${TRAVIS_PULL_REQUEST} != false ] || make frontend_install_tests"

  - |
    if [ $TESTS = py3status ]; then
       trial --reporter=summary buildbot.test | tee py3status
       tail -n 1 py3status | python -c "
    import sys, requests, os
    (timeTaken, tests, _, errors, failures, skips) = sys.stdin.read().split()
    requests.post('https://events.buildbot.net/events/py3kstatus', json={'py3kstatus': {
        'timeTaken': float(timeTaken), 'tests': int(tests), 'errors': int(errors), 'failures': int(failures), 'skips': int(skips)
    }, 'env': dict(os.environ)})"
    fi
  - "[ $TESTS != trial ]   || trial  --reporter=text --rterrors buildbot.test buildbot_worker.test"
  - "[ $TESTS != trial_worker ] || trial  --reporter=text --rterrors buildbot_worker.test"
  # run tests under coverage for latest only (it's slower..)
  - "[ $TESTS != coverage ] || coverage run --rcfile=.coveragerc $(which trial) --reporter=text --rterrors buildbot.test buildbot_worker.test"

  # Run additional tests in their separate job
  - "[ $TESTS != lint ] || make pylint"
  - "[ $TESTS != lint ] || make flake8"
  - "[ $TESTS != lint ] || isort --check -df `git ls-files |grep '.py$'`"
  # Build documentation
  - "[ $TESTS != docs ] || make docs"
  # Run spell checker on documentation
  - "[ $TESTS != docs ] || make -C master/docs SPHINXOPTS=-W spelling"
  # Runs Sphinx' external link checker only on post submit build (it is too unstable)
  - "[ $TESTS != docs -o ${TRAVIS_PULL_REQUEST} != false ] || make -C master/docs SPHINXOPTS=-q linkcheck"

  - "[ $TESTS != setuppy_test ] || (cd master; python setup.py test)"
  - "[ $TESTS != setuppy_test ] || (cd worker; python setup.py test)"


notifications:
  email: false

after_success:
  - "[ $TESTS != coverage ] || codecov"

after_script:
  # List installed packages along with their versions.
  - "pip list"

sudo: false
branches:
  # Only build main-line branches.
  only:
    - master
    - eight
    - buildbot-0.9.0
git:
  depth: 300
