# AppVeyor CI
# https://www.appveyor.com/docs

environment:
  matrix:
    # For Python versions available on AppVeyor, see
    # http://www.appveyor.com/docs/installed-software#python
    - PYTHON: "C:\\Python27"
    - PYTHON: "C:\\Python35"
    - PYTHON: "C:\\Python36"

install:
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"
  - "python -c \"import sys; print(sys.prefix)\""
  - "python -c \"import sys; print(sys.exec_prefix)\""
  - "python -c \"import sys; print(sys.executable)\""
  - "python -V -V"
  # Twisted requires pywin32 on Windows in order to spawn processes.
  - "python -m pip install \"pypiwin32<222\""

  # TODO: There is no binary wheel for pysqlite and building on Windows is
  # painful. Let's just substitute sqlite3.dll with never version.
  - ps: |
            [Net.ServicePointManager]::SecurityProtocol = 'Ssl3, Tls, Tls11, Tls12'
            Start-FileDownload 'https://www.sqlite.org/2016/sqlite-dll-win32-x86-3110000.zip'
  - "7z x sqlite-dll-win32-x86-3110000.zip"
  - "copy /y sqlite3.dll %PYTHON%\\DLLs\\"

  - "python -m pip install -U pip"
  - "python -m pip install -r requirements-ci.txt"
  - "python -m pip list"

build: false

test_script:
  - "coverage run --rcfile=common/coveragerc -m twisted.trial --reporter=text --rterrors buildbot.test buildbot_worker.test"
  - ps: |
          echo $ENV:PYTHON
          if ($env:PYTHON -imatch 'C:\\Python27') {
            iex 'pyinstaller -F pyinstaller/buildbot-worker.spec'
            iex 'appveyor PushArtifact dist\\buildbot-worker.exe'
          }

on_success:
  - "coverage xml --rcfile=common/coveragerc -o coverage.xml -i"
  - "codecov"

on_failure:
  # Store _trial_temp directory as artifact on build failure.
  # See <https://www.appveyor.com/docs/packaging-artifacts#pushing-artifacts-from-scripts>
  - ps: |
          $root = Resolve-Path _trial_temp;
          [IO.Directory]::GetFiles($root.Path, '*.*', 'AllDirectories') | % {
              Push-AppveyorArtifact $_ -FileName $_.Substring($root.Path.Length + 1) -DeploymentName trial-log
            }

# Uncomment this part if you want to interactively debug tests on AppVeyor.
# This will pause build at the end and setup RDP server.
# Connection details will be printed in the build log.
# For detail see: https://www.appveyor.com/docs/how-to/rdp-to-build-worker
#on_finish:
#- ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

deploy:
  release: $(APPVEYOR_REPO_TAG_NAME)
  description: 'windows binary for buildbot-worker'
  provider: GitHub
  auth_token:
    secure: HQNlcAyaY9Jznbl77rfNatZG62Gg+qFY7emzj5n3Wu16fkr8dLlFNTKOJlfXO5uK
  artifact: "buildbot-worker.exe"
  draft: false
  prerelease: false
  on:
    appveyor_repo_tag: true        # deploy on tag push only
    PYTHON: "C:\\Python27"
