# AppVeyor CI
# https://www.appveyor.com/docs

environment:
  matrix:
    # For Python versions available on AppVeyor, see
    # http://www.appveyor.com/docs/installed-software#python
    - PYTHON: "C:\\Python27"

install:
  # Twisted requires pywin32 on Windows in order to spawn processes.
  - "%PYTHON%\\python.exe -m pip install pypiwin32"

  # AppVeyor has SQLite 3.6.21, and Buildbot prefers at least 3.7,
  # install third-party SQLite.
  #- "%PYTHON%\\python.exe -m pip install pysqlite"

  # TODO: There is no binary wheel for pysqlite and building on Windows is
  # painful. Let's just substitude sqlite3.dll with never version.
  - "curl -O https://www.sqlite.org/2016/sqlite-dll-win32-x86-3110000.zip"
  - "7z x sqlite-dll-win32-x86-3110000.zip"
  - "copy /y sqlite3.dll %PYTHON%\\DLLs\\"
  
  - "%PYTHON%\\python.exe -m pip install -e pkg"
  - "%PYTHON%\\python.exe -m pip install -e master[tls,test]"
  - "%PYTHON%\\python.exe -m pip install -e worker"

  # Install prebuilt WWW packages, it's not easy to build them.
  - "%PYTHON%\\python.exe -m pip install --pre buildbot_www"

  - "%PYTHON%\\python.exe -m pip list"

build: false

before_test:
  # Add Scripts directory to path, so that "buildbot" and "buildbot-worker"
  # commands will be available.
  - cmd: SET "PATH=%PATH%;%PYTHON%\Scripts"

test_script:
  - "%PYTHON%\\python.exe -m twisted.trial --reporter=text --rterrors buildbot.test buildbot_worker.test"

on_failure:
  # Store _trial_temp directory as artifact on build failure.
  # See <https://www.appveyor.com/docs/packaging-artifacts#pushing-artifacts-from-scripts>
  - ps: |
          $root = Resolve-Path _trial_temp;
          [IO.Directory]::GetFiles($root.Path, '*.*', 'AllDirectories') | % {
              Push-AppveyorArtifact $_ -FileName $_.Substring($root.Path.Length + 1) -DeploymentName trial-log
            }

# Uncomment this part if you want to interactively debug tests on AppVeyor.
# This will pause build at the end and setup RDP server.
# Connection details will be printed in the build log.
# For detail see: https://www.appveyor.com/docs/how-to/rdp-to-build-worker
#on_finish:
#- ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
