autobahn==0.12.1
decorator==4.0.6
extras==0.0.3
future==0.15.2
Jinja==1.2
Jinja2==2.8
linecache2==1.0.0
MarkupSafe==0.23
pbr==1.8.1
pyrsistent==0.11.11
python-dateutil==2.4.2
python-mimeparse==1.5
python-subunit==1.2.0
six==1.10.0
sqlalchemy==0.7.10
sqlalchemy-migrate==0.7.2
sqlparse==0.1.18
Tempita==0.5.2
testtools==1.9.0
traceback2==1.4.0
Twisted==15.5.0
txaio==2.2.1
unittest2==1.1.0
wheel==0.26.0
zope.interface==4.1.3
