
include MANIFEST.in README README.w32 NEWS CREDITS COPYING UPGRADING

include docs/examples/*.cfg
include docs/*.texinfo docs/buildbot.info* docs/buildbot.html
include docs/*.png docs/images/*.png docs/images/*.svg docs/images/*.txt docs/images/*.ai
include docs/images/icon.blend docs/images/Makefile
include docs/epyrun docs/gen-reference docs/Makefile
include docs/version.py

include buildbot/db/schema/tables.sql
include buildbot/scripts/sample.cfg
include buildbot/status/web/files/*
include buildbot/status/web/templates/*.html buildbot/status/web/templates/*.xml
include buildbot/clients/debug.glade
include buildbot/buildbot.png
include ChangeLog*
include test-dist.sh

include contrib/* contrib/windows/* contrib/os-x/* contrib/css/*
include contrib/trac/* contrib/trac/bbwatcher/* contrib/trac/bbwatcher/templates/*
