Sphinx==7.1.2;  python_version < "3.9" # pyup: ignore
Sphinx==7.2.6;  python_version >= "3.9"
sphinx-jinja==2.0.2
sphinx-rtd-theme==2.0.0
sphinxcontrib-applehelp==1.0.4;  python_version < "3.9" # pyup: ignore
sphinxcontrib-applehelp==1.0.8;  python_version >= "3.9"
sphinxcontrib-devhelp==1.0.2;  python_version < "3.9" # pyup: ignore
sphinxcontrib-devhelp==1.0.6;  python_version >= "3.9"
sphinxcontrib-htmlhelp==2.0.1;  python_version < "3.9" # pyup: ignore
sphinxcontrib-htmlhelp==2.0.5;  python_version >= "3.9"
sphinxcontrib-jquery==4.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3;  python_version < "3.9" # pyup: ignore
sphinxcontrib-qthelp==1.0.7;  python_version >= "3.9"
sphinxcontrib-serializinghtml==1.1.5;  python_version < "3.9" # pyup: ignore
sphinxcontrib-serializinghtml==1.1.10;  python_version >= "3.9"
sphinxcontrib-spelling==8.0.0
sphinxcontrib-websupport==1.2.4;  python_version < "3.9" # pyup: ignore
sphinxcontrib-websupport==1.2.7;  python_version >= "3.9"
Pygments==2.17.2
towncrier==23.11.0
