pip==24.0; python_version < "3.8"  # pyup: ignore
pip==24.3.1; python_version >= "3.8"
setuptools==68.0.0; python_version < "3.8"  # pyup: ignore
setuptools==75.2.0; python_version >= "3.8"
wheel==0.42.0; python_version < "3.8"  # pyup: ignore
wheel==0.44.0; python_version >= "3.8"
