alabaster==0.7.12
alembic==1.7.7
appdirs==1.4.4
asn1crypto==1.5.1
astroid==2.11.4
attrs==21.4.0
autobahn==22.3.2
Automat==20.2.0
Babel==2.10.1
backports.functools-lru-cache==1.6.4
boto3==1.18.1
boto==2.49.0
botocore==1.21.1
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
click-default-group==1.2.2
click==8.1.3
codecov==2.1.12
configparser==5.2.0
constantly==15.1.0
cookies==2.2.1
coverage==6.3.2
cryptography==3.4.7
decorator==5.1.1
dicttoxml==1.7.4
dill==0.3.5.1
docker==5.0.3
docutils==0.17.1
extras==1.0.0
fixtures==3.0.0
flake8==4.0.1
funcsigs==1.0.2
future==0.18.2
graphql-core==3.2.1
greenlet==1.1.2
hvac==0.10.11
hyperlink==21.0.0
idna==2.10  # pyup: ignore (conflicts with moto on master)
imagesize==1.3.0
incremental==21.3.0
ipaddress==1.0.23
isort==4.3.21   # pyup: ignore (until https://github.com/PyCQA/pylint/pull/3725 is merged)
Jinja2==3.1.2
jmespath==0.10.0
jsonref==0.2
lazy-object-proxy==1.4.1  # pyup: ignore (required by astroid)
ldap3==2.9.1
lz4==4.0.0
Mako==1.2.0
markdown2==2.4.3
MarkupSafe==2.1.1
mccabe==0.6.1
mock==4.0.3
more-itertools==8.13.0
moto==2.1.0
msgpack==1.0.3
olefile==0.46
packaging==21.3
parameterized==0.8.1
pathlib2==2.3.7.post1
pbr==5.8.1
pep8==1.7.1
Pillow==9.1.1
platformdirs==2.5.2
psutil==5.9.0
pyaml==21.10.1
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycodestyle==2.8.0
pycparser==2.21
pyenchant==3.2.2
pyflakes==2.4.0
PyJWT==2.4.0
pylint==2.13.8
pyOpenSSL==20.0.1
pyparsing==3.0.8
pypugjs==5.9.11
python-dateutil==2.8.2
python-subunit==1.4.0
pytz==2022.1
PyYAML==6.0
requests==2.27.1
responses==0.20.0
ruamel.yaml.clib==0.2.6
ruamel.yaml==0.17.21
s3transfer==0.5.2
scandir==1.10.0
service-identity==21.1.0
setuptools-trial==0.6.0
singledispatch==3.7.0
six==1.16.0
snowballstemmer==2.2.0
SQLAlchemy==1.4.36
sqlparse==0.4.2
termcolor==1.1.0
testtools==2.5.0
toml==0.10.2
tomli==2.0.1
towncrier==21.9.0
treq==22.2.0
Twisted==22.4.0
txaio==22.2.1
txrequests==0.9.6
typing_extensions==4.2.0
unidiff==0.7.3
urllib3==1.26.9
webcolors==1.11.1
websocket-client==1.3.2
Werkzeug==2.1.2
wrapt==1.14.1
xmltodict==0.12.0
zope.interface==5.4.0
-e master
-e worker
-e pkg
# we install buildbot www from pypi to avoid the slow nodejs build at each test
buildbot-www==3.2.0
