attrs==21.4.0;  python_version < "3.6"
attrs==22.1.0;  python_version >= "3.6"
autobahn==22.7.1;  python_version >= "3.7"
autobahn==20.12.3;  python_version < "3.7" and python_version >= "3.6"  # pyup: ignore
Automat==20.2.0
cffi==1.15.1;  python_version >= "3.6"
constantly==15.1.0
cryptography==37.0.4;  python_version >= "3.6"
funcsigs==1.0.2
future==0.18.2
hyperlink==21.0.0
idna==2.10  # pyup: ignore (conflicts with moto on master)
incremental==21.3.0;  python_version >= "3.6"
incremental==17.5.0;  python_version < "3.0"  # pyup: ignore
# pin mock, because 4.x no longer supports Python 3.5
mock==3.0.5  # pyup: ignore
parameterized==0.8.1
pbr==5.10.0
# pin PyHamcrest, because 2.x no longer supports Python 2.7
PyHamcrest==1.9.0  # pyup: ignore
psutil==5.9.1
pycparser==2.21;  python_version >= "3.6"
six==1.16.0
Twisted==22.4.0;  python_version >= "3.6"
Twisted==20.3.0;  python_version < "3.6"  # pyup: ignore
txaio==22.2.1;  python_version >= "3.6"
typing-extensions==4.3.0;  python_version >= "3.7"
typing-extensions==4.3.0;  python_version < "3.7" and python_version >= "3.5"
zope.interface==5.4.0
-e worker
