@charset "UTF-8";
/**
* Base variables and function definitions
* Unity3d
* @section framework
* @author Sumon Holm
*/
 
// Colors
  
// Generics
$color-white: rgb(255,255,255); // white

// UI colors
$color-ui-a: rgb(255,255,255); 

// Button colors

// Font colors
$color-font-grey: #666; // grey

$color-blind-success: #00FF00;
$color-blind-failure: #FF0000;
$color-blind-exception: #DD00DC; 
$color-blind-warnings: #FFA100; 
$color-blind-skipped: #008EE6; 
$color-blind-inconclusive: #0025EF; 
$color-blind-ignored: #008EE6; 
$color-blind-not-rebuilt: #99FC00;
$color-blind-dependency-failure: #FFB5ED;


  
$color-success:#DDE6D6;
$color-failure:#EFCFCF;
$color-exception:#DDD7DD;
$color-warnings:#fa3;
$color-skipped:#CBDCE6;
$color-inconclusive:#CBDCE6;
$color-ignored:#CBDCE6;

// for not implemented content
.notimpl {color:#838383 !important;}

// status colors
.success {
	background-color: #DDE6D6;
}

.color-blind-mode {
	.success {
		background-color: $color-blind-success;		
	}
	.failure {
		background-color: $color-blind-failure;	
		color: #fff;
		a {color: #fff;} 
	}
	.exception {
		background-color:$color-blind-exception;
		color: #fff;
		a {color: #fff;} 
	}
	.warnings {
		background-color:$color-blind-warnings;
		color: #fff;
		a {color: #fff;} 
	}
	.skipped {
		background-color:$color-blind-skipped;
		color: #fff;
		a {color: #fff;} 
	}
	.not_rebuilt {
		background-color: $color-blind-not-rebuilt;
	}
    .dependency_failure {
      background-color: $color-blind-dependency-failure;
    }
}
    
.table-1 {
	.success,
	.failure,
	.skipped,
	.exception,
	.retry,
	.current-step,
	.running,
	.waiting,
	.offline,
	.idle,
	.not_rebuilt
	 {
		border-top:1px solid #fff;
	}
}

.table-1 tr .success:first-child {
	border-top:none;
}

.not_rebuilt {
	background-color: #F8FCF2;
}

.dependency_failure {
  background-color: #FCF2F2;
}

.failure {
	background-color: #EFCFCF;
}

.warnings {
	color: #FFFFFF;
	background-color: #fa3;
	border-color: #C29D46;
}

.skipped {
	background: #CBDCE6;
}

.exception,.retry {
	background-color: #DDD7DD;
}

.start {
	color: #000;
	background-color: #ccc;
	border-color: #ccc;
}

.running,.waiting,td.building, .current-step {
	background-color: #FCFACB;	
}

.overtime {
	background-color: #FCCBCB;
}

.offline,td.offline {
    background-color: #E7E7E7;
    @include text-shadow(0 1px 0 #fff);
}

.idle,td.idle {
    background-color: #F5F5F5;
    @include text-shadow(0 1px 0 #fff);
}
