/**
* Base variables and function definitions
* Unity3d
* @section framework
* @author Sumon Holm
*/

// Colors

// Generics
$color-white: rgb(255,255,255); // white

// UI colors
$color-ui-a: rgb(255,255,255); 

// Button colors

// Font colors
$color-font-grey: #666; // grey