@charset "UTF-8";
/**
* Global stylesheet
* Unity3d
* @section modules
* @author Simon Holm
*/
html {
	background-color: #fff;
	&.no-background {
		background-color: transparent;
	}
}

body.interface {
	margin: 0;
	padding: 0;
	background:#EBEEF1 url(/images/bg_noise.png);
	font-family: arial, sans-serif;
	font-size: 12px;
	color: #444;
	letter-spacing:0.4px;
	-webkit-font-smoothing: antialiased;
}

a:link,a:visited,a:active {
	color: #2b6194;
	text-decoration: none;
}

a:hover {

	color: #BDC9D5;
}

table {
	border-spacing: 1px 1px;
}

table td {
	padding: 3px 4px 3px 4px;
	text-align: center;
}

ul {
	padding: 0;
	margin:0;	

}
li {
	padding: 0;
	margin:0;
	list-style:none;
}