extends layout

block scripts
    script(src="tests.js")
block content
    gl-page-with-sidebar
        gl-topbar.noselect
            gl-topbar-contextual-actions
            gl-notification
            li.dropdown
                a.dropdown-toggle(href='#')
                  img.avatar(src='img/avatar.jpg')
                ul.dropdown-menu.dropdown-menu-right
                    li.dropdown-header
                        | Joe Bloggs
                    li.divider
                    li.link
                        a(href='#')
                            | Profile
                    li.link
                        a(href='#')
                            | Menu Item
                    li.link
                        a(href='#')
                            | Menu Item
                    li.divider
                    li.link
                        a(href='#')
                            | Logout
        ui-view
