extends layout.jade

block scripts
    script(src="tests.js")
block content
    gl-page-with-sidebar
        gl-topbar.noselect
            gl-topbar-contextual-actions
            gl-notification
            li(uib-dropdown)
                a(uib-dropdown-toggle,href='#')
                  img.avatar(src='img/avatar.jpg')
                ul.dropdown-menu.dropdown-menu-right(uib-dropdown-menu)
                    li.dropdown-header
                        | Joe Bloggs
                    li.divider
                    li.link
                        a(href='#')
                            | Profile
                    li.link
                        a(href='#')
                            | Menu Item
                    li.link
                        a(href='#')
                            | Menu Item
                    li.divider
                    li.link
                        a(href='#')
                            | Logout
        ui-view
