.container
  .row
    .col-sm-6
      | status: {{step.state_string}}
      ul.unstyled
        li(ng-repeat="log in step.logs")
          a(ui-sref="log({builder:builder.builderid, build:build.number, step: step.number, log:log.slug})") {{log.name}}
      ul.unstyled
        li(ng-repeat="url in step.urls")
          a(target="_blank", ng-href="{{url.url}}") {{url.name}}
    .col-sm-6
      rawdata(data="step")
