# This template file assumes the buildbot worker lives in a subdirectory od
# /var/lib/buildbot
# Usage:
#   cd /var/lib/buildbot
#   buildbot-worker create-worker [directory] [master hostname] [name] [password]
#   systemctl enable --now buildbot-worker@[directory].service
# You may also want to install extra files per common/contrib/systemd/README.md
# to create the buildbot user/group and the /var/lib/buildbot directory
[Unit]
Description=Buildbot Worker
After=network.target

[Service]
User=buildbot
Group=buildbot
WorkingDirectory=/var/lib/buildbot/
ExecStart=/usr/bin/buildbot-worker start --nodaemon %I
# if using EC2 Latent worker, you want to uncomment following line, and comment out the Restart line
# ExecStopPost=shutdown now
Restart=always
ProtectSystem=full
ProtectHome=yes
PrivateDevices=yes
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
