

.log-main .main-head {
	font-size: 17px;
    margin: 0 0 11px;

}
.log-main .main-head.big {
	color: #FFFFFF;
    float: left;
    font-size: 18px;
    margin: 20px 0 0 25px;
    padding: 0;
    text-shadow: none;
}


.log-main .dataTables_wrapper .dataTables_filter {
	display:none;
}

.log-main .grey-btn {
	  padding: 6px 9px;
	  margin-left: 5px;
}

.log-main .dataTables_filter {
	float: right;
    margin-bottom: 0;
    margin-top: 12px;
    label {
    	color:#fff;
    }
}

.log-main .table-1 {
	margin-bottom: 44px;
}

.log-main .sub-menu-container {
	 border-top: none;
	 @include background-image (linear-gradient(center top , #0A3569 0%, #417FB1 100%));
	 @include pie-clearfix;
}

.log-main h1.logo a {
	color: #FFFFFF;
    float: left;
    font-size: 31px;
    margin-bottom: 2px;
    margin-top: -2px;
    opacity: 0.57;
    @include text-shadow (none);
}

.log-main h1.logo a span {
    font-family: 'Leckerli One',cursive;
    font-size: 30px;
}

.summary-list {
	list-style:none;
    margin: 8px 0 0;
    padding:0;
    float:right;
    line-height: 11px;
	li {
		color: #939393;
		@include text-shadow (0 1px 0 #fff); 
		font-size: 12px;
		list-style:none;
    	margin: 0 0 0 13px;
		border-left:1px solid #939393;
		float: left;
		padding:0 0 0 14px;
		&:first-child {
			border-left:none;
			padding-left:0;
			margin-left: 0;
		}
		span {
			font-weight: bold;
		}

	}
}

.back-top-top {
	clear: both;
    display: block;
    float: left;
    margin-top: -37px;
}
.link-1 {font-weight:bold;}

.log-main .table-1.first-child tr th:first-child {
	width:50%;
}

//.case-names {display:none;}
