/**
* Main implementation.
*
* @section page-elements
* @author Simon Holm
*/

.success {
	background-color: #DDE6D6;
}
 
.table-1 .success {
	border-top:1px solid #fff;
}

.table-1 tr .success:first-child {
	border-top:none;
}

.failure {
	background-color: #EFCFCF;
	border-top:1px solid #fff;
}

.warnings {
	color: #FFFFFF;
	background-color: #fa3;
	border-color: #C29D46;
}

.skipped {
	background: #CBDCE6;
	border-top: 1px solid #FFFFFF;
}

.exception,.retry {
	background-color: #DDD7DD;
	border-top: 1px solid #FFFFFF;
}

.start {
	color: #000;
	background-color: #ccc;
	border-color: #ccc;
}

.running,.waiting,td.building, .current-step {
	background-color: #FCFACB;
	border-top:1px solid #fff;
}

.offline,td.offline {
    background-color: #E7E7E7;
}

.table-1 .offline  {
	border-top: 1px solid #FFFFFF;
}

.result {
	padding: 4px 9px;
	display:inline-block;
}

// tables
.table-1,
.table-2 {
	width:100%;
	background-color:#fff;
	font-size:12px;
	border:1px solid #ccc;
	@include box-shadow(1px 1px 0 #FFFFFF);
	border-collapse: inherit;
	border-spacing:0;
	clear:both;
	.txt-align-left {
		text-align:left;	
	}
	.txt-align-right {
	text-align:right;
}
	th {
		padding:15px 10px;
		background-color:#EEF0F5;
		@include text-shadow(0 1px 0 #fff);
		border-top:1px solid #FFFFFF;
	}
	&.tablesorter th {
		border-right: 1px solid #CCCCCC;
    	border-left: 1px solid #FFFFFF;
    	&:last-child {
    		border-right:none;
    	}

	}
	td {
		padding:15px 10px;		
		//border-bottom:1px solid #DADADA;
		border-bottom:1px solid #C8C8C8;
		&.buttontd {
			width: 80px;
		}
	}
	.last td,
	tr:last-child td {
		padding-bottom:20px;
		border-bottom:none;
	}
	tr:first-child td {
		border-top:none;
	}
}

.table-1.first-child tr td:first-child,
.table-1.first-child tr th:first-child {
	padding-left:15px;
}

.table-1.first-child tr th:first-child {
	border-left:1px solid #fff;
}

.table-1 { 
	.more-info:after {
		display: inline-block;
	}
	.checkboxes {
		width:0;
		padding-right:15px;
	}
	.box {
		font-weight: bold;
	}
}

.table-2 {
	td,
	th {
		text-align:left;	
	}
	tr td:first-child {
		padding-left:15px;
		font-weight: bold;
		width: 23%;
	}
	tr th:first-child {
		padding-left:15px;
		border-left:1px solid #fff;
	}
	tr:nth-child(odd) {
		background-color: #F2F2F2;
	}
	
	tr:nth-child(odd) td {
		border-top:1px solid #fff;
	}

	tr:last-child td {
		border-bottom:none;
	}
	&.m-bottom {
		margin-bottom:25px;
	}
	&.no-bg tr:nth-child(odd) {
		background-color: transparent;	
		td {
			border-top:none;		
		}
	}
}

.tablesorter {
	th {
		&:after {
			content:"▾";
			float: right;			
			font-size: 20px;
    		line-height: 0;
			color: #B5B5B5;
			margin-top: 6px;
		}
		&:hover {
			background-color: #E5E7EB;
			cursor: pointer;
		}
	}
	
	th.sorting_asc {
		background-color:#98AFC8;	
		color:#fff;
		@include text-shadow (0 -1px 0 #666);
		&:after {
			color:rgba(255, 255, 255, 0.59);
			@include text-shadow (none);
		}

	}
	th.sorting_desc {
		background-color:#98AFC8;	
		color:#fff;
		@include text-shadow (0 -1px 0 #666);
		&:after {
			margin-top: 11px;
			@include transform (rotate(180deg));
			content:"▾";
			color:rgba(255, 255, 255, 0.59);
			@include text-shadow (none);
		}
	}
}

.dataTables_filter {
	float: right;
	margin-bottom: 15px;
	label {
		font-size: 12px;
		font-weight: bold;
	}
	input {
		margin-left:7px;
	    border: 1px solid #CCCCCC;
	    @include border-radius (4px);
	    @include box-shadow (2px 2px 4px #DEDEDE inset, 0 0 4px whitesmoke inset);
	    color: #666666;
	    font-size: 12px;
	    line-height: 13px;
	    padding: 7px 11px 6px;
	   	@include text-shadow (0 1px 0 white);
	    width: 95px;
	
	}
}
 

.select-tools {
	font-size: 12px;
	float:right;
	color: #666;
    font-size: 12px;
    margin-bottom: 10px;
    padding: 1px;
    width: 117px;
    &.var-1 {
    	width: 100%;
    	margin-top: 0;
    	float: none;
    	background-color: #A3A3A3;
    	border: 0 none;	
    	color: #fff;
    	padding: 3px;
    }
}

.chrome.win .grey-btn.var-1:after {
	content:"";	
}
// utilities

.pos-relative {
	position:relative;
}

div.last {
	margin-right: 0;
}

.clear {clear: both;}

.divider {
 	background-color: #E5E5E5;
    height: 1px;
    margin: 20px 0;
    overflow: hidden;
}

.step-head {
	position: relative;
	display:block;
	margin-bottom:3px;
	/*
	&:before {
	    left: -36px;
	    position: absolute;
	    top: -8px;
	}*/
}

.step-list {
	@include pie-clearfix;
	//counter-reset: li; /* Initiate a counter */
	list-style: none outside none;
	margin: 0;
    padding: 0;
    .index-count {
    	color: #666666;
	    float: left;
	    font-size: 33px;
	    font-weight: bold;
	    margin-left: -57px;
	    margin-top: -10px;
	    min-width: 32px;
	    text-align: right;
    }
	.not_started {
		background-color:#eee;
		&:before {
			content:"Not started";
		}
	}
	.retry:before {
		content:"Retry";	
	} 
	.success:before {
		content:"Success";	
	}
	.running {
		&:before {
			content:"Running";		
		}
	}
	.waiting {
		&:before {
			content:"Waiting for locks";		
		}
	}
	.failure {
		&:before {
			content:"Failed";				
		}
	}
	.skipped {
		&:before {
			content:"Skipped";				
		}	
	}
	li {
	   	margin-bottom: 14px;
    	padding-bottom: 15px;
	}
	&> li {
		border-bottom:1px dotted #ccc;
		margin-left: 47px;
	    padding-left: 0;
	    padding-right: 0;
		&:first-child {
    		padding-top: 15px;
		}
	}
	
	.result {
		padding: 2px 7px;
		float: right;
		display: inline-block;
	}	
	p {
		margin:0 60px 11px 0;
		color: #666;
		&> span { 
			color: #666666;
		    display: block;
		    font-weight: bold;
		    padding-top: 3px;
		}
	}
}

.logs-txt {
	display:block;
	margin-bottom:3px;
}

.log-list {
	list-style:none;
	padding:0;
	margin:0;
	@include pie-clearfix;
	span {
	    color: #999999;
	    display: block;
	    margin-top: -2px;
	}
	li {
		list-style:none;
		padding:0;
		margin:0 0 1px ;
	}
}

.force-list,
.force-bool {
		display:block;
		margin-bottom: 11px;
		overflow: auto;
	.label {
		display:block;
		float:left;
		font-weight:bold;
		width: 84px;
		color: #333;
	}
	.select {
		display:block;
		float:left;
	}
}

div.force-text {
	clear: both;
    margin-bottom: 11px;
    @include pie-clearfix;
	input[type="text"] {
		border: 1px solid #CCC;
	    @include border-radius(4px);
	    color: #666;
	    display: block;
	    float: left;
	    padding: 7px;		
	    width: 220px;
	}
	.label {
		display:block;
		float:left;
		font-weight:bold;
		width: 84px;
		color: #333;
		margin-top: 6px;
	}	
}

.command_forcebuild {
	.grey-btn, .clear-btn {
		float:right;
		margin-bottom:23px;	
	}
	.clear-btn {
		margin-right:15px;
	}

}

.builders-list,
.builders-list li {
	margin:0;
	padding:0;
	list-style:none;
	line-height: 19px;
}

.mod-1.more-info:after {
	margin-left:5px;
}

.more-info:after {
	@include background-image (linear-gradient(right center , #DFE2EA 0%, #EEF0F5 100%));
    border: 1px solid #C4C4C4;
    @include border-radius (4px);
    color: #2B2B2B;
    content: "❯";
    display: inline-block;
    font-family: Tahoma;
    font-size: 12px;
    padding: 1px 7px 5px;
    @include text-shadow (1px 0 0 #FFFFFF);
    @include transform (rotate(90deg));
    .chrome.win & {
    	content: "▾";
    	@include transform (none);
    	font-size: 18px;
    	line-height: 13px;
    	padding: 2px 5px 4px;
    }
}

.more-info:hover:after {
	@include background-image (linear-gradient(right center , #F2F6FE 0%, #F8FAFF 100%));
}

.more-info.before:before {
	content:"▼";	
}

.more-info.before:after {
	content:"";		
}

.dropdown-info:after {
	content: "▼";
}

// more info box
.more-info-box {
	z-index:1;
  	border: 1px solid #FFFFFF;
    display: none;
    padding: 23px 20px 23px 20px;
    text-align: left;
    min-width:280px;
    overflow-y: auto; 
	//width:auto;/*can be % px auto*/
	z-index:200;
	float:left;
	color:#333;
    @include text-shadow(0 1px 0 #FFFFFF);
	@include border-radius(8px);
    @include box-shadow(1px 1px 9px rgba(0, 0, 0, 0.37));
    @include background-image(linear-gradient(center top , rgba(255, 255, 255, 0.93) 0%, #F8F8F9 100%));
    //@include background-image(linear-gradient(center top, #FFF 0%, #F8F8F9 100%)); 
    text-align:left;
    p {
    	margin-bottom: 10px;
    	margin-top: 0;
    }
    span {
    	color: #8C8C8C;
    }
    h4 {
		display: inline-block;
	    margin: 0 0 13px 0 ;
	    padding:0;
	    &.last {
			margin-bottom:5px;
	    }
    }
    h3 {
		display: inline-block;
	    font-size: 16px;
	    font-weight: bold;
	    margin: 0 0 19px;
	    padding: 0;	  ;
	    .dropdown & {
    		margin: 34px 0 -33px;
    		display: block;
    	}
    }

}

// lists
.list {
	margin:0;
	padding:0;
	list-style:none;
	> ul {
		margin:0;
		padding:0;
		list-style:none;
	}
	> li {
		margin:0 0 10px 0;
		padding:0;
		list-style:none;
	}
}

.pending-job-list { 
	list-style:none;
    margin: 0;
    padding: 0;
    background-color:#F4F4F4;
    border: 1px solid #D9D9D9;
    padding: 11px;
    @include border-radius (7px);
    .more-info-box & {
		background-color: #FFF;
	    padding: 21px;
	    width: 345px;
    	li {
    		padding: 15px 0;
    		border-top:1px solid #e5e5e5;
    	}
    }
    li {
		width: 100%;
		display:table;
		padding: 8px 0;
    	@include pie-clearfix;
    	input {
			vertical-align: text-top;
    	}
    	form {
    		display:table-cell;
    		vertical-align: middle;    	
    		text-align: right;
    	}
    	&:first-child {
    	 	border-top:none;
    	 	padding-top:0;
    	}
    	&:last-child {
    		padding-bottom:0;
    	}
	
    }
}

.error-input {
 	background-color: rgba(238, 206, 206, 0.42);
    border: 1px solid #DDC0C0;
    border-radius: 4px 4px 4px 4px;
    font-weight: bold;
    padding: 8px;
    margin-bottom:15px;
}

div.force-text input.not-valid {
	border:1px solid #E42323;
}

.curent-job-list {
	margin:0;
	padding:0;
	list-style:none;
	li {
		margin:0 0 10px 0;
		padding:0;
		list-style:none;	
	}
}

.btn-list {
	list-style:none;
	padding:0;
	margin:0;
	display:inline-block;
	li {
		list-style:none;
		padding:0;
		margin:0;
		margin-bottom:15px;
	}
	&.horisontal li {
		float: left;
		margin:0 15px 0 0;
	}
}

.txt-cont {
	padding-right:10px;	
	display:table-cell;
	margin-bottom:0;
	vertical-align: middle;
}

.rebuild,
.stopbuild {
	margin-bottom:20px;
	.label {
	    display: block;
	    font-weight: bold;
	    margin-bottom: 7px;
	}
	input[type="text"] {
	    border: 1px solid #CCCCCC;
	    border-radius: 6px;
	    color: #666666;
	    margin-right: 5px;
	    padding: 5px 8px;
	}
	
}

.rebuild, 
.cancelbuild,
.stopbuild {
		.grey-btn {
			padding: 5px 9px;
		}
	}

// Typography

.main-head {
    margin: 34px 0 17px;
    float: left;
}

.small-head {
	display:inline-block;
	margin-bottom:5px;
}

.head-2 {
	margin:0 0 10px 0 ;
	padding:0;
}

.notimpl {color:#838383 !important;}
#content {
	min-height: 89px;
    position: relative;
}

#bowlG{
height: 30px;
left: 42%;
position: absolute;
top: 22%;
width: 30px;
}

#bowl_ringG{
position:absolute;
width:30px;
height:30px;
border:3px solid #BBBBBB;
@include border-radius(30px);
@include box-shadow(1px 1px 1px #fff);
}

.ball_holderG{
position:absolute;
width:8px;
height:30px;
left:11px;
top:0px;
-moz-animation-name:ball_moveG;
-moz-animation-duration:1.3s;
-moz-animation-iteration-count:infinite;
-moz-animation-timing-function:linear;
-webkit-animation-name:ball_moveG;
-webkit-animation-duration:1.3s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-timing-function:linear;
-ms-animation-name:ball_moveG;
-ms-animation-duration:1.3s;
-ms-animation-iteration-count:infinite;
-ms-animation-timing-function:linear;
-o-animation-name:ball_moveG;
-o-animation-duration:1.3s;
-o-animation-iteration-count:infinite;
-o-animation-timing-function:linear;
animation-name:ball_moveG;
animation-duration:1.3s;
animation-iteration-count:infinite;
animation-timing-function:linear;
}

.ballG{
position:absolute;
left:0px;
top:-7px;
width:12px;
height:12px;
background: #BBBBBB;
@include border-radius(10px);
}

@keyframes ball_moveG {
	0%{
-moz-transform:rotate(0deg)}

100%{
-moz-transform:rotate(360deg)}	
}

@-moz-keyframes ball_moveG{
0%{
-moz-transform:rotate(0deg)}

100%{
-moz-transform:rotate(360deg)}

}

@-webkit-keyframes ball_moveG{
0%{
-webkit-transform:rotate(0deg)}

100%{
-webkit-transform:rotate(360deg)}

}

@-ms-keyframes ball_moveG{
0%{
-ms-transform:rotate(0deg)}

100%{
-ms-transform:rotate(360deg)}

}

@-o-keyframes ball_moveG{
0%{
-o-transform:rotate(0deg)}

100%{
-o-transform:rotate(360deg)}

}

@keyframes ball_moveG{
0%{
transform:rotate(0deg)}

100%{
transform:rotate(360deg)}

} 

.shake { 
	 @include animate (shake);
}

// login box
.login-box {
	  
	&.more-info-box {
		display: block;
	    float: none;
	    padding: 44px 19px 16px 38px;
	    width: 298px;
		h3 {
			display: block;	
		}
		.login-welcome-txt {
			@include text-shadow(0 1px 0 #FFFFFF);
			color: #666666;
		    font-size: 14px;
		    margin-bottom: 15px;
		    clear: both;
		}
	}
	h1.logo a {
			opacity: 1;
		   	color: #445873;
		    display: block;
		    float: none;
		    font-size: 1.7em;
		    margin-bottom: 26px;
		    padding: 0;
		    margin-right: 14px;
		span {
			font-size: 0.8em;
			color:#445873;
		}
		&:hover {
			opacity: 0.5;
		}
	}
	.error-input {
		font-size: 14px;
		font-weight: normal;
		@include text-shadow(0 1px 0 #FFFFFF);
	}
}

.log-in-txt {
	font-size:12px;
}

// user login


.auth {
	margin: 25px 25px 25px 6px;
	
	input[type="text"],
	input[type="password"] {
		//@include background-image(linear-gradient(center top , #FBFBFB 0%, #E3E6ED 100%));
	    border: 1px solid #ccc;
	    @include border-radius(4px);
	    @include box-shadow(2px 2px 4px #DEDEDE inset, 0 0 4px whitesmoke inset, 1px 1px 0px #fff);
	    @include text-shadow(0 1px 0 #FFFFFF);
	    color: #666666;
	    font-size: 15px;
	    line-height: 13px;
	    padding: 9px 13px 8px;
	    width: 150px;
	    float: left;
	    margin-bottom:15px;
	    &.not-valid {
    		border: 1px solid #E42323;
		}
	}
	input[type="checkbox"] {
	    float: left;
	    margin-left: 83px;
	    margin-right: 9px;
	    margin-top: 6px;
	}
	input[type="submit"] {
		@include background-image(linear-gradient(center top , #0A3569 0%, #417FB1 100%));
		@include box-shadow(1px 1px 0px #fff);
	    border: 1px solid #295E91;
	    @include border-radius( 4px);
	    color: #FFFFFF;
	    font-size: 10px;
	    margin: 0 0 0 14px;
	    padding: 7px 11px 6px;
	    @include text-shadow( 0 1px 0 rgba(0, 0, 0, 0.59));
	    text-transform: uppercase;
	    clear: both;
	    letter-spacing: 0.8px;
	    &:hover {
	    	@include background-image(linear-gradient(center top , #1057AD 0%, #4E98D5 100%));
	    }
	}
	input:first-child {
		margin-right: 10px;
	}
	label {
	 float: left;
	 font-size: 14px;
	 font-weight: bold;
	 padding-top: 8px;
	 width: 84px;
	 @include text-shadow(0 1px 0 #FFFFFF);
		 &.checkbox-label {
		 	font-size: 11px;
		    font-weight: normal;
		    margin-top: -2px;
		}
	}
}


// buildlog
.all-text {display:none;}
.content-holder {
	margin:10px 0 15px;
	padding:0;
	white-space: pre-line;
	@include pie-clearfix;
	border-bottom:1px solid #ccc;
	font-family: "helvetica neue",sans-serif;
	padding-bottom:10px;
}
.build-log-header,
.stdout{
	display:block;
	font-size:14px;
	clear:both;
}

.build-log-header {
	overflow: hidden;
	margin-bottom: 15px;
}

.build-log-header-btn {
	clear:both;
	margin-bottom:10px;
	margin-top:10px;
	white-space: normal;
	font-weight: bold;
	line-height:0;
	&:before {
		content:('Show all');
	}
	span {
	   margin-left: 4px;
	   /*
	   @include background-image(linear-gradient(right center , #DFE2EA 0%, #EEF0F5 100%));
       border: 1px solid #C4C4C4;
	   border-radius: 4px 4px 4px 4px;
   	   color: #2B2B2B;
	   display: inline-block;
	   */
	   font-size: 20px;
	   font-weight: bold;
	   line-height: 2px;
	   //padding: 5px 5px 11px 6px;
	   text-shadow: 0 1px 0 white;
	   &:before {
			content: ('+');
	   }
	}
	&.open:before {
		content:('Hide all');
	}
	&.open span:before  {
		content:('-');	
	}
	&:hover span {
		//@include background-image (linear-gradient(right center , #F2F6FE 0%, #F8FAFF 100%));
	}
}

.stdout,
.stderr {
	margin-bottom:10px;
	color:#666;
}
.small-head-2 {
	padding:0;
	margin:10px 0 10px 0 ;
}

/* @group Base */
.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  zoom: 1;
  *display: inline;
  user-select:none; 
  text-align: left;
  .chosen-drop {
	  position: absolute;
	  top: 100%;
	  left: -9999px;
	  z-index: 1010;
	  @include box-sizing (border-box);
	  width: 100%;
	  border: 1px solid #aaa;
	  border-top: 0;
	  background: #fff;
	  @include box-shadow( 0 4px 5px rgba(0, 0, 0, 0.15));
	}
	&.chosen-with-drop .chosen-drop {
		left: 0;
	}
	a {
 	 cursor: pointer;
	}
}

/* @end */
/* @group Single Chosen */
.chosen-container-single {
	.chosen-single {
	  position: relative;
	  display: block;
	  overflow: hidden;
	  padding: 0 0 0 8px;
	  height: 23px;
	  border: 1px solid #aaa;
	  border-radius: 5px;
	  background-color: #fff;
	  @include background (linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%));
	  background-clip: padding-box;
	  @include box-shadow ( 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1));
	  text-decoration: none;
	  white-space: nowrap;
	  line-height: 24px;
	  @include text-shadow (0 1px 0 #fff);
	  span {
		  display: block;
		  overflow: hidden;
		  margin-right: 26px;
		  text-overflow: ellipsis;
		  white-space: nowrap;
		  color:#333;
		}
		abbr {
		  position: absolute;
		  top: 6px;
		  right: 26px;
		  display: block;
		  width: 12px;
		  height: 12px;
		  font-size: 1px;
		  &:hover {
  			background-position: -42px -10px;
		}
		}
		div {
		  position: absolute;
		  top: 0;
		  right: 0;
		  display: block;
		  width: 18px;
		  height: 100%;
		  &:before {
		  	color: #747474;
		    content: "▾";
		    font-family: tahoma;
		    font-size: 16px;
		    position: absolute;
		    right: 7px;
		    top: -2px;
		  }
		}
	}
	&.chosen-disabled .chosen-single abbr:hover {
  		background-position: -42px -10px;
	}
	.chosen-default {
		color: #999;
	}
	.chosen-single-with-deselect span {
  		margin-right: 38px;
	}
	.chosen-search {
	  position: relative;
	  z-index: 1010;
	  margin: 0;
	  padding: 3px 4px;
	  white-space: nowrap;
	  input[type="text"] {
		  @include box-sizing (border-box);
		  margin: 1px 0;
		  padding: 4px 20px 4px 5px;
		  width: 100%;
		  height: auto;
		  outline: 0;
		  border: 1px solid #aaa;
		  @include background (linear-gradient(#eeeeee 1%, #ffffff 15%));
		  font-size: 1em;
		  font-family: sans-serif;
		  line-height: normal;
		  border-radius: 0;
		}
	}
	.chosen-drop {
	  margin-top: -1px;
	  border-radius: 0 0 4px 4px;
	  background-clip: padding-box;
	}
	&.chosen-container-single-nosearch .chosen-search {
 	 position: absolute;
 	 left: -9999px;
	}
}

/* @end */
/* @group Results */
.chosen-container {
	.chosen-results {
		position: relative;
		overflow-x: hidden;
		overflow-y: auto;
		margin: 0 4px 4px 0;
		padding: 0 0 0 4px;
		max-height: 240px;
		overflow-scrolling : touch; 
		li {
		  display: none;
		  margin: 0;
		  padding: 5px 6px;
		  list-style: none;
		  line-height: 15px;
		&.active-result {
		  display: list-item;
		  cursor: pointer;
		}
		&.disabled-result {
		  display: list-item;
		  color: #ccc;
		  cursor: default;
			}
		}
		&.no-results {
		  display: list-item;
		  background: #f4f4f4;
		}
		&.group-result {
		  display: list-item;
		  font-weight: bold;
		  cursor: default;
		}
		&.group-option {
		  padding-left: 15px;
		}
		em {
		  font-style: normal;
		  text-decoration: underline;
		}
	}
}


.highlighted {
  background-color: #3875d7;
  @include background-image (linear-gradient(center top, #3A669A 0%, #6AA1CD 100%));
  color: #fff;
  @include text-shadow (none);
}



/* @end */
/* @group Multi Chosen */
.chosen-container-multi {
	.chosen-choices {
		position: relative;
		overflow: hidden;
		@include box-sizing (border-box);
		margin: 0;
		padding: 0;
		width: 100%;
		height: auto !important;
		height: 1%;
		border: 1px solid #aaa;
		background-color: #fff;
		@include background-image (linear-gradient(#eeeeee 1%, #ffffff 15%));
		cursor: text;
		li {
		  float: left;
		  list-style: none;
		  &.search-field {
		  margin: 0;
		  padding: 0;
		  white-space: nowrap;
		}
		&.search-field input[type="text"] {
		  margin: 1px 0;
		  padding: 5px;
		  height: 15px;
		  outline: 0;
		  border: 0 !important;
		  background: transparent !important;
		  box-shadow: none;
		  color: #666;
		  font-size: 100%;
		  font-family: sans-serif;
		  line-height: normal;
		  border-radius: 0;
		}
		&.search-field .default {
		  color: #999;
		}
		&.search-choice {
			position: relative;
			margin: 3px 0 3px 5px;
			padding: 3px 20px 3px 5px;
			border: 1px solid #aaa;
			border-radius: 3px;
			background-color: #e4e4e4;
			@include background-image (linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%));
			background-clip: padding-box;
			@include box-shadow ( 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05));
			color: #333;
			line-height: 13px;
			cursor: default;
		}
		}
	}
}





.chosen-container-multi {
	.chosen-results {
	  margin: 0;
	  padding: 0;
	}
	.chosen-drop .result-selected {
	  display: list-item;
	  color: #ccc;
	  cursor: default;
	}
	.chosen-choices li.search-choice {
		&.search-choice-disabled {
		  padding-right: 5px;
		  border: 1px solid #ccc;
		  background-color: #e4e4e4;
		  @include background-image (linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%));
		  color: #666;
		}
		&.search-choice-focus {
		  background: #d4d4d4;
		  .search-choice-close {
		  		background-position: -42px -10px;
			}
		}
		.search-choice-close {
		  position: absolute;
		  top: 4px;
		  right: 3px;
		  display: block;
		  width: 12px;
		  height: 12px;
		  
		  font-size: 1px;
		  &:hover {
			background-position: -42px -10px;
		  }
		}
	}
}

/* @end */
/* @group Active  */
.chosen-container-active {
	&.chosen-with-drop .chosen-single {
	  border: 1px solid #aaa;
	  -moz-border-radius-bottomright: 0;
	  border-bottom-right-radius: 0;
	  -moz-border-radius-bottomleft: 0;
	  border-bottom-left-radius: 0;
	  @include background-image (linear-gradient(#eeeeee 20%, #ffffff 80%));
	  @include box-shadow( 0 1px 0 #fff inset);
	  div {
		  border-left: none;
		  background: transparent;
		  b {
			  background-position: -18px 2px;
			}
		}
	}
	.chosen-single {
		border: 1px solid #5897fb;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	}
	.chosen-choices {
	  border: 1px solid #5897fb;
	  @include box-shadow( 0 0 5px rgba(0, 0, 0, 0.3));
	  li.search-field input[type="text"] {
	  	color: #111 !important;
	}
	}
}

.sort-name {
	display: block;
    font-size: 11px;
    margin-bottom: 2px;
    margin-left: 9px;
    margin-top: 5px;
}

/* @end */
/* @group Disabled Support */
.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default;
}
.chosen-disabled .chosen-single {
  cursor: default;
}
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default;
}

/* @end */
/* @group Right to Left */
.chosen-rtl {
  text-align: right;
}
.chosen-rtl .chosen-single {
  overflow: visible;
  padding: 0 8px 0 0;
}
.chosen-rtl .chosen-single span {
  margin-right: 0;
  margin-left: 26px;
  direction: rtl;
}
.chosen-rtl .chosen-single-with-deselect span {
  margin-left: 38px;
}
.chosen-rtl .chosen-single div {
  right: auto;
  left: 3px;
}
.chosen-rtl .chosen-single abbr {
  right: auto;
  left: 26px;
}
.chosen-rtl .chosen-choices li {
  float: right;
}
.chosen-rtl .chosen-choices li.search-field input[type="text"] {
  direction: rtl;
}
.chosen-rtl .chosen-choices li.search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 19px;
}
.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
  right: auto;
  left: 4px;
}
.chosen-rtl.chosen-container-single-nosearch .chosen-search,
.chosen-rtl .chosen-drop {
  left: 9999px;
}
.chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}
.chosen-rtl .chosen-results li.group-option {
  padding-right: 15px;
  padding-left: 0;
}
.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: none;
}
.chosen-rtl .chosen-search input[type="text"] {
  padding: 4px 5px 4px 20px;
  @include background (linear-gradient(#eeeeee 1%, #ffffff 15%));
  
}
.chosen-rtl.chosen-container-single .chosen-single div b {
  background-position: 6px 2px;
}
.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
  background-position: -12px 2px;
}

/* @end */
/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi) {
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
 
  }
}
/* @end */

.codebases-list {
	color:#666;
	margin-bottom:5px;
	li {
		margin-bottom:3px;
	}
}

.m-bottom15 {
	margin-bottom:15px;
}

@include font-face("fontello", font-files("/../fonts/fontello/fontello.ttf", "/../fonts/fontello/fontello.otf"));

.fi {
	margin-bottom:3px;	
}


.delete-icon {
	display:inline-block;
	&:before {
		font-family: "fontello";
		content: "";
		font-size: 16px;
	}	
}

.ellipsis {
	width:175px;
   	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}

  .tool-tip {
	  	background-color:#eee;
	    border: 1px solid #ccc;
	    border-radius: 7px 7px 7px 7px;
	    left: 0;
	    padding: 10px;
	    position: absolute;
	    text-shadow: 0 1px 0 #FFFFFF;
	    top: -10px;
	    z-index: 1;
	}