@charset "UTF-8";
/**
* Navigation
* Unity3d
* @section page-elements
* @author Simon Holm
*/
  
.info-box {
	background-color: #B6BFC9;
	@include transition (background-color 1.3s ease,border-color 1.3s ease);
	border: 1px solid #6A7A8B;
	@include border-radius(4px);
	float: left;	
	padding: 7px;
	color:#fff;
	font-size: 11px;	
	float: left;
	display:none;	
	margin-top:3px;			
	margin-left:15px;
	h4 {
		float: left;		
		margin: 0;
		padding: 0;
		font-size: inherit;
	}
	span {
		display: block;
		float: left;
		margin-left: 5px;
	}
}
 
.green {
background-color: #237B74;
border: 1px solid #3F8E87;
@include box-shadow(0 0 4px #3F8E87 inset);
}
.red {
background-color: #A76255;
border: 1px solid #BC8579;
@include box-shadow(0 0 4px #BC8579 inset);
} 

.yellow {
background-color: #7A760D;
border: 1px solid #9F9B41;
@include box-shadow(0 0 4px #9F9B41 inset);
}

.top-menu-container {
	//-moz-linear-gradient(center top , #275F8C 0%, #22435E 100%) lighter!
	@include bgimage (linear-gradient(top, #215076 0%, #22435E 100%));
	@include pie-clearfix;
}

.outer-bar {
	float:right;
	height:17px;
	@include border-radius (3px);
	border:1px solid #477cb4;
	display:none;
	margin: -2px 0 -2px 5px;
    position: relative;
    width: 12px;
    //@include box-shadow (0 1px 0 #FFF);
}

.smartphone-nav {
		display: block;
	float:right;
	margin: 10px 0;
	cursor: pointer;
	li {
		background-color:#2B6194;
		@include border-radius(3px);
		margin-top: 3px;
		width: 20px;
		height: 3px;
		&:first-child {
			margin-top: 0;	
		} 
	}
	
}

.inner-bar {
 	background-color: rgba(244, 249, 255, 0.84);
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    width: 100%;
}

ul.top-menu > .project-dropdown {
		position:relative;
		padding-right: 0;
         .arrow-down-btn {
			cursor: pointer;
			&:after {
			    @include bgimage (linear-gradient(top , rgba(223, 226, 234, 0.92) 0%, rgba(238, 240, 245, 0.88) 100%));
			    border: 1px solid #C4C4C4;
			    border-radius: 4px;			    
			    color: #292929;
			    content: "";
			    display: inline-block;
			    font-family: katana_icons;
			    font-size: 13px;
				padding: 1px 5px 0 6px;    
			    position: absolute;
			    right: 0;
			    @include text-shadow( 1px 1px 0 #FFFFFF);
			    top: 7px;
			}
			&:hover:after {
				@include bgimage(linear-gradient(center top , rgba(223, 226, 234, 0.76) 0%, rgba(238, 240, 245, 0.68) 100%));
				//border:1px solid rgba(196, 196, 196, 0.30);
			}
		}
		.more-info-box {
          cursor: auto;
		    left: 80px;
    		position: absolute;
    		top: 39px;
    		width: 280px;
		}
		
	}

	ul.top-menu {
		display: none;
		z-index:2;
		float:none;
		position:absolute;
		background-color: #eee;
		right: 10px;
		left: 10px;
    	top: 36px;
    	padding:5px 18px 5px 13px;
    	@include box-shadow(1px 1px 5px rgba(0, 0, 0, 0.55));
		@include border-radius(7px);
		
		&>li {
			clear:both;
			float: none;
			border-bottom: 1px solid #CCCCCC;
			&:last-child {
				padding: 0;	
				border-bottom:none;
			}
			&.selected {
				border-bottom: 1px solid #CCCCCC;
			}
			&.selected > a {
				border-top: none;				    				    
			    color: #666;				    
			    margin: 0;
			    padding: 10px 0;
			}			
			& > a {
				display: block;
				padding: 10px 0;
				text-transform: none;
				font-size: 11px;
				margin: 0;
				color:#2B6194;
				float: none;
			}
		}
	}



.submenu {	
	li {
		margin-bottom:5px;
		&:last-child {
			margin-bottom:10px;
		}
		a {
			font-size: 11px;
		}
	}
}

// sub-menu

.sub-menu-container {
    //background-color: #90B6D5;
    @include bgimage (linear-gradient(top , #3F81B5 0%, #37709D 100%));
    border-bottom: 1px solid #FFFFFF;
    border-top:1px solid #4798D9;
    margin-bottom: 22px;
	
	
}

.header + .container {
		margin-top: 30px;
}

.breadcrumbs-nav {
		display:inline-block;
		padding:11px 0 10px;
		margin: 0;
		& > li {
		color: rgba(255, 255, 255, 0.52);
		font-size: 11px;
		float: left;
		list-style: none outside none;
		margin: 0 12px 0 0;
		padding: 0;
		font-weight: bold;
		letter-spacing:1.1px;
		line-height:12px;
		@include text-shadow(0 -1px 0 rgba(0, 0, 0, 0.3));
		&:first-child {
			padding-left:8px;
		}
		a {
			@include text-shadow(0 -1px 0 rgba(0, 0, 0, 0.44));
			 color: #fff;
    
			&:hover{
				color: rgba(255, 255, 255, 0.75);
			}
		}
		&.dropdown {
			margin-right:32px;
			position: relative;
			.more-info {
				position: absolute;
			    right: -22px;
			    top: -2px;
			    line-height: 18px;
			    &:hover:after {
			    	background:none;

			    }
			}
		}
		&:before {
			
			font-family: katana_icons;
			content: "";
			padding-right: 12px;
			font-size: 9px;
			color: #fff;
			font-weight: normal;
		}
	}
}

.show-topmenu {
	display:block !important;
}

.wrap {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

@media (min-width: $screen-md-min) {

	ul.top-menu > .project-dropdown {
		 padding-right:8px;
		.arrow-down-btn:after {
			right: 0;
			top: 13px;
			font-size: 15px;
			padding: 1px 6px 1px 7px;
		}
	}

	ul.top-menu {
		display: block;
		list-style: none;
		padding: 0;
		margin:0;
		float:left;
		background:none;
		@include pie-clearfix;
		position: relative;
		border:none;
		top:auto;
		right:auto;
		@include box-shadow(none);
		left:auto;
	.menu-bubble {
		background-color: #D6E4EE;
	    @include border-radius (9px);	    
	    color: #000000;
	    display: block;
	    float: right;
	    font-size: 10px;
	    font-weight: normal;
	    letter-spacing: 1px;
	    margin: -2px 0 0 13px;
	    padding: 2px 7px 3px 8px;
	    @include text-shadow (0 1px 0 #FFFFFF);
	}
	&> li {
		float:left;
		padding: 0;
		clear: none;
		border:none;
		
		&:first-child a {
			padding-left: 0;
		}

		&.selected {
			border-bottom:none;
			&:first-child a {
				margin-left: 0;	
			}

			&>	a {				
				color:rgba(244, 249, 255, 0.84);
			    border-top: 4px solid rgba(244, 249, 255, 0.84);
	      	 	margin: 0 25px;
    			padding: 13px 0 0;
			    &:hover {
					opacity: 1;    	
			    }
			}
		}

		&> a {
			    color: rgba(244, 249, 255, 0.84);
			    display: block;
			    font-size: 11px;
			    font-weight: bold;
			    letter-spacing: 0.9px;
			    padding: 17px 25px 16px;
			    text-decoration: none;
				float:left;
			    text-transform: uppercase;
			    @include transition( opacity 0.2s ease-in-out 0s);
			&:hover {
				opacity: 0.5;
			}
		}
	}
	
	
}
	.info-box {
		margin-top: 9px;
	}
	.smartphone-nav {
		display: none;
	}


	.breadcrumbs-nav {
		white-space: nowrap;
		& > li {
			&:first-child {
				padding-left:124px;
			}
		}
	}
}

.breadcrumbs-nav li:first-child:before,
.chrome.win .breadcrumbs-nav li:first-child:before {
	content: none;
}

.dropdown-sub {
	background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    @include border-radius (5px);
    line-height: 0;
    padding: 6px 7px 6px 11px;
	&:after {
		color: #A3A3A3;
		content: "▾";
		font-size: 16px;
		padding-left: 3px;
	}
}



@media (min-width:$screen-lg-min) {
	.show {
		display: block;
	}
	.show-desktop {
		display: block;
	}
	.info-box {
		margin-top:9px;
	}
}