@charset "UTF-8";
/**
* Navigation
* Unity3d
* @section page-elements
* @author Simon Holm
*/
  
.info-box {
	background-color: #B6BFC9;
	@include transition (background-color 1.3s ease,border-color 1.3s ease);
	border: 1px solid #6A7A8B;
	@include border-radius(4px);
	float: left;	
	padding: 7px;
	color:#fff;
	font-size: 11px;
	
	float: left;
	display:none;
	margin-top: 8px;	
	margin-left:15px;
	h4 {
		float: left;		
		margin: 0;
		padding: 0;
	}
	span {
		display: block;
		float: left;
		margin-left: 5px;
	}
}

.green {
background-color: #237B74;
border: 1px solid #3F8E87;
}
.red {
background-color: #A76255;
border: 1px solid #BC8579;
} 

.yellow {
	background-color: #7A760D;
border: 1px solid #9F9B41;
}

.top-menu-container {
	//-moz-linear-gradient(center top , #275F8C 0%, #22435E 100%) lighter!
	@include bgimage (linear-gradient(top , #215076 0%, #22435E 100%));
	@include pie-clearfix;
}

.outer-bar {
	float:right;
	height:16px;
	@include border-radius (3px);
	border:1px solid #477cb4;
	display:none;
	margin: -3px 0 -2px 5px;
    position: relative;
    width: 10px;
    //@include box-shadow (0 1px 0 #FFF);
}

.inner-bar {
 background-color: #FFFFFF;
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    width: 100%;
}

.top-menu {
	list-style: none;
	padding: 0;
	margin:0;
	float:left;
	@include pie-clearfix;
	.menu-bubble {
	background-color: #D6E4EE;
    border-radius: 9px;
    
    color: #000000;
    display: block;
    float: right;
    font-size: 10px;
    font-weight: normal;
    letter-spacing: 1px;
    margin: -2px 0 0 13px;
    padding: 2px 7px 3px 8px;
    @include text-shadow ( 0 1px 0 #FFFFFF);
	}
	&> li {
		float:left;
		padding: 0;
		
		&:first-child a {
			padding-left: 0;
		}

		&.selected {
			&:first-child a {
				margin-left: 0;	
			}

			&>	a {
			    border-top: 4px solid rgba(244, 249, 255, 0.84);
	      	 	margin: 0 25px;
    			padding: 13px 0 0;
			    &:hover {
					opacity: 1;    	
			    }
			}
		}

		&> a {
			    color: rgba(244, 249, 255, 0.84);
			    display: block;
			    font-size: 11px;
			    font-weight: bold;
			    letter-spacing: 0.9px;
			    padding: 17px 25px 16px;
			    text-decoration: none;

			    text-transform: uppercase;
			    @include transition( opacity 0.2s ease-in-out 0s);
			&:hover {
				opacity: 0.5;
			}
		}
	}
	.project-dropdown {
		position:relative;
		padding-right:8px;
		.arrow-down-btn {
			cursor: pointer;
			&:after {
			    @include bgimage (linear-gradient(center top , rgba(223, 226, 234, 0.92) 0%, rgba(238, 240, 245, 0.88) 100%));
    border: 1px solid #C4C4C4;
    border-radius: 4px;
    
    color: #292929;
    content: "";
    display: inline-block;
    font-family: katana_icons;
    font-size: 15px;
    padding: 1px 6px 1px 7px;
    position: absolute;
    right: 0;
    @include text-shadow( 1px 1px 0 #FFFFFF);
    top: 13px;
			}
			&:hover:after {
				@include bgimage(linear-gradient(center top , rgba(223, 226, 234, 0.76) 0%, rgba(238, 240, 245, 0.88) 100%));
			}
		}
		.more-info-box { 
		    left: 80px;
    		position: absolute;
    		top: 39px;
		}
		
	}
	
}

.submenu {
	display:none;		
	li {
		margin-bottom:5px;
		&:last-child {
			margin-bottom:10px;
		}
		a {
			font-size: 11px;
		}
	}
}

@include breakpoint($bkpt-small) {
	
	ul.top-menu {
		display: none;
		z-index:2;
		float:none;
		position:absolute;
		background-color: #eee;
		right: 10px;
		left: 10px;
    	top: 36px;
    	padding:5px 18px 5px 13px;
    	@include box-shadow(1px 1px 5px rgba(0, 0, 0, 0.55));
		@include border-radius(7px);
		.project-dropdown {
			 padding-right: 0;
			.arrow-down-btn:after {
				right: 0;
	    		top: 8px;
				font-size: 13px;
				padding: 1px 5px 0 6px;
			}
		}
		&>li {
			float: none;
			border-bottom: 1px solid #CCCCCC;
			&:last-child {
				padding: 0;	
				border-bottom:none;
			}
			&.selected {
				border-bottom: 1px solid #CCCCCC;
			}
			&.selected > a {
				   border-top: 4px solid #2B6194;
				    margin: 0 25px;
				    padding: 13px 0 0;
			}
			&.selected > a, 
			& > a {
				padding: 10px 0;
				text-transform: none;
				font-size: 11px;
				margin: 0;
				color:#2B6194;
			}
		}
	}
	.smartphone-nav {
		float:right;
		margin: 10px 0;
		cursor: pointer;
		li {
			background-color:#2B6194;
			@include border-radius(3px);
			margin-top: 3px;
			width: 20px;
			height: 3px;
			&:first-child {
				margin-top: 0;	
			} 
		}
		
	}
}

// sub-menu

.sub-menu-container {
    //background-color: #90B6D5;
    @include bgimage (linear-gradient(top , #3F81B5 0%, #37709D 100%));
    border-bottom: 1px solid #FFFFFF;
    border-top:1px solid #4798D9;
    margin-bottom: 22px;
	&.frontpage,
	&.jsonhelp {
		height: 39px;
	}
	
}

.header + .container-inner {
		margin-top: 30px;
}

.breadcrumbs-nav {
		display:inline-block;
		padding:13px 0 11px 0;
		& > li {
		color: rgba(255, 255, 255, 0.52);
		font-size: 11px;
		float: left;
		list-style: none outside none;
		margin: 0 12px 0 0;
		padding: 0;
		font-weight: bold;
		letter-spacing:1.1px;
		line-height:12px;
		@include text-shadow(0 -1px 0 rgba(0, 0, 0, 0.3));
		&:first-child {
			padding-left:123px;
		}
		a {
			@include text-shadow(0 -1px 0 rgba(0, 0, 0, 0.44));
			 color: #fff;
    
			&:hover{
				color: rgba(255, 255, 255, 0.75);
			}
		}
		&.dropdown {
			margin-right:32px;
			position: relative;
			.more-info {
				position: absolute;
			    right: -22px;
			    top: -2px;
			    line-height: 18px;
			    &:hover:after {
			    	background:none;

			    }
			}
		}
		&:before {
			
			font-family: katana_icons;
			content: "";
			padding-right: 12px;
			font-size: 9px;
			color: #fff;
			font-weight: normal;
		}
	}
}
 


@include breakpoint($bkpt-medium-1) {
	.wrap {
		overflow-y: auto;
    	-webkit-overflow-scrolling: touch;
	}
	.breadcrumbs-nav {
		white-space: nowrap;
		& > li {
			&:first-child {
				padding-left:8px;
			}
		}
	}
}


.breadcrumbs-nav li:first-child:before,
.chrome.win .breadcrumbs-nav li:first-child:before {
	content: none;
}

.dropdown-sub {
	background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    @include border-radius (5px);
    line-height: 0;
    padding: 6px 7px 6px 11px;
	&:after {
		color: #A3A3A3;
		content: "▾";
		font-size: 16px;
		padding-left: 3px;
	}
}

@include breakpoint($bkpt-xxlarge) {

	.show {
		display: block;
	}

}