/**
* Navigation
* Unity3d
* @section page-elements
* @author Simon Holm
*/

.top-menu-container {
	@include background-image(linear-gradient(center top , #0A3569 0%, #417FB1 100%)); 
	width: 100%;
}

.top-menu {
	list-style: none;
	overflow: auto;
	padding: 0;
	li {
		float:left;
		padding: 0;
		
		&:first-child a {
			padding-left: 0;
		}

		&.selected {
			&:first-child a {
				margin-left: 0;	
			}

			a {
			    border-top: 4px solid rgba(255, 255, 255, 0.32);
		      	margin: 9px 25px 0;
    			padding: 4px 0 0;
			    &:hover {
					opacity: 1;    	
			    }
			}
		}

		a {
		    color: #FFFFFF;
		    display: block;
		    font-size: 11px;
		    font-weight: bold;
		    letter-spacing: 0.9px;
		    padding: 17px 25px;
		    text-decoration: none;
		    @include text-shadow(0 1px 0 rgba(0, 0, 0, 0.25));
		    text-transform: uppercase;
			@include transition(opacity .2s ease-in-out);
			&:hover {
				opacity: 0.5;
				text-shadow: 0 1px 0 rgba(0, 0, 0, 0.12);
			}
		}
	}
}


// sub-menu

.sub-menu-container {
	@include background-image(linear-gradient(center top, #EBEBEB 0%, #D9D9D9 100%)); 
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    width: 100%;

}

.breadcrumbs-nav {
	padding:12px 0;
	overflow: auto;
 	text-shadow: 0 1px 0 #FFF;	
}
 
.breadcrumbs-nav li {
	color: #666;
    float: left;
    font-size: 12px;
    list-style: none outside none;
    margin: 0 10px 0 0;
    padding: 0;
    font-weight: bold;
}

.breadcrumbs-nav li:before {
	content: "❯";
	padding-right: 8px;
	font-size: 9px;
}

.breadcrumbs-nav li:first-child:before {
	content: none;
}