@charset "UTF-8";
/**
* Navigation
* Unity3d
* @section page-elements
* @author Simon Holm
*/
 
.info-box {
    display: none;
	background-color: #B6BFC9;
	border: 1px solid #6A7A8B;
	@include border-radius(4px);
	float: left;	
	padding: 7px;
	@include text-shadow(0 1px 0 #FFF);
	font-size: 11px;
	@include box-shadow(0 1px 0 #FFF);
	float: left;
	margin-top: 9px;	
	h4 {
		float: left;		
		margin: 0;
		padding: 0;
	}
	span {
		display: block;
		float: left;
		margin-left: 8px;
	}
}

.top-menu-container {
	@include bgimage (linear-gradient(top, #EBEBEB 0%, #D9D9D9 100%));
	@include pie-clearfix;
}

.outer-bar {
	float:right;
	height:16px;
	@include border-radius (3px);
	border:1px solid #477cb4;
	display:none;
	margin: -2px 0 0 5px;
    position: relative;
    width: 10px;
    @include box-shadow (0 1px 0 #FFF);
}

.inner-bar {
	background-color: #477CB4;
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    width: 100%;
}

.top-menu {
	list-style: none;
	padding: 0;
	margin:0;
	float:left;
	@include pie-clearfix;
	.menu-bubble {
		display: none;
		float: right;
		color: rgb(255, 255, 255);
		font-size: 11px;
		margin: -2px 0 0 13px; 
		letter-spacing: 1px; 
		@include border-radius (9px); 
		padding: 2px 7px 3px 8px; 
		@include box-shadow ( 0 1px 0 #FFFFFF, 0 0 3px rgba(0, 0, 0, 0.38) inset); 
		background-color: rgb(71, 124, 180);
		font-weight: normal;
	}
	&> li {
		float:left;
		padding: 0;
		
		&:first-child a {
			padding-left: 0;
		}

		&.selected {
			&:first-child a {
				margin-left: 0;	
			}

			&>	a {
			    border-top: 4px solid rgba(31, 81, 133, 0.84);
	      	 	margin: 0 25px;
    			padding: 13px 0 0;
			    &:hover {
					opacity: 1;    	
			    }
			}
		}

		&> a {
		    color: rgba(31, 81, 133, 0.84);
		    display: block;
		    font-size: 11px;
		    font-weight: bold;
		    letter-spacing: 0.9px;
		    padding: 17px 25px 16px;
		    text-decoration: none;
		    @include text-shadow(0 1px 0 #fff);
		    text-transform: uppercase;
			@include transition(opacity .2s ease-in-out);
			&:hover {
				opacity: 0.5;
			}
		}
	}
	.project-dropdown {
		position:relative;
		padding-right:8px;
		.arrow-down-btn {
			cursor: pointer;
			&:after {
				position: absolute;
				top:13px;
				right: 0;
				@include bgimage(linear-gradient(top, #DFE2EA 0%, #EEF0F5 100%));
				border: 1px solid #C4C4C4;
				@include border-radius(4px);
				color: #292929;
				content: "";
				display: inline-block;
				font-family: katana_icons;
				font-size: 15px;
				padding: 1px 6px 1px 7px;
				@include text-shadow(1px 1px 0 white);		
				@include box-shadow(1px 1px 0 rgba(255, 255, 255, 0.64));
			}
			&:hover:after {
				@include bgimage(linear-gradient(top, #F2F6FE 0%, #F8FAFF 100%));
			}
		}
		.more-info-box { 
		    left: 80px;
    		position: absolute;
    		top: 39px;
		}
		
	}
	
}

.submenu {
	display:none;		
	li {
		margin-bottom:5px;
		&:last-child {
			margin-bottom:10px;
		}
		a {
			font-size: 11px;
		}
	}
}

@include breakpoint($bkpt-small) {
	
	ul.top-menu {
		display: none;
		z-index:1;
		float:none;
		position:absolute;
		background-color: #eee;
		right: 10px;
		left: 10px;
    	top: 36px;
    	padding:5px 18px 5px 13px;
    	@include box-shadow(1px 1px 5px rgba(0, 0, 0, 0.55));
		@include border-radius(7px);
		.project-dropdown {
			 padding-right: 0;
			.arrow-down-btn:after {
				right: 0;
	    		top: 8px;
				font-size: 13px;
				padding: 1px 5px 0 6px;
			}
		}
		&>li {
			float: none;
			border-bottom: 1px solid #CCCCCC;
			&:last-child {
				padding: 0;	
				border-bottom:none;
			}
			&.selected {
				border-bottom: 1px solid #CCCCCC;
			}
			&.selected > a {
				color: #666;
				border-top: none;
			}
			&.selected > a, 
			& > a {
				padding: 10px 0;
				text-transform: none;
				font-size: 11px;
				margin: 0;
			}
		}
	}
	.smartphone-nav {
		float:right;
		margin: 10px 0;
		cursor: pointer;
		li {
			background-color:#2B6194;
			@include border-radius(3px);
			margin-top: 3px;
			width: 20px;
			height: 3px;
			&:first-child {
				margin-top: 0;	
			} 
		}
		
	}
}

// sub-menu

.sub-menu-container {
	@include bgimage(linear-gradient(top, #0A3569 0%, #417FB1 100%)); 
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    @include pie-clearfix;
	margin-bottom:22px;
	&.frontpage,
	&.jsonhelp {
		height: 39px;
	}
}

.breadcrumbs-nav {
		display:inline-block;
		padding:13px 0 11px 0;
		& > li {
		color: rgba(255, 255, 255, 0.59);
		font-size: 11px;
		float: left;
		list-style: none outside none;
		margin: 0 12px 0 0;
		padding: 0;
		font-weight: bold;
		letter-spacing:1.1px;
		line-height:12px;
		&:first-child {
			padding-left:123px;
		}
		a {
			color: #fff;	
			@include text-shadow (0 1px 0 #194767);
			&:hover{
				color: rgba(255, 255, 255, 0.75);
			}
		}
		&.dropdown {
			margin-right:32px;
			position: relative;
			.more-info {
				position: absolute;
			    right: -22px;
			    top: -2px;
			    line-height: 18px;
			    &:hover:after {
			    	background:none;

			    }
			}
		}
		&:before {
			@include text-shadow (0 1px 0 #194767);
			font-family: katana_icons;
			content: "";
			padding-right: 12px;
			font-size: 9px;
			color: rgba(255, 255, 255, 0.59);
			font-weight: normal;
		}
	}
}
 


@include breakpoint($bkpt-medium-1) {
	.wrap {
		overflow-y: auto;
    	-webkit-overflow-scrolling: touch;
	}
	.breadcrumbs-nav {
		white-space: nowrap;
		& > li {
			&:first-child {
				padding-left:8px;
			}
		}
	}
}


.breadcrumbs-nav li:first-child:before,
.chrome.win .breadcrumbs-nav li:first-child:before {
	content: none;
}

.dropdown-sub {
	background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    @include border-radius (5px);
    line-height: 0;
    padding: 6px 7px 6px 11px;
	&:after {
		color: #A3A3A3;
		content: "▾";
		font-size: 16px;
		padding-left: 3px;
	}
}