/**
* Sitefooter
* Unity3d
* @section page-elements
* @author Simon Holm
*/

.footer {
	background: none repeat scroll 0 0 #FFFFFF;
    border-top: 2px solid #E3E3E3;
    color: #B7B7B7;
    font-size: 9px;
    padding: 20px 0;
    text-align: center;
    margin-top: 45px;
}