@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\000033}}
body.interface {
  margin: 0;
  padding: 0;
  background: url(http://dribbble.com/images/noise-f1.gif) white;
  font-family: "helvetica neue", sans-serif;
  font-size: 10px;
  color: #333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\0000312}}
.container-inner {
  width: 962px;
  margin: 0 auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\0000317}}
.logo {
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\0000326}}
.main-head {
  font-size: 25px;
  margin: 25px 0;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\0000330}}
.main-head span {
  color: #666666;
  font-size: 16px;
  font-weight: normal;
  text-transform: lowercase;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\0000338}}
h1.logo a {
  text-shadow: 1px 1px 0 white;
  font-family: 'Pacifico';
  font-size: 45px;
  font-weight: normal;
  letter-spacing: 1px;
  text-decoration: none;
  opacity: 1;
  color: #445873;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\0000350}}
.logo a:hover {
  opacity: 0.5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\0000354}}
.top-menu-container {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0a3569), color-stop(100%, #417fb1));
  background-image: -webkit-linear-gradient(center top, #0a3569 0%, #417fb1 100%);
  background-image: -moz-linear-gradient(center top, #0a3569 0%, #417fb1 100%);
  background-image: -o-linear-gradient(center top, #0a3569 0%, #417fb1 100%);
  background-image: linear-gradient(center top, #0a3569 0%, #417fb1 100%);
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\0000359}}
.top-menu {
  list-style: none;
  overflow: auto;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\0000365}}
.top-menu li {
  float: left;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\0000370}}
.top-menu li:first-child a {
  padding-left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\0000374}}
.top-menu li a {
  color: #FFFFFF;
  display: block;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0.9px;
  padding: 17px 12px;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\0000387}}
.top-menu li a:hover {
  opacity: 0.5;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.12);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\0000394}}
.sub-menu-container {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ebebeb), color-stop(100%, #d9d9d9));
  background-image: -webkit-linear-gradient(center top, #ebebeb 0%, #d9d9d9 100%);
  background-image: -moz-linear-gradient(center top, #ebebeb 0%, #d9d9d9 100%);
  background-image: -o-linear-gradient(center top, #ebebeb 0%, #d9d9d9 100%);
  background-image: linear-gradient(center top, #ebebeb 0%, #d9d9d9 100%);
  border-bottom: 1px solid #FFFFFF;
  border-top: 1px solid #FFFFFF;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003101}}
.breadcrumbs-nav {
  padding: 12px 0;
  overflow: auto;
  text-shadow: 0 1px 0 #FFF;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003107}}
.breadcrumbs-nav li {
  color: #666;
  float: left;
  font-size: 12px;
  list-style: none outside none;
  margin: 0 10px 0 0;
  padding: 0;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003117}}
.breadcrumbs-nav li:before {
  content: "❯";
  padding-right: 8px;
  font-size: 9px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003123}}
.breadcrumbs-nav li:first-child:before {
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003129}}
.auth {
  float: right;
  margin-top: 25px;
  width: 317px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003135}}
.auth input:first-child {
  margin-right: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003142}}
.auth input[type="text"],
.auth input[type="password"] {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #EEEEEE;
  border-radius: 3px 3px 3px 3px;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.42) inset;
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.42) inset;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.42) inset;
  color: #666666;
  font-size: 12px;
  line-height: 13px;
  padding: 8px 11px 5px;
  width: 95px;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003155}}
.auth input[type="submit"] {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0a3569), color-stop(100%, #417fb1));
  background-image: -webkit-linear-gradient(center top, #0a3569 0%, #417fb1 100%);
  background-image: -moz-linear-gradient(center top, #0a3569 0%, #417fb1 100%);
  background-image: -o-linear-gradient(center top, #0a3569 0%, #417fb1 100%);
  background-image: linear-gradient(center top, #0a3569 0%, #417fb1 100%);
  border: medium none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #FFFFFF;
  font-size: 10px;
  margin: 1px 0 0 5px;
  padding: 8px 11px 6px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.59);
  text-transform: uppercase;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003168}}
.alert {
  color: #c30000;
  background-color: #f2dcdc;
  padding: 5px 5px 5px 25px;
  margin-bottom: 20px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-color: #c30000;
  font-size: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003178}}
a:link, a:visited, a:active {
  color: #2b6194;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003183}}
a:hover {
  color: #BDC9D5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003188}}
table {
  border-spacing: 1px 1px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003192}}
table td {
  padding: 3px 4px 3px 4px;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003197}}
.Project {
  min-width: 6em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003201}}
.LastBuild, .Activity {
  padding: 0 0 0 4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003205}}
.LastBuild, .Activity, .Builder, .BuildStep {
  min-width: 5em;
}

/* Chromium Specific styles */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003210}}
div.BuildResultInfo {
  color: #444;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003214}}
div.Announcement {
  margin-bottom: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003218}}
div.Announcement > a:hover {
  color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003222}}
div.Announcement > div.Notice {
  background-color: #afdaff;
  padding: 0.5em;
  font-size: 16px;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003229}}
div.Announcement > div.Open {
  border: 3px solid #8fdf5f;
  padding: 0.5em;
  font-size: 16px;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003236}}
div.Announcement > div.Closed {
  border: 5px solid #e98080;
  padding: 0.5em;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003244}}
td.Time {
  color: #000;
  border-bottom: 1px solid #aaa;
  background-color: #eee;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003250}}
td.Activity, td.Change, td.Builder {
  color: #333333;
  background-color: #CCCCCC;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003255}}
td.Change {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003261}}
td.Event {
  color: #777;
  background-color: #ddd;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003269}}
td.Activity {
  border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  min-height: 20px;
  padding: 2px 0 2px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003277}}
td.idle, td.waiting, td.offline, td.building {
  border-top-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003283}}
.LastBuild {
  border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
}

/* Console view styles */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003293}}
td.DevRev {
  padding: 4px 8px 4px 8px;
  color: #333333;
  border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  background-color: #eee;
  width: 1%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003303}}
td.DevRevCollapse {
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003309}}
td.DevName {
  padding: 4px 8px 4px 8px;
  color: #333333;
  background-color: #eee;
  width: 1%;
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003317}}
td.DevStatus {
  padding: 4px 4px 4px 4px;
  color: #333333;
  background-color: #eee;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003323}}
td.DevSlave {
  padding: 4px 4px 4px 4px;
  color: #333333;
  background-color: #eee;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003329}}
td.first {
  border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003335}}
td.last {
  border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003341}}
td.DevStatusCategory {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-width: 1px;
  border-style: solid;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003349}}
td.DevStatusCollapse {
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003355}}
td.DevDetails {
  font-weight: normal;
  padding: 8px 8px 8px 8px;
  color: #333333;
  background-color: #eee;
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003363}}
td.DevDetails li a {
  padding-right: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003367}}
td.DevComment {
  font-weight: normal;
  padding: 8px 8px 8px 8px;
  color: #333333;
  background-color: #eee;
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003375}}
td.DevBottom {
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003384}}
td.Alt {
  background-color: #ddd;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003388}}
.legend {
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  width: 100px;
  max-width: 100px;
  text-align: center;
  padding: 2px 2px 2px 2px;
  height: 14px;
  white-space: nowrap;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003400}}
.DevStatusBox {
  text-align: center;
  height: 20px;
  padding: 0 2px;
  line-height: 0;
  white-space: nowrap;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003408}}
.DevStatusBox a {
  opacity: 0.85;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  display: block;
  width: 90%;
  height: 20px;
  line-height: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003423}}
.DevSlaveBox {
  text-align: center;
  height: 10px;
  padding: 0 2px;
  line-height: 0;
  white-space: nowrap;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003431}}
.DevSlaveBox a {
  opacity: 0.85;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  display: block;
  width: 90%;
  height: 10px;
  line-height: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003446}}
a.noround {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  position: relative;
  margin-top: -8px;
  margin-bottom: -8px;
  height: 36px;
  border-top-width: 0;
  border-bottom-width: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003458}}
a.begin {
  border-top-width: 1px;
  position: relative;
  margin-top: 0px;
  margin-bottom: -7px;
  height: 27px;
  border-top-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003472}}
a.end {
  border-bottom-width: 1px;
  position: relative;
  margin-top: -7px;
  margin-bottom: 0px;
  height: 27px;
  border-bottom-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003486}}
.center_align {
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003490}}
.right_align {
  text-align: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003494}}
.left_align {
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003498}}
div.BuildWaterfall {
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #FFFFFF;
  padding: 4px 4px 4px 4px;
  float: left;
  display: none;
  border-width: 1px;
  border-style: solid;
}

/* LastBuild, BuildStep states */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003514}}
.success {
  background-color: #345916;
  color: #FCFCFC;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003520}}
.failure {
  color: #000;
  background-color: #e88;
  border-color: #A77272;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003526}}
.warnings {
  color: #FFFFFF;
  background-color: #fa3;
  border-color: #C29D46;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003532}}
.skipped {
  color: #000;
  background: #AADDEE;
  border-color: #AADDEE;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003538}}
.exception, .retry {
  color: #FFFFFF;
  background-color: #c6c;
  border-color: #ACA0B3;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003544}}
.start {
  color: #000;
  background-color: #ccc;
  border-color: #ccc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003550}}
.running, .waiting, td.building {
  color: #000;
  background-color: #FCFACB;
  border-color: #C5C56D;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003556}}
.offline, td.offline {
  color: #FFFFFF;
  background-color: #777777;
  border-color: #dddddd;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003563}}
.start {
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003572}}
.notstarted {
  border-width: 1px;
  border-style: solid;
  border-color: #aaa;
  background-color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003579}}
.closed {
  background-color: #ff0000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003583}}
.closed .large {
  font-size: 1.5em;
  font-weight: bolder;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003588}}
td.Project a:hover, td.start a:hover {
  color: #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003592}}
.mini-box {
  text-align: center;
  height: 20px;
  padding: 0 2px;
  line-height: 0;
  white-space: nowrap;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003600}}
.mini-box a {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  display: block;
  width: 100%;
  height: 20px;
  line-height: 20px;
  margin-top: -30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003611}}
.mini-closed {
  -box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 4px solid red;
}

/* grid styles */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003618}}
table.Grid {
  border-collapse: collapse;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003622}}
table.Grid tr td {
  padding: 0.2em;
  margin: 0px;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003628}}
table.Grid tr td.title {
  font-size: 90%;
  border-right: 1px gray solid;
  border-bottom: 1px gray solid;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003634}}
table.Grid tr td.sourcestamp {
  font-size: 90%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003638}}
table.Grid tr td.builder {
  text-align: right;
  font-size: 90%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003643}}
table.Grid tr td.build {
  border: 1px gray solid;
}

/* column container */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003649}}
div.column,
div.column-1 {
  margin: 0 20px 20px 0;
  float: left;
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  padding: 6px 20px 20px;
  width: 426px;
  font-size: 11px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003660}}
div.column-1 {
  width: 914px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003664}}
div.welcome-txt {
  font-size: 14px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003668}}
div.welcome-txt ol {
  margin: 18px 0 0 21px;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003673}}
div.welcome-txt ol li {
  margin: 0 0 18px;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003678}}
.column h2 {
  font-size: 16px;
  margin: 20px 0 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003683}}
div.last {
  margin-right: 0;
}

/* info tables */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003688}}
table.info {
  border-spacing: 1px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003692}}
table.info td {
  padding: 5px;
  text-align: left;
  background: none repeat scroll 0 0 #F6F6F6;
  border-bottom: 1px solid #FFF;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003699}}
table.info th {
  padding: 5px;
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003704}}
table.info td.left {
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003708}}
table.info tr td:first-child {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003712}}
table.info.rows tr td:first-child {
  font-weight: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003716}}
.alt {
  background-color: #f6f6f6;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003720}}
li {
  padding: 0.1em 1em 0.1em 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003724}}
.result {
  padding: 4px 9px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003728}}
.result a {
  color: #fff;
  text-decoration: underline;
}

/* log view */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003734}}
.log * {
  vlink: #800080;
  font-family: "Courier New", courier, monotype, monospace;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003739}}
span.stdout {
  color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003743}}
span.stderr {
  color: red;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003747}}
span.header {
  color: blue;
}

/* revision & email */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003752}}
.revision .full {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003756}}
.user .email {
  display: none;
}

/* change comments (use regular colors here) */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003761}}
pre.comments > a:link, pre.comments > a:visited {
  color: blue;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003765}}
pre.comments > a:active {
  color: purple;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003769}}
form.command_forcebuild {
  border-top: 1px solid black;
  padding: .5em;
  margin: .5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003775}}
form.command_forcebuild > .row {
  border-top: 1px dotted gray;
  padding: .5em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003780}}
form.command_forcebuild .force-textarea > .label {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003784}}
form.command_forcebuild .force-nested > .label {
  font-weight: bold;
  display: list-item;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003789}}
form.command_forcebuild .force-any .force-text {
  display: inline;
}

/* Footer */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003795}}
.footer {
  background: none repeat scroll 0 0 #FFFFFF;
  border-top: 2px solid #E3E3E3;
  color: #B7B7B7;
  font-size: 9px;
  padding: 20px 0;
  text-align: center;
  margin-top: 38px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003805}}
.clear {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003807}}
.divider {
  background-color: #E5E5E5;
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003819}}
.table-1 {
  width: 957px;
  background-color: #fff;
  font-size: 12px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 1px 1px 0 white;
  -moz-box-shadow: 1px 1px 0 white;
  box-shadow: 1px 1px 0 white;
  border-collapse: inherit;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003828}}
.table-1 th {
  padding: 15px 10px;
  background-color: #EEF0F5;
  text-shadow: 0 1px 0 white;
  border-top: 1px solid #FFFFFF;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003835}}
.table-1 td {
  padding: 15px 10px;
  border-bottom: 1px solid #DADADA;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003840}}
.last td {
  padding-bottom: 20px;
  border-bottom: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003846}}
.builders-list,
.builders-list li {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 19px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003853}}
.more-info:after {
  content: "▼";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003857}}
.more-info-box {
  border: 1px solid #FFFFFF;
  display: none;
  top: -10px;
  left: 79px;
  padding: 23px 20px;
  position: absolute;
  text-align: left;
  text-shadow: 0 1px 0 white;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.37);
  box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.37);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.91)), color-stop(100%, rgba(247, 247, 249, 0.82)));
  background-image: -webkit-linear-gradient(center top, rgba(255, 255, 255, 0.91) 0%, rgba(247, 247, 249, 0.82) 100%);
  background-image: -moz-linear-gradient(center top, rgba(255, 255, 255, 0.91) 0%, rgba(247, 247, 249, 0.82) 100%);
  background-image: -o-linear-gradient(center top, rgba(255, 255, 255, 0.91) 0%, rgba(247, 247, 249, 0.82) 100%);
  background-image: linear-gradient(center top, rgba(255, 255, 255, 0.91) 0%, rgba(247, 247, 249, 0.82) 100%);
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003870}}
.more-info-box span {
  color: #8C8C8C;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003873}}
.more-info-box h4 {
  display: inline-block;
  margin: 0 0 13px 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003877}}
.more-info-box h4.last {
  margin-bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003881}}
.more-info-box h3 {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 19px;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/default\.scss}line{font-family:\00003890}}
.pos-relative {
  position: relative;
}
