/* line 1, ../sass/default.scss */
body.interface {
  margin: 0;
  padding: 0;
  background: url(http://dribbble.com/images/noise-f1.gif) white;
  font-family: "helvetica neue", sans-serif;
  font-size: 10px;
  color: #333;
}

/* line 10, ../sass/default.scss */
.container-inner {
  width: 962px;
  margin: 0 auto;
}

/* line 15, ../sass/default.scss */
.logo {
  margin: 0;
  padding: 0;
}

/* line 20, ../sass/default.scss */
.builder-head {
  font-size: 25px;
  margin: 25px 0;
  text-transform: uppercase;
}

/* line 26, ../sass/default.scss */
.builder-head span {
  color: #666666;
  font-size: 16px;
  font-weight: normal;
  text-transform: lowercase;
}

/* line 34, ../sass/default.scss */
h1.logo a {
  text-shadow: 1px 1px 0 #FFF;
  font-family: 'Pacifico';
  font-size: 45px;
  font-weight: normal;
  letter-spacing: 1px;
  text-decoration: none;
  opacity: 1;
  color: #445873;
  transition: opacity .2s ease-in-out;
}

/* line 46, ../sass/default.scss */
.logo a:hover {
  opacity: 0.5;
}

/* line 50, ../sass/default.scss */
.top-menu-container {
  background: -moz-linear-gradient(center top, #0a3569 0%, #417fb1 100%) repeat scroll 0 0 transparent;
  width: 100%;
}

/* line 55, ../sass/default.scss */
.top-menu {
  list-style: none;
  overflow: auto;
  padding: 0;
}

/* line 61, ../sass/default.scss */
.top-menu li {
  float: left;
  padding: 0;
}

/* line 66, ../sass/default.scss */
.top-menu li:first-child a {
  padding-left: 0;
}

/* line 70, ../sass/default.scss */
.top-menu li a {
  color: #FFFFFF;
  display: block;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0.9px;
  padding: 12px 12px;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  -moz-transition: opacity .2s ease-in-out;
}

/* line 83, ../sass/default.scss */
.top-menu li a:hover {
  opacity: 0.5;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.12);
}

/* line 88, ../sass/default.scss */
.auth {
  float: right;
  margin-top: 25px;
  width: 317px;
}

/* line 94, ../sass/default.scss */
.auth input:first-child {
  margin-right: 10px;
}

/* line 101, ../sass/default.scss */
.auth input[type="text"],
.auth input[type="password"] {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #EEEEEE;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.42) inset;
  color: #666666;
  font-size: 12px;
  line-height: 13px;
  padding: 8px 11px 5px;
  width: 95px;
  float: left;
}

/* line 114, ../sass/default.scss */
.auth input[type="submit"] {
  background: -moz-linear-gradient(center top, #0a3569 0%, #417fb1 100%) repeat scroll 0 0 transparent;
  border: medium none;
  border-radius: 3px;
  color: #FFFFFF;
  font-size: 10px;
  margin: 1px 0 0 5px;
  padding: 8px 11px 6px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.59);
  text-transform: uppercase;
  float: left;
}

/* line 127, ../sass/default.scss */
.alert {
  color: #c30000;
  background-color: #f2dcdc;
  padding: 5px 5px 5px 25px;
  margin-bottom: 20px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-color: #c30000;
  font-size: 20px;
}

/* line 137, ../sass/default.scss */
a:link, a:visited, a:active {
  color: #2b6194;
  text-decoration: none;
}

/* line 142, ../sass/default.scss */
a:hover {
  color: #BDC9D5;
}

/* line 147, ../sass/default.scss */
table {
  border-spacing: 1px 1px;
}

/* line 151, ../sass/default.scss */
table td {
  padding: 3px 4px 3px 4px;
  text-align: center;
}

/* line 156, ../sass/default.scss */
.Project {
  min-width: 6em;
}

/* line 160, ../sass/default.scss */
.LastBuild, .Activity {
  padding: 0 0 0 4px;
}

/* line 164, ../sass/default.scss */
.LastBuild, .Activity, .Builder, .BuildStep {
  min-width: 5em;
}

/* Chromium Specific styles */
/* line 169, ../sass/default.scss */
div.BuildResultInfo {
  color: #444;
}

/* line 173, ../sass/default.scss */
div.Announcement {
  margin-bottom: 1em;
}

/* line 177, ../sass/default.scss */
div.Announcement > a:hover {
  color: black;
}

/* line 181, ../sass/default.scss */
div.Announcement > div.Notice {
  background-color: #afdaff;
  padding: 0.5em;
  font-size: 16px;
  text-align: center;
}

/* line 188, ../sass/default.scss */
div.Announcement > div.Open {
  border: 3px solid #8fdf5f;
  padding: 0.5em;
  font-size: 16px;
  text-align: center;
}

/* line 195, ../sass/default.scss */
div.Announcement > div.Closed {
  border: 5px solid #e98080;
  padding: 0.5em;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

/* line 203, ../sass/default.scss */
td.Time {
  color: #000;
  border-bottom: 1px solid #aaa;
  background-color: #eee;
}

/* line 209, ../sass/default.scss */
td.Activity, td.Change, td.Builder {
  color: #333333;
  background-color: #CCCCCC;
}

/* line 214, ../sass/default.scss */
td.Change {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

/* line 220, ../sass/default.scss */
td.Event {
  color: #777;
  background-color: #ddd;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

/* line 228, ../sass/default.scss */
td.Activity {
  border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  min-height: 20px;
  padding: 2px 0 2px 0;
}

/* line 236, ../sass/default.scss */
td.idle, td.waiting, td.offline, td.building {
  border-top-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
}

/* line 242, ../sass/default.scss */
.LastBuild {
  border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
}

/* Console view styles */
/* line 252, ../sass/default.scss */
td.DevRev {
  padding: 4px 8px 4px 8px;
  color: #333333;
  border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  background-color: #eee;
  width: 1%;
}

/* line 262, ../sass/default.scss */
td.DevRevCollapse {
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
}

/* line 268, ../sass/default.scss */
td.DevName {
  padding: 4px 8px 4px 8px;
  color: #333333;
  background-color: #eee;
  width: 1%;
  text-align: left;
}

/* line 276, ../sass/default.scss */
td.DevStatus {
  padding: 4px 4px 4px 4px;
  color: #333333;
  background-color: #eee;
}

/* line 282, ../sass/default.scss */
td.DevSlave {
  padding: 4px 4px 4px 4px;
  color: #333333;
  background-color: #eee;
}

/* line 288, ../sass/default.scss */
td.first {
  border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
}

/* line 294, ../sass/default.scss */
td.last {
  border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
}

/* line 300, ../sass/default.scss */
td.DevStatusCategory {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-width: 1px;
  border-style: solid;
}

/* line 308, ../sass/default.scss */
td.DevStatusCollapse {
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
}

/* line 314, ../sass/default.scss */
td.DevDetails {
  font-weight: normal;
  padding: 8px 8px 8px 8px;
  color: #333333;
  background-color: #eee;
  text-align: left;
}

/* line 322, ../sass/default.scss */
td.DevDetails li a {
  padding-right: 5px;
}

/* line 326, ../sass/default.scss */
td.DevComment {
  font-weight: normal;
  padding: 8px 8px 8px 8px;
  color: #333333;
  background-color: #eee;
  text-align: left;
}

/* line 334, ../sass/default.scss */
td.DevBottom {
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
}

/* line 343, ../sass/default.scss */
td.Alt {
  background-color: #ddd;
}

/* line 347, ../sass/default.scss */
.legend {
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  width: 100px;
  max-width: 100px;
  text-align: center;
  padding: 2px 2px 2px 2px;
  height: 14px;
  white-space: nowrap;
}

/* line 359, ../sass/default.scss */
.DevStatusBox {
  text-align: center;
  height: 20px;
  padding: 0 2px;
  line-height: 0;
  white-space: nowrap;
}

/* line 367, ../sass/default.scss */
.DevStatusBox a {
  opacity: 0.85;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  display: block;
  width: 90%;
  height: 20px;
  line-height: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* line 382, ../sass/default.scss */
.DevSlaveBox {
  text-align: center;
  height: 10px;
  padding: 0 2px;
  line-height: 0;
  white-space: nowrap;
}

/* line 390, ../sass/default.scss */
.DevSlaveBox a {
  opacity: 0.85;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  display: block;
  width: 90%;
  height: 10px;
  line-height: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* line 405, ../sass/default.scss */
a.noround {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  position: relative;
  margin-top: -8px;
  margin-bottom: -8px;
  height: 36px;
  border-top-width: 0;
  border-bottom-width: 0;
}

/* line 417, ../sass/default.scss */
a.begin {
  border-top-width: 1px;
  position: relative;
  margin-top: 0px;
  margin-bottom: -7px;
  height: 27px;
  border-top-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

/* line 431, ../sass/default.scss */
a.end {
  border-bottom-width: 1px;
  position: relative;
  margin-top: -7px;
  margin-bottom: 0px;
  height: 27px;
  border-bottom-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}

/* line 445, ../sass/default.scss */
.center_align {
  text-align: center;
}

/* line 449, ../sass/default.scss */
.right_align {
  text-align: right;
}

/* line 453, ../sass/default.scss */
.left_align {
  text-align: left;
}

/* line 457, ../sass/default.scss */
div.BuildWaterfall {
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #FFFFFF;
  padding: 4px 4px 4px 4px;
  float: left;
  display: none;
  border-width: 1px;
  border-style: solid;
}

/* LastBuild, BuildStep states */
/* line 473, ../sass/default.scss */
.success {
  background-color: #345916;
  color: #FCFCFC;
}

/* line 479, ../sass/default.scss */
.failure {
  color: #000;
  background-color: #e88;
  border-color: #A77272;
}

/* line 485, ../sass/default.scss */
.warnings {
  color: #FFFFFF;
  background-color: #fa3;
  border-color: #C29D46;
}

/* line 491, ../sass/default.scss */
.skipped {
  color: #000;
  background: #AADDEE;
  border-color: #AADDEE;
}

/* line 497, ../sass/default.scss */
.exception, .retry {
  color: #FFFFFF;
  background-color: #c6c;
  border-color: #ACA0B3;
}

/* line 503, ../sass/default.scss */
.start {
  color: #000;
  background-color: #ccc;
  border-color: #ccc;
}

/* line 509, ../sass/default.scss */
.running, .waiting, td.building {
  color: #000;
  background-color: #fd3;
  border-color: #C5C56D;
}

/* line 515, ../sass/default.scss */
.offline, td.offline {
  color: #FFFFFF;
  background-color: #777777;
  border-color: #dddddd;
}

/* line 522, ../sass/default.scss */
.start {
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
}

/* line 531, ../sass/default.scss */
.notstarted {
  border-width: 1px;
  border-style: solid;
  border-color: #aaa;
  background-color: #fff;
}

/* line 538, ../sass/default.scss */
.closed {
  background-color: #ff0000;
}

/* line 542, ../sass/default.scss */
.closed .large {
  font-size: 1.5em;
  font-weight: bolder;
}

/* line 547, ../sass/default.scss */
td.Project a:hover, td.start a:hover {
  color: #000;
}

/* line 551, ../sass/default.scss */
.mini-box {
  text-align: center;
  height: 20px;
  padding: 0 2px;
  line-height: 0;
  white-space: nowrap;
}

/* line 559, ../sass/default.scss */
.mini-box a {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  display: block;
  width: 100%;
  height: 20px;
  line-height: 20px;
  margin-top: -30px;
}

/* line 570, ../sass/default.scss */
.mini-closed {
  -box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 4px solid red;
}

/* grid styles */
/* line 577, ../sass/default.scss */
table.Grid {
  border-collapse: collapse;
}

/* line 581, ../sass/default.scss */
table.Grid tr td {
  padding: 0.2em;
  margin: 0px;
  text-align: center;
}

/* line 587, ../sass/default.scss */
table.Grid tr td.title {
  font-size: 90%;
  border-right: 1px gray solid;
  border-bottom: 1px gray solid;
}

/* line 593, ../sass/default.scss */
table.Grid tr td.sourcestamp {
  font-size: 90%;
}

/* line 597, ../sass/default.scss */
table.Grid tr td.builder {
  text-align: right;
  font-size: 90%;
}

/* line 602, ../sass/default.scss */
table.Grid tr td.build {
  border: 1px gray solid;
}

/* column container */
/* line 608, ../sass/default.scss */
div.column,
div.column-1 {
  margin: 0 20px 20px 0;
  float: left;
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  padding: 6px 20px 20px;
  width: 426px;
  font-size: 11px;
}

/* line 619, ../sass/default.scss */
div.column-1 {
  width: 914px;
}

/* line 623, ../sass/default.scss */
div.welcome-txt {
  font-size: 14px;
}

/* line 627, ../sass/default.scss */
div.welcome-txt ol {
  margin: 18px 0 0 21px;
  padding: 0;
}

/* line 632, ../sass/default.scss */
div.welcome-txt ol li {
  margin: 0 0 18px;
  padding: 0;
}

/* line 637, ../sass/default.scss */
.column h2 {
  font-size: 16px;
  margin: 20px 0 10px;
}

/* line 642, ../sass/default.scss */
div.last {
  margin-right: 0;
}

/* info tables */
/* line 647, ../sass/default.scss */
table.info {
  border-spacing: 1px;
}

/* line 651, ../sass/default.scss */
table.info td {
  padding: 5px;
  text-align: left;
  background: none repeat scroll 0 0 #F6F6F6;
  border-bottom: 1px solid #FFF;
}

/* line 658, ../sass/default.scss */
table.info th {
  padding: 5px;
  text-align: left;
}

/* line 663, ../sass/default.scss */
table.info td.left {
  text-align: left;
}

/* line 667, ../sass/default.scss */
table.info tr td:first-child {
  font-weight: bold;
}

/* line 671, ../sass/default.scss */
table.info.rows tr td:first-child {
  font-weight: normal;
}

/* line 675, ../sass/default.scss */
.alt {
  background-color: #f6f6f6;
}

/* line 679, ../sass/default.scss */
li {
  padding: 0.1em 1em 0.1em 1em;
}

/* line 683, ../sass/default.scss */
.result {
  padding: 4px 9px;
}

/* line 687, ../sass/default.scss */
.result a {
  color: #fff;
  text-decoration: underline;
}

/* log view */
/* line 693, ../sass/default.scss */
.log * {
  vlink: #800080;
  font-family: "Courier New", courier, monotype, monospace;
}

/* line 698, ../sass/default.scss */
span.stdout {
  color: black;
}

/* line 702, ../sass/default.scss */
span.stderr {
  color: red;
}

/* line 706, ../sass/default.scss */
span.header {
  color: blue;
}

/* revision & email */
/* line 711, ../sass/default.scss */
.revision .full {
  display: none;
}

/* line 715, ../sass/default.scss */
.user .email {
  display: none;
}

/* change comments (use regular colors here) */
/* line 720, ../sass/default.scss */
pre.comments > a:link, pre.comments > a:visited {
  color: blue;
}

/* line 724, ../sass/default.scss */
pre.comments > a:active {
  color: purple;
}

/* line 728, ../sass/default.scss */
form.command_forcebuild {
  border-top: 1px solid black;
  padding: .5em;
  margin: .5em;
}

/* line 734, ../sass/default.scss */
form.command_forcebuild > .row {
  border-top: 1px dotted gray;
  padding: .5em 0;
}

/* line 739, ../sass/default.scss */
form.command_forcebuild .force-textarea > .label {
  display: block;
}

/* line 743, ../sass/default.scss */
form.command_forcebuild .force-nested > .label {
  font-weight: bold;
  display: list-item;
}

/* line 748, ../sass/default.scss */
form.command_forcebuild .force-any .force-text {
  display: inline;
}

/* Footer */
/* line 754, ../sass/default.scss */
.footer {
  background: none repeat scroll 0 0 #FFFFFF;
  border-top: 2px solid #E3E3E3;
  color: #B7B7B7;
  font-size: 9px;
  padding: 20px 0;
  text-align: center;
  margin-top: 38px;
}

/* line 764, ../sass/default.scss */
.breadcrumbs-nav {
  margin: 25px 0;
  padding: 0;
  overflow: auto;
  text-shadow: 0 1px 0 #FFFFFF;
}

/* line 771, ../sass/default.scss */
.breadcrumbs-nav li {
  color: #666;
  float: left;
  font-size: 12px;
  list-style: none outside none;
  margin: 0 10px 0 0;
  padding: 0;
  font-weight: bold;
}

/* line 781, ../sass/default.scss */
.breadcrumbs-nav li:before {
  content: "❯";
  padding-right: 8px;
  font-size: 9px;
}

/* line 787, ../sass/default.scss */
.breadcrumbs-nav li:first-child:before {
  content: none;
}

/* line 791, ../sass/default.scss */
.clear {
  clear: both;
}

/* line 793, ../sass/default.scss */
.divider {
  background-color: #E5E5E5;
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
}
