@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\000032}}
.table-holder {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\000034}}
.log-main .main-head {
  font-size: 17px;
  margin: 0 0 11px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\000039}}
.log-main .main-head.big {
  color: #FFFFFF;
  float: left;
  font-size: 18px;
  margin: 3px 0 0 25px;
  padding: 0;
  text-shadow: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\0000318}}
.log-main .dataTables_wrapper .dataTables_filter {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\0000322}}
.log-main .grey-btn {
  padding: 6px 9px;
  margin-left: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\0000327}}
.log-main .dataTables_filter {
  float: right;
  margin-bottom: 0;
  margin-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\0000331}}
.log-main .dataTables_filter label {
  color: #fff;
  margin-right: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\0000335}}
.log-main .dataTables_filter input {
  margin-right: 12px;
  width: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\0000339}}
.log-main .dataTables_filter #filterinput {
  border: 1px solid #CCCCCC;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #666666;
  font-size: 12px;
  line-height: 14px;
  padding: 6px 8px 6px 32px;
  text-shadow: 0 1px 0 white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\0000350}}
.input-label {
  font-weight: bold;
  position: relative;
  text-shadow: 0 1px 0 white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\0000356}}
.input-label:after {
  color: #ADADAD;
  content: "î €";
  font-family: katana_icons;
  left: 12px;
  line-height: 12px;
  position: absolute;
  top: 1px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\0000367}}
.check-boxes-list {
  float: left;
  margin-right: 20px;
  margin-top: 7px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\0000373}}
.log-main .table-1 {
  margin-bottom: 44px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\0000377}}
.log-main .sub-menu-container {
  border-top: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0a3569), color-stop(100%, #417fb1));
  background-image: -webkit-linear-gradient(top, #0a3569 0%, #417fb1 100%);
  background-image: -moz-linear-gradient(top, #0a3569 0%, #417fb1 100%);
  background-image: -o-linear-gradient(top, #0a3569 0%, #417fb1 100%);
  background-image: linear-gradient(top, #0a3569 0%, #417fb1 100%);
  *zoom: 1;
  padding: 10px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
.log-main .sub-menu-container:after {
  content: "";
  display: table;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\0000384}}
.log-main h1.logo a {
  color: #FFFFFF;
  padding: 13px 0 0;
  text-shadow: inherit;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\0000390}}
.summary-list {
  list-style: none;
  margin: 8px 0 10px;
  padding: 0;
  float: right;
  line-height: 11px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\0000396}}
.summary-list li {
  color: #7D7D7D;
  text-shadow: 0 1px 0 white;
  font-size: 12px;
  list-style: none;
  margin: 0 0 0 13px;
  border-left: 1px solid #939393;
  float: left;
  padding: 0 0 0 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\00003105}}
.summary-list li:first-child {
  border-left: none;
  padding-left: 0;
  margin-left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\00003113}}
.back-top-top {
  clear: both;
  display: block;
  float: left;
  margin-top: -37px;
  font-size: 11px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\00003120}}
.link-1 {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\00003122}}
.table-1 .first-child {
  padding-left: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\00003127}}
.tablesorter .first-child,
.case-names {
  width: 700px;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\00003131}}
.table-1 {
  table-layout: fixed;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\00003136}}
.table-1 td {
  word-wrap: break-word;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\00003138}}
.back-to-detail {
  display: block;
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\00003143}}
.results-con {
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\00003146}}
span.covered {
  background: #00df00;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\00003147}}
span.uncovered {
  background: #df0000;
  border-top: #9c9c9c 1px solid;
  border-bottom: #9c9c9c 1px solid;
  border-right: #9c9c9c 1px solid;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\00003153}}
span.ignored {
  background: #ffff00;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\00003155}}
.Failure {
  background-color: #EFCFCF;
  border-top: 1px solid #FFFFFF;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\00003157}}
.table-1 tr td:first-child .failure-detail-txt {
  padding-left: 15px;
  font-family: "Courier New";
  overflow: auto;
  white-space: pre-line;
  max-height: 100px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\00003165}}
.failure-detail-cont a {
  margin-right: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\00003169}}
.Pass {
  border-top: 1px solid #FFFFFF;
  background-color: #DDE6D6;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\00003174}}
.Ignored {
  border-top: 1px solid #FFFFFF;
  background: #CBDCE6;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\00003179}}
.TableHeader {
  background: #efefef;
  color: #000;
  font-weight: bold;
  horizontal-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\00003186}}
a.summarie {
  color: #000;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\00003190}}
a.summarie:active {
  color: #000;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\00003194}}
a.summarie:visited {
  color: #000;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\00003198}}
.description {
  margin-top: 1px;
  padding: 3px;
  background-color: #dcdcdc;
  color: #000;
  font-weight: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\00003205}}
.method {
  color: #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\00003208}}
a.method {
  text-decoration: none;
  color: #000;
  font-weight: normal;
  padding-left: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\00003214}}
a.Failure {
  font-weight: bold;
  color: red;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\00003219}}
a.Failure:visited {
  font-weight: bold;
  color: red;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\00003224}}
a.Failure:active {
  font-weight: bold;
  color: red;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\00003229}}
a.error {
  font-weight: bold;
  color: red;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\00003233}}
a.error:visited {
  font-weight: bold;
  color: red;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\00003237}}
a.error:active {
  font-weight: bold;
  color: red;
  /*text-decoration: none;
  padding-left:5px;*/
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\00003243}}
a.ignored {
  font-weight: bold;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\00003248}}
a.ignored:visited {
  font-weight: bold;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simon\/buildbot\/unitybuildbot\/buildbot\/master\/buildbot\/status\/web\/files\/sass\/log\.scss}line{font-family:\00003253}}
a.ignored:active {
  font-weight: bold;
  text-decoration: none;
}
