.container
  .row
    .well
        h2 About this buildbot
        .row
          div
            bbcheckbox(data="settings.settings1")
            bbcheckbox(data="settings.settings2")
            bbradio(data="settings.settings3")