.container
  .row
    .well
        h2 Settings
        .row(ng-repeat="group in ::settingsGroups")
            h3 {{group.caption}}
            form(name="{{ group.name }}")
            div(ng-repeat="item in group.items")
                div(ng-switch="", on="item.type")
                    div(ng-switch-when="bool")
                        label(class="checkbox-inline")
                            input(type="checkbox" name="{{item.name}}" ng-model="item.value" ng-value="item.value")
                            | {{ item.name }}
                    div(ng-switch-when="choices")
                        div(ng-repeat="answer in item.answers")
                            label(class="radio-inline")
                                input(type="radio" name="{{group.name + '_' + answer.name}}" ng-model="item.value" ng-value="answer.name")
                                | {{ answer.name }}
