{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "entry",
                "targets": {
                    "chrome": "56",
                    "firefox": "52",
                    "edge": "13",
                    "safari": "10"
                },
                "modules": false
            }
        ]
    ]
}
