{{#name}}
	<a href="builders/{{name}}?{{builderParam}}">{{friendly_name}}{{^friendly_name}}{{name}}{{/friendly_name}}</a>
{{/name}}

{{#progressBar}}
	<div data-starttime="{{etaStart}}" data-etatime="{{etaCurrent}}" class="percent-outer-js percent-outer">
		<span class="time-txt-js time-txt"></span>
		<div class="percent-inner-js percent-inner">								
		</div>
	</div>
{{/progressBar}}

{{#currentBuilds}}
    <ul class="list current-job-js">	    	    		
			<li>
				<a href="../{{projects}}/builders/{{builderName}}/builds/{{number}}{{^number}}0{{/number}}">{{number}}{{^number}}0{{/number}}</a>
				{{#currentStep}}
					{{name}}{{^name}}0{{/name}}<span class="spin-icon animate-spin"></span>
				{{/currentStep}}
				{{#eta}}
					<div data-starttime="{{times.0}}" data-etatime="{{eta}}" class="percent-outer-js percent-outer">
						<span class="time-txt-js time-txt"></span>
						<div class="percent-inner-js percent-inner">								
						</div>
					</div>					
				{{/eta}}
                {{^eta}}
					<div data-starttime="{{times.0}}" data-etatime="0" class="percent-outer-js percent-outer">
						<span class="time-txt-js time-txt">{{times.0}}</span>
						<div class="percent-inner-js percent-inner">

						</div>
					</div>
                {{/eta}}
				
			</li>						
	</ul>	
{{/currentBuilds}}

{{#showNoJobs}}
	<span class="small-txt">
		No jobs
    </span>
{{/showNoJobs}}

{{#pendingBuilds}}	
	<a class="more-info popup-btn-js mod-1" href="#" data-builderName="{{builderName}}"> {{pendingBuilds}} Pending jobs </a>
{{/pendingBuilds}}

{{#showLatestBuild}}
	{{#latestBuild}}
		<span class="hide hidden-date-js"></span>
		<span class="last-run"></span>
		<span class="small-txt"></span>
	{{/latestBuild}}
{{/showLatestBuild}}
{{#customBuild}}
	<a class="ajaxbtn more-info" title="Run custom build" href="#" data-contenttype="form" data-popuptitle="Run custom build" data-rt_update="extforms" data-b_name="{{builderName}}" data-b="{{builderUrlShow}}/projects/{{project}}/builders/{{builderName}}" data-returnpage="builders">
	</a>
	<a class="run-build-js run-build" title="Run build with default values" href="#">
	</a>
{{/customBuild}}

{{#showStatus}}
	{{#latestBuild}}	
	<span class="hide">{{text.0}}</span>
	<a href="{{#url}}{{path}}{{/url}}">#{{number}}{{^number}}0{{/number}}</a>
	<span class="status-text">
	 {{#text}}
	 	{{.}}
	 {{/text}}
	</span>
	{{/latestBuild}}
{{/showStatus}}