{{#buildersPopup}}
	<a title="Builder information" class="more-info popup-btn-json-js" href="#"> </a>
{{/buildersPopup}}

{{#showTimeago}}
	<span class="hide">{{showLastMessageDate}}</span>
	<span class="last-message-timemago"></span>
	<small>{{showLastMessageDate}}</small>
{{/showTimeago}}