.container
  .row
      tabset(justified="left")
          tab(heading="build {{build.number}}", active="build.active", ng-repeat="build in builds")
              buildsummary(build="build")
          tab(heading="properties")
              properties(properties="properties")
          tab(heading="Debug")
              h4 Buildrequest
              rawdata(data="buildrequest")
              h4 Buildset
              rawdata(data="buildset")
              h4 Builder
              rawdata(data="builder")
              h4 Builds
              rawdata(data="builds")
