.container
  .row
      .col-sm-5
          h3 Associated builds:
          .row(ng-repeat="build in builds")
              buildsummary(buildid="build.buildid", condensed='1')
      .col-sm-7
          tabset(justified="true")
              tab(heading="build {{build.number}}", ng-repeat="build in builds")
                  rawdata(data="build")
              tab(heading="buildrequest")
                  rawdata(data="buildrequest")
              tab(heading="properties")
                  rawdata(data="buildset.properties")
              tab(heading="buildset")
                  rawdata(data="buildset")
