.container
  .row
      uib-tabset(justified="left")
          uib-tab(heading="build {{build.number}}", active="build.active", ng-repeat="build in builds")
              buildsummary(build="build")
          uib-tab(heading="properties")
              properties(properties="properties")
          uib-tab(heading="Debug")
              h4 Buildrequest
              rawdata(data="raw_buildrequest")
              h4 Buildset
              rawdata(data="buildset")
              h4 Builder
              rawdata(data="builder")
              h4 Builds
              rawdata(data="builds")
