$bb-color-results-success: #000;
$bb-color-background-results-success: #8d4;
$bb-color-border-results-success: #4f8530;

$bb-color-results-warnings: #ffffff;
$bb-color-background-results-warnings: #fa3;
$bb-color-border-results-warnings: #c29d46;

$bb-color-results-failure: #000;
$bb-color-background-results-failure: #e88;
$bb-color-border-results-failure: #a77272;

$bb-color-results-skipped: #000;
$bb-color-background-results-skipped: #aaddee;
$bb-color-border-results-skipped: #aaddee;

$bb-color-results-exception: #ffffff;
$bb-color-background-results-exception: #c6c;
$bb-color-border-results-exception: #aca0b3;

$bb-color-results-retry: #000;
$bb-color-background-results-retry: #ecc;
$bb-color-border-results-retry: #aca0b3;

$bb-color-results-cancelled: #000;
$bb-color-background-results-cancelled: #ecc;
$bb-color-border-results-cancelled: #aca0b3;

$bb-color-results-pending: #000;
$bb-color-background-results-pending: #e7d100;
$bb-color-border-results-pending: #aca0b3;

$bb-color-results-unknown: #000;
$bb-color-background-results-unknown: #eee;
$bb-color-border-results-unknown: #aca0b3;
