.bb-build-view-pager {
  text-align: center;

  li {
    display: inline;
  }

  li.previous {
    float: left;
  }

  li.next {
    float: right;
  }
}

.bb-build-view {
  .tab-content {
    width: 100%;
  }
}
