{{#buildersPopup}}
    {{> slave:builders }}
{{/buildersPopup}}

{{#showTimeago}}
    <span class="hide">{{showLastMessageDate}}</span>
    <span class="last-message-timemago"></span>
    <small>{{showLastMessageDate}}</small>
{{/showTimeago}}