@import "bootstrap/bootstrap.less";
@import "font-awesome/font-awesome.less";

.ng-cloak {
	display: none;
}

.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}
.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-enter {
  opacity: 0;
  margin-top:-70px;
}