.container
  .row-fluid
    ul.breadcrumb
      li
        a(href="#/demo") Plugin Demo
  .row-fluid
    .span6
      h4  This is the plugin demo
  .row-fluid
    .span12
      h4 plugin configuration:
      pre {{config}}
  .row-fluid.bg_red
    p ugly red background to show plugin can also define styles
    | actually plugin styles can override default buildbot_www styles!
  .row-fluid
    p also plugins can embed images
    img(src="sample_plugin/img/logo.png")
  hr
  .row-fluid
    p plugins can use external js libraries:
    d3Demo