@charset "UTF-8";
/**
* Main project stylesheet combiner
* 
* @section Setup
* @author sholm
*/

// ---------------------------------------------------------------------------
// Imports

@import "compass";
@import "bootstrap/variables";
@import "bootstrap/bootstrap";
@import "modules/base";

// ---------------------------------------------------------------------------
// Framework

@import "modules/framework/framework";
@import "modules/framework/animate"; 

// ---------------------------------------------------------------------------
// Default typography

@import "modules/framework/typography"; // Must be imported after base

// ---------------------------------------------------------------------------
// Modules
@import "modules/page-elements/navigation";
@import "modules/page-elements/buttons";
@import "modules/page-elements/tables";
@import "modules/page-elements/forms";
@import "modules/page-elements/search-drop-down";
@import "modules/page-elements/lists";
@import "modules/page-elements/popups";
@import "modules/page-elements/main";
@import "modules/page-elements/toastr";
@import "testreport";  