build-status {
  display: inline-block;
  width: 30px;
  height: 30px;
  color: #aaa;
  font-size: 14px;
  text-align: center;

  md-icon, span {
    &.pending {
      color: #FF3;
    }

    &.success {
      color: #3F3;
    }

    &.fail {
      color: #F33;
    }
  }
}
