.modal-content
    .modal-header
        h4 {{sch.label}}
    .modal-body
        div.form-horizontal
            forcefield(field="rootfield",recursive)
    .modal-footer
      button.btn.btn-default(ng-click="cancel()") Cancel
      button.btn.btn-primary(ng-click="ok()") Start Build
