.container-fluid
  :css
    .mainchangegrid .field-id {
    width: 30px;
    }
  %ul.breadcrumb
    %li
      %a{href:"#/changes"}Changes
  .row-fluid
    .span12
      %h2 Last changes coming into the system
  .row-fluid
      .mainchangegrid{data-dojo-attach-point:"maingrid_node"}
