@charset "UTF-8";
/**
* Base variables and function definitions
* Unity3d
* @section framework
* @author Sumon Holm
*/

// Colors
  
// Generics
$color-white: #fff; // white

// status colors and text
$state-colors: 
success #DDE6D6 $color-white "Success",
failure #EFCFCF $color-white "Failure", 
exception #DDD7DD $color-white "Exception",
warnings #fa3 $color-white "Warnings", 
skipped #CBDCE6 $color-white "Skipped", 
inconclusive #CBDCE6 false "Inconclusive", 
ignored #CBDCE6 false "Ignored",
dependency-failure #FCF2F2 $color-white "Dependency failure",
not-rebuilt #F8FCF2 $color-white "Not rebuilt",
start #ccc false "Start",
not-started #ddd false "Not Started",
idle #F5F5F5 false "Idle" #e0e0e0,
paused #DAE6F3 false "Paused" #e0e0e0,
running #FCFACB false "Running",
overtime #FCCBCB false "Overtime",
offline #E7E7E7 false "Offline" #d1d1d1,
waiting #E7E7E7 false "Waiting for buildslave",
retry #DDD7DD $color-white "Retry",
interrupted #DDD7DD $color-white "Interrupted";

// Create colorblind version of colors
@each $colorvar in $state-colors {
    $overriden-color:  false;
    @if length($colorvar) >= 5 {
      $overriden-color: nth($colorvar, 5);
    }

	@include colorBlindBackground (nth($colorvar, 1), nth($colorvar, 2), nth($colorvar, 3),nth($colorvar, 4), $overriden-color);
}

.table-katana tr .success:first-child {
	border-top:none;
}

.waiting,td.building, .current-step {
	background-color: #FCFACB;	
}

.offline,td.offline {
    background-color: #E7E7E7;
    @include text-shadow(0 1px 0 #fff);
}

.idle,td.idle {
    @include text-shadow(0 1px 0 #fff);
}

.paused,td.paused {
    background-color: #DAE6F3;
    @include text-shadow(0 1px 0 #fff);
}

// for not implemented content
.notimpl {color:#838383 !important;}

tr.old-build {
  color: #838383;

  a:not(.custom-build):not(.run-build):not(.artifacts-js) {
      color: #838383;


  }
}