table.table.table-hover.table-striped.table-condensed
  thead
    tr
      th.text-left Name
      th.text-center Value
      th.text-right Source
  tbody
    tr(ng-repeat="(name, value) in properties | publicFields")
      td.text-left {{ name }}
      td.text-left
        pre(style="vertical-align:top; padding:unset; margin:unset; display:inline-block; border:unset; background-color:unset")
            | {{ value[0] | json }}
        i.fa.fa-copy.clickable(style="vertical-align:top; padding:0 0.5ex" ng-click="copy(value[0])")
      td.text-right {{ value[1] }}
