.container-fluid
    .row
        .navbar.navbar-default
            .container-fluid
                .navbar-header
                    .navbar-brand
                        | {{changes.length}} changes
                .navbar-form.navbar-right
                    .form-group
                        .btn.btn-default(ng-click="collapseDetails()", title="Collapse all")
                            i.fa.fa-minus
                        .btn.btn-default(ng-click="expandDetails()", title="Expand all")
                            i.fa.fa-plus
                    
    .row
        ul.list-group
            li.list-group-item(ng-repeat="change in changes")
                a(ui-sref="changebuilds({changeid: change.changeid})")
                    | See builds
                changedetails(change="change")
