.builders-header(ng-class="{'big-header': bh.bigHeader}")
    a.builder(ng-repeat="builder in bh.builders | orderBy: 'builderid' track by builder.builderid"
              ng-style='{width: bh.width}'
              ng-href='#/builders/{{ builder.builderid }}'
              tooltip-placement='left' tooltip='{{ builder.name }}'
              ng-bind='bh.bigHeader ? builder.name : builder.builderid')