.builders
    a.builder(ng-repeat="builder in bh.builders | orderBy: 'builderid' track by builder.builderid"
              ng-style='{width: bh.cellWidth}'
              ng-href='#/builders/{{ builder.builderid }}'
              tooltip-placement='left' tooltip='{{ bh.bigHeader ? builder.id : builder.name }}'
              ng-bind='bh.bigHeader ? builder.name : builder.builderid')