-#lint-input {builder:{pendingBuilds:1},state:"building"}
.row.fullwidth
  %ul.breadcrumbs
    %li
      %a{href:"#/builders"}Builders
    %li
      %a.current{href:"#/builders/"+this.builderName} #{this.builderName}
    .right
      :if builder.pendingBuilds>0
        .span #{builder.pendingBuilds} pending build(s)
        %span.divider #{"|"}
      %b Status:
      .label.right{class:builder.state_class} #{builder.state}
  .buildersgrid{data-dojo-attach-point:"buildersgrid_node"}
