.row.fullwidth
  :css
    .mainchangegrid .field-id {
    width: 30px;
    }
  .twelve.columns
    %ul.breadcrumbs
      %li
        %a{href:"#/changes"}Changes
    .row.fullwidth
      .six.columns
        %h4 Last changes coming into the system
    .row.fullwidth
      .twelve.columns
        .mainchangegrid{data-dojo-attach-point:"maingrid_node"}
