@charset "UTF-8";
/**
* Buttons
* Unity3d
* @page-elements
* @author Simon Holm
*/

// buttons

.link-button {
	background:none;
	border:none;
	padding:0;
	text-decoration:underline;
	font-weight:bold;
	&:hover {
		color: #999;	
	}
}

.link-1 a {
	text-decoration:underline;
	color:#333;
	&:hover {
		color: #999;	
	}
}

a.grey-btn,
.grey-btn,
.clear-btn,
.blue-btn {
	@include bgimage(linear-gradient(bottom, lighten($brand-katana, 20%) 10%, lighten($brand-primary, 5%) 100%)); 
    border: 1px solid lighten($brand-katana, 5%);
    @include border-radius(7px);
    color: #eee;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 0.3px;
    padding: 10px;
  
    text-transform: uppercase;
    display: inline-block;
    &:hover {
		color: #A4A4A4;    	
    }
}

.blue-btn {
	@include bgimage(linear-gradient(bottom, lighten($brand-katana, 20%) 10%, lighten($brand-primary, 5%) 100%)); 
    border: 1px solid lighten($brand-katana, 5%);
    border-bottom:1px solid #6D6D6D;
    @include box-shadow( 0 1px 0 rgba(255, 255, 255, 0.45) inset, 1px 1px 0 #fff);
    @include border-radius(6px);
    color: #F7F7F7;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 0.3px;
    padding: 8px 10px;
    @include text-shadow( 0 -1px 0 rgba(0, 0, 0, 0.44));
    text-transform: uppercase;
        &:hover {
        color: rgba(247, 247, 247, 0.72);

    }
}

.grey-btn{
	@include bgimage(linear-gradient(bottom, $gray-lighter 10%, $gray-light 100%)); 
		border: 1px solid $gray-lighter;
		border-bottom:1px solid $gray-light;
		color: $text-color;
		&:hover{
            color: $link-hover-color;
		}
}

.grey-btn.var-1 {
    float: right;
    font-size: 12px;
    margin-left:15px;
    margin-bottom: 15px;
    &:after {
        content:"❯";    
        font-size: 13px;
    }
}

.chrome.win .grey-btn.var-1:after {
    content:""; 
}

.grey-btn.var-2 {
    font-size: 9px;
    padding: 7px 8px;
    position: absolute;
    right: 0;
    top: 10px;
    z-index: 1;
}

.grey-btn.var-3 {
    font-size: 9px;
    padding: 7px 8px;
    position: relative;
}

  

.codebases .blue-btn {
    margin:0 0 10px 0; 
    float: right;   
    &:focus {
        outline: none;   
        @include box-shadow($focusShadow);
    }
}

.rebuild, 
.cancelbuild,
.stopbuild {
    .grey-btn {
        padding: 5px 9px;
    }
}
@media (min-width:$screen-md-min) {
    .codebases .blue-btn {
        margin: auto;        
    }
}

.delete-icon {
    display:block;
    margin-right: -1px;
    &:before {
        font-family: "katana_icons";
        content: "";
        font-size: 15px;
        color:$link-color;
    }
    &:hover:before{
        color:#ccc;
    }       
}

.submitBtn {
    padding: 9px 9px 8px 34px !important;
    @include box-shadow(1px 1px 0 #FFFFFF);
    border-bottom:1px solid #ccc;
    &:after {
        color: $link-color;
        font-family: katana_icons;
        content: "";
        font-size: 17px;
        left: 12px;
        position: absolute;
        top: 5px;
        line-height: 19px;
    }
    &:hover:after {
        color: #A4A4A4;     
    }
}


.removeBuildBtn {
    font-weight: bold;
    background: none;
    color: $link-color;
    float:right;
    border:none;
    margin-top: 9px;
    padding: 0;    
    &:hover{
        color: $link-hover-color;
    }    
}
 
.run-build {
    margin-left: 5px;
    &:after {
        font-family: katana_icons;
        content: "";
        font-size: 17px;
    }
}

.close-btn {
	position: absolute;
    right: 10px;
    top: 4px;
    cursor: pointer;    
    &:hover:after {
        color:$link-hover-color;
    }    
}

.close-btn:after {
    color: #333333;
    content: "✖";
    font-size: 20px;
    text-shadow: 1px 1px 1px #FFFFFF;
}
