@charset "UTF-8";
.recent-build-icon {
	float:right;
    font-style: normal;
	&:after {
		color: #666;
		font-family: "katana_icons";
	    content: "î ‡";
	    display: inline-block;
	    padding: 0;
	    font-weight:normal;
	    font-size: 15px;
	    position: relative;
	    line-height:14px;
	}		
}

.recent-build-icon-spacer {
	padding-right:15px;		
	.recent-build-icon:after {
		margin-right: -15px;
	}
}

.step-list {
	@include pie-clearfix;
	list-style: none outside none;
	margin: 0;
    padding: 0;
    .index-count {
    	color: #666666;
	    float: left;
	    font-size: 33px;
	    font-weight: bold;
	    margin-left: -57px;
	    margin-top: -5px;
	    min-width: 32px;
	    text-align: right;
    }

	li {
	   	margin-bottom: 14px;
    	padding-bottom: 15px;
    	&.status-not_started {
    		.step-head,
    		.index-count,
    		span {
    			color:#ddd;
    		}
    	}
	}
	&> li {
		border-bottom:1px dotted #ccc;
		margin-left: 47px;
	    padding-left: 0;
	    padding-right: 0;
		&:first-child {
    		padding-top: 15px;
		}
	}
	
	.result {
		float: right;
		display: inline-block;
		font-weight: bold;
    	padding: 5px 9px 4px;
    	text-transform: uppercase;
	}	
	p {
		margin:0 60px 11px 0;
		color: #666;
		&> span { 
			color: #666666;
		    display: block;
		    font-weight: bold;
		    padding-top: 3px;
		}
	}
}

// artifact links
.builders-list .artifact-js {
	font-size:14px;
	font-weight:bold;
	line-height: 24px;
}

.sum-display:after {
	margin-left: 4px;
}

.graceful_shutdown {
	float: right;
    margin-top: 6px;
}

.pos-content {
	float: left;
    line-height: 8px;
    margin-left: 10px;
    margin-top: -2px;
}

// test report and result links
.tests-summary-list {
	 margin: 3px 5px 0 0;
	 
	li {
		float: left;
		margin-right: 10px;
		&:first-child {
			margin-right: 5px;
			font-weight: bold;
		}

		a {
			font-weight: bold;	
		}
	}
}
a.no-artifacts {
		color:#444;
		cursor:text;
	}

.logs-txt {
	display:block;
	margin-bottom:3px;
	margin-top:10px;
}

.log-list {
	list-style:none;
	padding:0;
	margin:0;
	@include pie-clearfix;
	span {	    
	    display: block;	    
	}
	li {
		list-style:none;
		padding:0;
		margin:0 0 1px;
		font-weight: bold;
    	line-height: 16px;
	}
	.urls-mod {margin:5px 0;}
	.dependency-list span{			
		display: block;
		float: left;
		height: 14px;
		margin-right: 4px;		
		width: 14px;	    	
		//border: 1px solid #B4B7B0;
		&.not_rebuilt {
			border: 1px solid #B4B7B0;
		}

	}

}

.dependency-list span {
	display: block;
	float: left;
	height: 14px;			
	width: 14px;	    		
	padding: 1px 7px;
	font-size: 10px;        
	text-transform: uppercase;
	margin-right: 5px;
	display: inline-block;
	border: 1px solid #B4B7B0;
}

.color-blind-mode .dependency-list span {		 
	height:auto;
	width: auto;
	margin-bottom: 3px;
	margin-top: -2px;    	    
}

.force-list,
.force-bool {
		display:block;
		overflow: auto;
	.label {
		display:block;
		float:left;
		font-weight:bold;		
		color: #333;
		margin:6px 10px 8px 0;	
	}
	.select {
		display:block;
		float:left;
	}
	input[type="checkbox"] {
		display: block;
		clear: both;
	}
}

div.force-text {
	clear: both;
    margin-bottom: 11px;
    @include pie-clearfix;
	input[type="text"] {
		border: 1px solid #CCC;
	    @include border-radius(4px);
	    color: #666;
	    display: block;
	    clear: both;	    
	    padding: 7px;		
	    width: 100%;
	}
	.label {
		display:block;
		float:left;
		font-weight:bold;
		color: #333;
		margin:6px 10px 8px 0;		  
		padding: 0;
		font-size: inherit;
		line-height: inherit;
	}	
}

.builders-list,
.builders-list li {
	margin:0;
	padding:0;
	list-style:none;
	line-height: 19px;
}

.tabs-list {
	li {
		float:left;
		@include border-radius(7px);
		background-color: #FFFFFF;
	    border: 1px solid #CCCCCC;
	    @include border-radius(7px);
	    cursor: pointer;
	    display: block;
	    font-size: 11px;
	    font-weight: bold;
	    margin-bottom: 16px;
	    margin-right: 7px;
	    padding: 5px 10px 6px;
	    &.selected {
	    	background-color: #eee;
	    }
	}
}

.list {
	margin:0;
	padding:0;
	list-style:none;
	> ul {
		margin:0;
		padding:0;
		list-style:none;
	}
	> li {
		margin:0 0 10px 0;
		padding:0;
		list-style:none;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.pending-job-list { 
	list-style:none;
    margin: 0;
    padding: 0;
    background-color:#F4F4F4;
    border: 1px solid #D9D9D9;
    padding: 11px;
   	@include box-shadow(inset 0 1px 0 #fff);
    @include border-radius (7px);
    .more-info-box & {
		background-color: #FFF;
	    padding: 21px;
	    
    	li {
    		padding: 15px 0;
    		border-top:1px solid #e5e5e5;
    	}
    }
    li {
    	@include text-shadow(0 1px 0 #fff);
		width: 100%;
		display:table;
		padding: 8px 0;
    	@include pie-clearfix;
    	input {
			vertical-align: text-top;
    	}
    	form {
    		display:table-cell;
    		vertical-align: middle;    	
    		text-align: right;
    	}
    	&:first-child {
    	 	border-top:none;
    	 	padding-top:0;
    	}
    	&:last-child {
    		padding-bottom:0;
    	}
	
    }
}

.curent-job-list {
	margin:0;
	padding:0;
	list-style:none;
	li {
		margin:0 0 10px 0;
		padding:0;
		list-style:none;	
	}
}

.btn-list {
	list-style:none;
	padding:0;
	margin:0;
	display:inline-block;
	li {
		list-style:none;
		padding:0;
		margin:0;
	}
	&.horisontal li {
		float: left;
		margin:0 15px 0 0;
	}
}

.codebases-list {
	color:#666;
	margin-bottom:5px;
	li {
		margin-bottom:3px;
	}
	@extend .list-unstyled;
	@extend .reset;
}

ul.revision li:not(:last-child) {
  margin-bottom:3px;
}
