md-dialog.force-dialog
  md-toolbar
    div.md-toolbar-tools
      h2 Force build
  md-dialog-content
    forcebuild-form(
      model="forcedialog.data",
      fields="forcedialog.fields",
      errors="forcedialog.field_errors"
    )
  div.md-actions(layout="row")
    span(flex)
    md-button(ng-click="forcedialog.cancel()") Cancel
    md-button.md-primary(ng-click="forcedialog.confirm()") Confirm
