div.inner(layout="row")
  build-status(build="builditem.build")
  a.builder-name(
    ng-if="builditem.showBuilder",
    ui-sref="builds.builder({builderid:builditem.builder.builderid})"
  ) {{ builditem.builder.name }}
  a.number(
    flex,
    ui-sref="builds.builder.buildtab({builderid:builditem.builder.builderid, number:builditem.build.number})"
  ) \#{{ builditem.build.number }}
  span.status-text {{ builditem.build.state_string }}
  span.time(am-time-ago="builditem.build.started_at")
