.console {
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-x: auto;

  .load-indicator {
    position: fixed;
    top: 52px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    background-color: #ffffff;
    display: table;

    .spinner {
      display: table-cell;
      vertical-align: middle;
      text-align: center;

      p {
        font-weight: 300;
        margin-top: 10px;
      }
    }
  }

  .buttons {
    padding-left: 35px;

    .fa {
      cursor: pointer;
      margin-right: 10px;
    }
  }

  p {
    margin: 5px 0 5px 0;
  }

  .search-field {
    padding-left: 35px;
    padding-right: 20px;
    margin-top: 7px;

    input {
      padding-left: 5px;
      padding-right: 5px;
      width: 100%;
    }
  }
}

.builders-header {
  position: relative;
  z-index: 1000;
  width: 100%;
  padding-bottom: 5px;
  margin-bottom: 15px;
  white-space: nowrap;
  display: inline-table;
  background: #ffffff;

  .builder {
    text-decoration: none;
    padding-top: 10px;
    text-align: center;
    display: inline-block;
  }
}

.big-header {
  padding-top: 50px;
  padding-bottom: 10px;
  margin-bottom: 0;

  .builder {
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
  }
}

.change-row {
  position: relative;
  z-index: 1;

  .fa {
    margin-right: 10px;

    &.fa-chevron-circle-down {
      cursor: pointer;
      transition: 0.5s all ease;
      -webkit-transition: 0.5s all ease;
    }
  }

  .info-collapse {
    padding-left: 35px;

    .panel {
      margin-top: 15px;
    }
  }

  .info {
    width: 100%;

    .fa {
      float: left;
      line-height: 25px;
    }

    p {
      padding-left: 22px;
      white-space: pre-wrap;
    }
  }

  .builds {
    white-space: nowrap;
    display: inline-block;
    width: 100%;

    .build {
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      line-height: 30px;
      height: 30px;

      .badge-status {
        cursor: pointer;
      }
    }
  }
}