.container
  .row
    ul.breadcrumb
      li
        | Buildrequests
      li
        a(href="#/buildrequests/{{buildrequest.buildrequestid}}")
          | {{buildrequest.buildrequestid}}
  .row(ng-repeat="build in builds")
    .col-sm-4
      ul.breadcrumb
        li
          a(href="#/builders")
            | Builders
        li
          a(href="#/builders/{{build.builderid}}")
            | {{buildrequest.buildername}}
        li
          a(href="#/builders/{{build.builderid}}/build/{{build.number}}")
            | {{build.number}}
  .row
    .col-sm-8
      tabset(justified="true")
          tab(heading="build {{build.number}}", ng-repeat="build in builds")
              rawdata(data="build")
          tab(heading="buildrequest")
              rawdata(data="buildrequest")
          tab(heading="properties")
              rawdata(data="buildset.properties")
          tab(heading="buildset")
              rawdata(data="buildset")
