[Unit]
Description=Buildbot Worker
Wants=network.target
After=network.target


[Service]
User=buildbot
Group=buildbot
WorkingDirectory=/home/buildbot/worker
ExecStart=/usr/local/bin/buildbot-worker start --nodaemon
# if using EC2 Latent worker, you want to uncomment following line, and comment out the Restart line
# ExecStopPost=shutdown now
Restart=always
User=buildbot

[Install]
WantedBy=multi-user.target
