md-list.worker-list
  md-subheader.md-no-sticky Workers
  md-divider
  div.worker-item(ng-repeat="worker in workers.list", layout="row", layout-md="column")
    div.worker-title(flex-gt-md="50")
      h3 {{ worker.name }}
      p
        | Connected to 
        ng-pluralize(
          count="worker.connected_to.length",
          when="{'0': 'no master.','one': '1 master.','other': '{} masters.'}")
      p
        | Configured on 
        ng-pluralize(
          count="worker.configured_on.length",
          when="{'0': 'no builder.','one': '1 builder.','other': '{} builders.'}")
    div.worker-info(flex-gt-md="50")
      inspect-data(data="worker.workerinfo")
