div.menu
  div.grid-menu
    md-button.menu-item.no-select(ui-sref="builds.masters")
      md-icon(md-svg-icon="wand")
      span.title Masters
      div.md-ripple-container
    md-button.menu-item.no-select(ui-sref="builds.slaves")
      md-icon(md-svg-icon="hammer")
      span.title Slaves
    md-button.menu-item.no-select(ui-sref="builds.schedulers")
      md-icon(md-svg-icon="clock")
      span.title Schedulers
    md-button.menu-item.no-select(ui-sref="builds.changes")
      md-icon(md-svg-icon="changes")
      span.title Latest changes

  div.builders-menu
    div.menu-title BUILDERS
md-content(flex, ui-view="")
  | content
