.builds {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;

  padding: 0px !important;

  .menu {
    width: 250px;
    border-right: 1px solid #dfdfef;
    background: #fff;

    .md-button.menu-item {
      display: block;
      padding: 10px;
      margin: 0;
      color: #333;
      cursor: pointer;
      border-radius: 0;
    }

    .grid-menu {
      overflow: hidden;

      .menu-item {
        float: left;
        width: 50%;
        height: 80px;
        text-align: center;
        border-left: 1px solid #eee;
        border-bottom: 1px solid #eee;

        span.title {
          line-height: 24px;
          display: block;
          font-size: 12px;
        }
      }
    }

    .builders-menu {
      margin-top: 80px;
      overflow: hidden;
      overflow-y: auto;

      .menu-title {
        font-size: 14px;
        color: #333;
        text-align: center;
      }

      .builders {
        margin-top: 10px;
        border-top: 1px solid #eee;
      }

      .no-builder {
        text-align: center;
        font-size: 12px;
        color: #aaa;
        padding: 10px;
      }
    }
  }
}
