div.menu
  div.grid-menu
    md-button.menu-item.no-select(ui-sref="builds.masters")
      md-icon(md-svg-icon="wand")
      span.title Masters
      div.md-ripple-container
    md-button.menu-item.no-select(ui-sref="builds.slaves")
      md-icon(md-svg-icon="hammer")
      span.title Slaves
    md-button.menu-item.no-select(ui-sref="builds.schedulers")
      md-icon(md-svg-icon="clock")
      span.title Schedulers
    md-button.menu-item.no-select(ui-sref="builds.changes")
      md-icon(md-svg-icon="changes")
      span.title Latest changes

  div.builders-menu
    div.menu-title BUILDERS
    div.builders
      div.no-builder(ng-if="builds.builders.length == 0")
        | No builders has been configured yet.
      div.menu-item.no-select(
        layout="row",
        ng-repeat="builder in builds.builders",
      )
        div(flex)
          a.builder-title(href="", md-theme="default") {{ builder.name }}
          div.tags
            span.tag(ng-repeat="tag in builder.tags") {{tag}}
        div.builder-id \#{{ builder.builderid }}



md-content(flex, ui-view="")
  | content
