div.menu
  div.grid-menu
    div.menu-item
      md-icon(md-svg-icon="wand")
      span.title Masters
    div.menu-item
      md-icon(md-svg-icon="hammer")
      span.title Slaves
    div.menu-item
      md-icon(md-svg-icon="clock")
      span.title Schedulers
    div.menu-item
      md-icon(md-svg-icon="changes")
      span.title Latest changes
md-content(flex, ui-view)
  | content
