.builds {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;

  padding: 0px !important;

  .menu {
    max-width: 300px;
    width: 30%;
    border-right: 1px solid #dfdfef;
    padding: 10px;
    background: #fff;
  }
}
