div
    label(for="text" class="col-sm-2 control-label") {{ data.name }}
    div(class="col-sm-10")
        input(type="text" ng-model="data.value" class="form-control" id="text" placeholder="{{ data.name }}" ng-change="changeSettings(data.name, data.value)")