div.inspect-data
  div.row(layout="row", ng-repeat="item in inspectdata.items")
    div.key(flex="33") {{ item.key }}
    div.value(flex="66")
      span(ng-if="item.value.type == 'string'") {{ item.value.value }}
      a(ng-if="item.value.type == 'link'", ng-href="{{ item.value.value }}") {{ item.value.value }}
      div.object-value(
        ng-if="item.value.type == 'object'",
        ng-init="collapsed = 1",
        )
        div.expand-button(ng-click="collapsed = !collapsed", ng-class="{collapsed: collapsed}")
          md-icon(md-svg-icon="arrow-down")
        pre(ng-show="collapsed") {{ item.value.value }}
        pre.expand-content(ng-show="!collapsed") {{ item.value.value_long }}
