.fa.fa-ringing {
    -webkit-animation-name: 'ring_animation';
    -webkit-animation-duration: 3000ms;
    -webkit-transform-origin:70% 70%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-name: 'ring_animation';
    animation-duration: 3000ms;
    transform-origin:50% 50%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    color:red;
}
/* ring animation for notifications */
@-webkit-keyframes ring_animation {
    0% { -webkit-transform: rotate(10deg); }
    2% { -webkit-transform: rotate(-10deg); }
    4% { -webkit-transform: rotate(10deg); }
    6% { -webkit-transform: rotate(-10deg); }
    8% { -webkit-transform: rotate(10deg); }
    10% { -webkit-transform: rotate(-10deg); }
    12% { -webkit-transform: rotate(10deg); }
    14% { -webkit-transform: rotate(-10deg); }
    16% { -webkit-transform: rotate(10deg); }
    18% { -webkit-transform: rotate(-10deg); }
    20% { -webkit-transform: rotate(0deg); }
    100% { }
}
@keyframes ring_animation {
    0% { transform: rotate(10deg); }
    2% { transform: rotate(-10deg); }
    4% { transform: rotate(10deg); }
    6% { transform: rotate(-10deg); }
    8% { transform: rotate(10deg); }
    10% { transform: rotate(-10deg); }
    12% { transform: rotate(10deg); }
    14% { transform: rotate(-10deg); }
    16% { transform: rotate(10deg); }
    18% { transform: rotate(-10deg); }
    20% { transform: rotate(0deg); }
    100% { }
}


.avatar {
  background-size: 32px 32px;
  border-radius: 50%;
  display: block;
  margin: -10px;
  height: 40px;
  width: 40px;
  overflow: hidden;
  img {
    height: 40px;
    width: 40px;
    background-color: #ccc
  }
}
