/**
* 
* 
* Unity3d
*
* @section      Framework
* @author       Simon Holm
*/

@mixin bgimage($selector) {
	$bgImage: background-image;
	#{$bgImage}:-moz-#{$selector};
	#{$bgImage}:-webkit-#{$selector};
	#{$bgImage}:-o-#{$selector};
	#{$bgImage}:-ms-#{$selector};
	#{$bgImage}:$selector;
}

.fl-left {
	float:left;
}