/**
* 
* 
* Unity3d
*
* @section      Framework
* @author       Simon Holm
*/

@mixin bgimage($selector) {
	$bgImage: background-image;
	#{$bgImage}:-moz-#{$selector};
	#{$bgImage}:-webkit-#{$selector};
	#{$bgImage}:-o-#{$selector};
	#{$bgImage}:-ms-#{$selector};
	#{$bgImage}:$selector;
}

// utilities

.fl-left {
	float:left;
}

.m-bottom15 {
	margin-bottom:15px;
}

.m-bottom10 {
	margin-bottom:10px;
}

.m-right10 {
	margin-right:10px;
}

.fi {
	margin-bottom:3px;	
}

.pos-relative {
	position:relative;
}

div.last {
	margin-right: 0;
}

.clear {clear: both;}

.divider {
 	background-color: #E5E5E5;
    height: 1px;
    margin: 20px 0;
    overflow: hidden;
}