@charset "UTF-8";
/**
* Grid implementation.
* Unity3d
* @section framework
* @author Simon Holm
*/
  
//forthcoming mediaqueries
$bkpt-small: 0 570px;
$bkpt-small-portrait: (0 570px )(orientation portrait);
$bkpt-medium-1: 0 1025px;
$bkpt-medium: 571px 1024px;
$bkpt-large: min-width 1025px;
$bkpt-xlarge: min-width 1400px;
$bkpt-xxlarge: min-width 1600px;

$bkpt-small-height: (max-height 460px)(orientation landscape);
$bkpt-large-height: min-height 600px;

.content {
	min-height:150px;
}

.container-inner {
	clear:both;
	margin: 0 auto;
	width: 1500px;
	position:relative;
	padding:0 10px;
	//@include box-sizing(border-box);
}

/* column container */

div.column-1 {
	width: 100%;
	margin-bottom:35px;
	position: relative;
	background-color: #FFFFFF;
	border-radius: 10px;
	border: 1px solid #CCCCCC;
	float:left;
	@include box-shadow(1px 1px 0 #FFFFFF);
	&.inner {
		padding:21px 20px 25px 20px;
		width: 920px;	
	}
	&.inner-1 {
		padding:21px 20px 25px 20px;
		float: none;
	}
}

.column-2 {
	margin: 21px 20px 25px 20px;
    width: 442px;
    float: left;
	&.last {
		border:none;
	}
	&:before {
		background-color: #E7E7E7;
	    bottom: 0;
	    content: " ";
	    margin: 25px 0 25px -20px;
	    position: absolute;
	    top: 0;
	    width: 1px;
	}
	&:first-child:before {
		background: none;	
	}
}

.column-3 {
	margin: 20px 0 20px 20px;
    width: 350px;
    float: left;
    @include pie-clearfix;
	&.last {
		border:none;
	}	
}

.column-4 {
	@include pie-clearfix;
	margin: 20px 0 20px 20px;
    width: 720px;
    float: left;
	&.last {
		border:none;
	}	
}

.column-5 {
	@include pie-clearfix;
	margin: 20px 0 20px 20px;
    width: 1010px;
    float: left;
	&.last {
		border:none;
	}	
}

.column {
	@include pie-clearfix;
	margin: 20px 0 20px 20px;
    float: left;
	&.last {
		border:none;
	}	
}

.span-1,
.column-3 .span-1 {width:350px;}
.span-2 {width:430px;}
.span-3 {width:1010px;}
.span-4 {width:350px;}
.span-5 {width:720px;}
.span-6 {width:630px;}
.span-7 {width:810px;}


@include breakpoint($bkpt-small) {
	.container-inner {
		width: 100%;
		@include box-sizing(border-box);
	}
	div.column-1 {
		padding:15px;
		width: 100%;
		@include box-sizing(border-box);
	}
	.column-2 {
		float: none;
		width: 100%;
		margin: 0 0 20px;
		border-bottom: 1px solid #D7D7D7;
		padding-bottom: 20px;
		&:before {
			background-color: transparent;
		    margin: 0;
		    width: auto;
		}
	}
	.span-3,
	.span-4,
	.span-5,
	.span-6,
	.span-7,
	.span-2 {
    	width: 100%;
	}
	.column {
		margin: 0 0 20px 0 ;
	}
}

@include breakpoint($bkpt-medium) {
	.container-inner {
		width: 100%;
		@include box-sizing(border-box);
	}
	div.column-1 {
		padding: 20px;
		width: 100%;
		@include box-sizing(border-box);
	}
	.column-2 {
		float: none;
		width: 100%;
		margin: 0 0 20px;
		border-bottom: 1px solid #D7D7D7;
		padding-bottom: 20px;
		&:before {
			background-color: transparent;
		    margin: 0;
		    width: auto;
		}
	}
	.span-3 {
    	 width: 100%;
	}
	.column {
		margin: 0 0 20px 0 ;
	}
	
}	 

@include breakpoint($bkpt-large) {
	.span-3 {
		width: 950px;	
	}
	.container-inner {
		width: 990px;
	}
	.span-5 {
    	width: 950px;
	}		
}

@include breakpoint($bkpt-xlarge) {
	.container-inner {
		width: 1400px;
	}
	.column-2 {
		width: 660px;	
	}
	.span-3 {
		width: 910px;	
	}
	.span-4 {
    	width: 320px;
	}
	.span-5 {
    	width: 680px;
	}	
}

@include breakpoint($bkpt-xxlarge) {
	.span-3 {width:1010px;}
	.span-2 {width:430px;}
	.span-4 {width:350px;}
	.span-5 {width:720px;}
	.container-inner {
		width: 1500px;
	}
	.column-2 {
		width: 710px;	
	}
}
