/**
* Base typographical setup (vertical rythm etc)
* Unity3d
* @section framework
* @author Simon Holm
*/

@include font-face("katana_icons", font-files("/../fonts/katana_icons/katana_icons.eot?cachebusting=1", "/../fonts/katana_icons/katana_icons.ttf?cachebusting=1"));
@include font-face("pacifico", font-files("/../fonts/pacifico/pacifico-webfont.eot?cachebusting=2", "/../fonts/pacifico/pacifico-webfont.ttf?cachebusting=2"));
@include font-face("leckerlione", font-files("/../fonts/leckerlione/leckerlione-regular-webfont.eot?cachebusting=6", "/../fonts/leckerlione/leckerlione-regular-webfont.ttf?cachebusting=6"));

 
// Typography

.small-head {
	display:inline-block;
	margin-top:0;
	margin-bottom:5px;
	font-size:14px;
	font-weight:bold;	
}

.logo {
    margin: 0;
    padding: 0;
}

.small-head-2 {
	padding:0;
	margin:10px 0 10px 0;
}

.main-head {
	margin: 34px 0 17px;
    float: left;
    font-size: 25px;
    @include text-shadow(1px 1px 0 #FFF);
    span {
		color: #666666;
	    font-weight: normal;
	}
}

.head-2 {
	margin:0 0 10px 0 ;
	padding:0;
	font-size:18px;
}

.overall-result {
	text-transform: capitalize;
	
}
 
h1.logo a {
	line-height:0;
	color: #17477A;
    float: left;
    margin-right: 35px;
    font-size: 29px;
    padding: 22px 0 0;
    opacity: 0.76;
	font-family: 'Pacifico';
    font-weight: normal;
    letter-spacing: 0.8px;
	text-decoration: none;
	@include text-shadow(0 1px 0 #FFF);
	@include transition(opacity .2s ease-in-out);
	span {
		font-family:'leckerlione', cursive;
		font-size: 27px;
	}
}

@include breakpoint($bkpt-small) {
	h1.logo a {
		padding-top: 17px;
		font-size: 19px;
		span {
			font-size: 17px;
		}
	}
}

.logo a:hover {
	opacity: 0.5;
}

.link-button {
	text-decoration:underline;
	font-weight:bold;
	&:hover {
		color: #999;	
	}
}

.link-1 a {
	text-decoration:underline;
	color:#333;
	&:hover {
		color: #999;	
	}
}

div.welcome-txt {
	font-size: 14px;
	ul {
		margin: 18px 0 0 21px;
	    padding: 0;
	    li {
	    	list-style: outside;
			margin: 0 0 18px;
		    padding: 0 0px 0 6px ;
		}
	}
}

.step-head {
	position: relative;
	display:block;
	margin-bottom:3px;
	font-size:14px;
	font-weight:bold;
}

.logs-txt {
	font-weight:bold;
}

.small-txt {
	color:#838383;
}

.pr-small-head {
	margin: 0 0 2px;
}

.more-info {
	font-weight:bold;
}

.mod-1.more-info:after {
	margin-left:3px;
}

.more-info:after {
    font-family: "katana_icons";
    content: "";
    display: inline-block;
    padding: 0;
    font-weight:normal;
    font-size: 16px;
    position: relative;

    /*    
    .chrome.win & {
    	content: "▾";
    	@include transform (none);
    	font-size: 18px;
    	line-height: 13px;
    	padding: 2px 5px 4px;
    }*/
}

.more-info.before:before {
	content:"▼";	
}

.more-info.before:after {
	content:"";		
}

.dropdown-info:after {
	content: "▼";
}