/**
* Base typographical setup (vertical rythm etc)
* Unity3d
* @section framework
* @author Simon Holm
*/

@include font-face("katana_icons", font-files("/../fonts/katana_icons/katana_icons.eot?cachebusting=1", "/../fonts/katana_icons/katana_icons.ttf?cachebusting=1"));

.main-head {
    font-size: 25px;
    @include text-shadow(1px 1px 0 #FFF);
    span {
		color: #666666;
	    font-weight: normal;
	}
}
 
.small-head {
	font-size:14px;
	font-weight:bold;	
}

.head-2 {
	font-size:18px;
}
 
h1.logo a {
	line-height:0;
	color: #17477A;
    float: left;
    margin-right: 35px;
    font-size: 29px;
    padding: 22px 0 0;
    opacity: 0.76;
	font-family: 'Pacifico';
    font-weight: normal;
    letter-spacing: 1px;
	text-decoration: none;
	@include text-shadow(0 1px 0 #FFF);
	@include transition(opacity .2s ease-in-out);
	span {
		font-family:'Leckerli One', cursive;
		font-size: 27px;
	}
}

@include breakpoint($bkpt-small) {
	h1.logo a {
		padding-top: 17px;
		font-size: 19px;
		span {
			font-size: 17px;
		}
	}
}

.logo a:hover {
	opacity: 0.5;
}

.link-button {
	text-decoration:underline;
	font-weight:bold;
	&:hover {
		color: #999;	
	}
}

.link-1 a {
	text-decoration:underline;
	color:#333;
	&:hover {
		color: #999;	
	}
}

div.welcome-txt {
	font-size: 14px;
	ul {
		margin: 18px 0 0 21px;
	    padding: 0;
	    li {
	    	list-style: outside;
			margin: 0 0 18px;
		    padding: 0 0px 0 6px ;
		}
	}
}
 
.column h2 {
 	font-size: 16px;
    margin: 20px 0 10px;
}

.step-head {
	font-size:14px;
	font-weight:bold;
}

.logs-txt {
	font-weight:bold;
}

.small-txt {
	color:#838383;
}

.pr-small-head {
	margin: 0 0 2px;
}