div.about(layout="column")
  section(layout-md="column", layout-gt-md="row")
    div.meta(flex-gt-md="33")
      h2 Runing informations
      p
        | Informations, configrations and statuses about this running instance of buildbot.
    div.content
      | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
      | pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
      | laborum.

  section(layout-md="column", layout-gt-md="row")
    div.meta(flex-gt-md="33")
      h2 About buildbot
      p
        | Informations this software, useful links and where to find help.
    div.content
      p
        | Buildbot is an open-source framework for automating software build, test, and release processes.
        | It  supports distributed, parallel execution of jobs across multiple platforms, flexible integration with
        | version-control systems, extensive status reporting, and more.
      p Know more at:
      ul
        li
          a(href="http://buildbot.net") Homepage
        li
          a(href="https://github.com/buildbot/buildbot") Github
        li
          a(href="http://docs.buildbot.net/latest/") Documentation
        
      p
        | Buildbot is licenced under 
        b GNU Public Licence(v2)
        | .




  section(layout-md="column", layout-gt-md="row")
    div.meta(flex-gt-md="33")
      h2 API references
      p
        | References and description of the API endpoints this distribution of buildbot supports.
    div.content
      | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
      | pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
      | laborum.
