.container
  .row(ng-show='builder.description')
    h4 Description:
    | {{ builder.description }}
  .row
    h4 Buildrequests:
    span(ng-hide='buildrequests.length>0')
      | None
    table.table.table-hover.table-striped.table-condensed(ng-show='buildrequests.length>0')
      tr
        td(width='100px') #
        td(width='150px') Submitted At
        td(width='150px') Owner
        td Properties
      tr(ng-repeat='br in buildrequests | orderBy:"-submitted_at"', ng-if="br.claimed==false" )
          td
            a(ui-sref="buildrequest({buildrequest:br.buildrequestid})")
              span.badge-status(ng-class="results2class(br, 'pulse')")
                  .badge-inactive {{br.buildrequestid}}
                  .badge-active {{results2text(br)}}
          td
            span(title="{{br.submitted_at | dateformat:'LLL'}}")
              | {{br.submitted_at | timeago }}
          td
          td
  builds-table(builder="builder", builds="builds")
  a.btn.btn-default(ui-sref='builder({builder: builder.builderid, numbuilds: numbuilds + 100})', ng-if="builds.length>=numbuilds")
      | more
