.container
  .row(ng-show='builder.description')
    h4 Description:
    | {{ builder.description }}
  .row
    h4 Buildrequests:
    span(ng-hide='buildrequests.length>0')
      | None
    table.table.table-hover.table-striped.table-condensed(ng-show='buildrequests.length>0')
      tr
        td #
        td Submitted At
        td Owner
        td Properties
      tr(ng-repeat='br in buildrequests | orderBy:"-submitted_at"', ng-if="br.claimed==false" )
          td(width='20px')
              | {{ br.buildrequestid }}
          td(width='50px')
            span(title="{{br.submitted_at | dateformat:'LLL'}}")
              | {{br.submitted_at | timeago }}
          td(width='50px')
          td(width='50px')
    h4 Builds:
    span(ng-hide='builds.length>0')
      | None
    table.table.table-hover.table-striped.table-condensed(ng-show='builds.length>0')
      tr
        td #
        td Started At
        td Duration
        td Owner
        td Status
      tr(ng-repeat='build in builds | orderBy:"-started_at"')
          td(width='20px')
            a(href='#/builders/{{ builder.id }}/builds/{{build.number}}',title='{{build}}')
              span.badge-status(ng-class="results2class(build, 'pulse')")
                | {{ build.number }}
          td(width='150px')
            span(title="{{build.started_at | dateformat:'LLL'}}")
              | {{build.started_at | timeago }}
          td(width='150px')
            span(ng-show="build.complete", title="{{(build.complete_at - build.started_at)| durationformat:'LLL' }}")
              | {{(build.complete_at - build.started_at)| duration }}
          td(width='200px')
          td
            ul.list-inline
              li
                | {{build.state_string}}
