div.no-build(ng-if="(current.builds | filter:{complete:false}).length == 0")
  | No running builds now. Go to&nbsp;
  a(ui-sref="builds") builds panel
  | &nbsp;to trigger a build.

build-item.build(ng-repeat="build in current.builds | filter:{complete:false}", build="build", show-builder="current.showBuilders")
