.container-fluid
  :css
    .mainchangegrid .field-id {
    width: 30px;
    }
  %ul.breadcrumb
    %li
      %a{href:"#/changes"}Changes
  .row-fluid
    .span12
      %h2 Last changes coming into the system
  .row-fluid
    .span5
      .mainchangegrid{data-dojo-attach-point:"maingrid_node"}
    .span7
      %h4 Associated Files
      .mainchangegrid{data-dojo-attach-point:"filegrid_node"}
