/* This file contain meaningful coloring for status stuff (logs, status values) */

/* logs coloring
    this theme is based the iterm2 default theme
*/
$bb-color-log-white: #eee;

$bb-color-results-success: #000;
$bb-color-background-results-success: #8d4;
$bb-color-border-results-success: #4F8530;

$bb-color-results-warnings: #FFFFFF;
$bb-color-background-results-warnings: #fa3;
$bb-color-border-results-warnings: #C29D46;

$bb-color-results-failure: #000;
$bb-color-background-results-failure: #e88;
$bb-color-border-results-failure: #A77272;

$bb-color-results-skipped: #000;
$bb-color-background-results-skipped: #AADDEE;
$bb-color-border-results-skipped: #AADDEE;

$bb-color-results-exception: #FFFFFF;
$bb-color-background-results-exception: #c6c;
$bb-color-border-results-exception: #ACA0B3;

$bb-color-results-retry: #000;
$bb-color-background-results-retry: #ecc;
$bb-color-border-results-retry: #ACA0B3;

$bb-color-results-cancelled: #000;
$bb-color-background-results-cancelled: #ecc;
$bb-color-border-results-cancelled: #ACA0B3;

$bb-color-results-pending: #000;
$bb-color-background-results-pending: #E7D100;
$bb-color-border-results-pending: #ACA0B3;

$bb-color-results-unknown: #000;
$bb-color-background-results-unknown: #EEE;
$bb-color-border-results-unknown: #ACA0B3;

pre.log {
  background-color: #000;
  color: $bb-color-log-white;
  .padding {
    // zebra pattern
    background: repeating-linear-gradient(-45deg,rgb(10, 10, 10),rgb(40, 40, 40) 7%, rgb(10,10,10) 10%)
  }
  .log_o, .ansi_white, .ansi30 {
    color: $bb-color-log-white;
  }
  .log_e, .ansi_red, .ansi31 {
    color: #c91b00;
  }
  .ansi_green, .ansi32 {
    color: #00c200;
  }
  .ansi_yellow, .ansi33 {
    color: #c7c400;
  }
  .ansi_blue, .ansi34 {
    color: #0225c7;
  }
  .ansi_magenta, .ansi35 {
    color: #ca30c7;
  }
  .log_h, .ansi_cyan, .ansi36 {
    color: #00c5c7;
  }
  // bright colors
  .ansi1 {
    &.ansi30 {
      color: #ffffff;
    }
    &.ansi31 {
      color: #ff6e67;
    }
    &.ansi32 {
      color: #5ffa68;
    }
    &.ansi33 {
      color: #fffc67;
    }
    &.ansi34 {
      color: #6871ff;
    }
    &.ansi35 {
      color: #f075f0;
    }
    &.ansi37 {
      color: #60fdff;
    }
  }
}
.label {
  &.results_SUCCESS, &.worker_CONNECTED {
    color: $bb-color-results-success;
    background-color: $bb-color-background-results-success;
    border-color: $bb-color-border-results-success;
  }

  &.results_WARNINGS {
    color: $bb-color-results-warnings;
    background-color: $bb-color-background-results-warnings;
    border-color: $bb-color-border-results-warnings;
  }

  &.results_FAILURE, &.worker_DISCONNECTED {
    color: $bb-color-results-failure;
    background-color: $bb-color-background-results-failure;
    border-color: $bb-color-border-results-failure;
  }

  &.results_SKIPPED {
    color: $bb-color-results-skipped;
    background: $bb-color-background-results-skipped;
    border-color: $bb-color-border-results-skipped;
  }

  &.results_EXCEPTION {
    color: $bb-color-results-exception;
    background-color: $bb-color-background-results-exception;
    border-color: $bb-color-border-results-exception;
  }
  &.results_RETRY {
    color: $bb-color-results-retry;
    background-color: $bb-color-background-results-retry;
    border-color: $bb-color-border-results-retry;
  }
  &.results_CANCELLED {
    color: $bb-color-results-cancelled;
    background-color: $bb-color-background-results-cancelled;
    border-color: $bb-color-border-results-cancelled;
  }
  &.results_PENDING {
    color: $bb-color-results-pending;
    background-color: $bb-color-background-results-pending;
    border-color: $bb-color-border-results-pending;
  }
  &.results_UNKNOWN {
    color: $bb-color-results-unknown;
    background-color: $bb-color-background-results-unknown;
    border-color: $bb-color-border-results-unknown;
  }
}
