li.dropdown.notifications(uib-dropdown)
    a(uib-dropdown-toggle)
        i.fa.fa-bell-o.fa-lg(ng-class="{'fa-ringing': n.notifications.length > 0 }")
    ul.uib-dropdown-menu.dropdown-menu.dropdown-menu-right(dropdown-toggle)
        li.dropdown-header
            | Notifications
        li.divider
        div(ng-repeat="msg in n.notifications")
          li
            .item
                button.close(ng-click="n.dismiss(msg.id, $event)") &times;
                .title {{msg.title}}:
                .msg {{msg.msg}}
          li.divider
        li(ng-hide="n.notifications.length>0")
            .item
                small.msg  all caught up!
