!!! 5
html.no-js(xmlns:ng='http://angularjs.org', xmlns:app='ignored')
  head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  title Buildbot
  meta(name='description', content='Buildbot web UI')
  meta(name='viewport', content='width=device-width')
  //if lte IE 8
    script(src='scripts/libs/json2.js')
    script(src='scripts/libs/html5shiv-printshiv.js')

  case environment || 'prod'
    when 'prod'
       link(rel='stylesheet', href='styles/styles.min.css?_#{(new Date()).getTime()}')
    default
       link(rel='stylesheet', href='styles/styles.css')
        // Live-reload support
       script(src='http://localhost:35729/livereload.js')

  body.ng-cloak(ng-cloak='ng-cloak')
    block content
    block footer

  script(src="config.js")
  case environment || 'prod'
    when 'prod'
       script(src="require.js")
       script(src='scripts/scripts.min.js?_#{(new Date()).getTime()}')
    default
       script(data-main='scripts/main.js',src="scripts/libs/require.js")

