div.project-info(layout="row")
  h1(flex) {{ home.title }}
  md-button.md-raised.md-primary(ng-href="{{ home.titleURL }}") Homepage
div.dashboard(ng-sortable="{animation: 150, handle:'.title'}")
  panel(title="overview")
  panel(title="current")
  panel(title="recently")
