.container
  .row(ng-if="config.buildbotURL != baseurl")
      .alert.alert-danger Warning: 
          | c['buildbotURL'] is misconfigured to
          pre {{config.buildbotURL}}
          | Should be:
          pre {{baseurl}}
  .row
    .col-sm-12
      .well
        h2 Welcome to buildbot
        h4 {{ buildsRunning.length }} build{{ buildsRunning.length == 1 ? '' : 's' }} running currently
        ul
          li.unstyled(ng-repeat="build in buildsRunning | filter:complete:false")
            buildsticker(build="build")
        h4 {{ recentBuilds.length }} recent builds
        .row
            .col-md-4(ng-repeat="builder in builders | filter:hasBuilds")
                .panel.panel-primary
                    .panel-heading
                        h4.panel-title
                          a(ui-sref="builder({builder: builder.builderid})") {{ builder.name }}
                    .panel-body
                        span(ng-repeat="build in builder.builds | orderBy:'-number'")
                            buildsticker(build="build", builder="builder")
