.container
  .row(ng-if="config.buildbotURL != baseurl")
      .alert.alert-danger Warning: 
          | c['BuildbotURL'] is misconfigured to
          pre {{config.buildbotURL}}
          | Should be:
          pre {{baseurl}}
  .row
    .col-sm-3
      .well
        button(ng-click='clear()').btn-small.btn-default.btn
          i.icon-trash
            |  Clear History
        ul.nav.nav-list
          li
            small Most recently browsed builds
          li(ng-repeat='b in recent.recent_builds')
             a(ng-href='{{b.link}}') {{b.caption}}
          li.divider
          li
            small Most recently browsed builders
          li(ng-repeat='b in recent.recent_builders')
             a(ng-href='{{b.link}}') {{b.caption}}
    .col-sm-8
      .well
        h2 Welcome to buildbot
        h4 {{ builds_running.length }} Build{{ builds_running.length > 1 ? 's' : '' }} running currently
        ul
          li.unstyled(ng-repeat="build in builds_running")
            buildsticker(build="build")
