.modal-header
  | {{sch.name}}
.modal-body
  form.form-horizontal
    recursive
      forcefields(fields='sch.all_fields')
.modal-footer
  button.btn.btn-cancel Cancel
  button.btn.btn-primary Start Build
