<div class="tabbable">
	<ul class="nav nav-tabs">
		<li ng-repeat="tab in tabs" ng-class="{active:tab.selected}">
			<a href="" ng-click="select(tab)">{{tab.caption}}</a>
		</li>
	</ul>
	<div class="tab-content" ng-transclude></div>
</div>