.panel.panel-default
    .panel-heading(ng-if="field.name")
        | {{field.name}}
    .panel-body
        div.form-horizontal
            div(ng-repeat='field in field.fields | filter:{hide:false}',
                class="{{column_class}}")
                forcefield(recursive,
                           field="field")
