{{#artifacts}}
    <a href="#" class="artifact-js more-info" title="Show artifacts"></a>
{{/artifacts}}
{{#failure_url}}
    <a href="{{failure_url}}" class="point-of-failure" title="Show the point of failure"></a>
{{/failure_url}}