{{#initial_queue}}
    <span title="This build has yet to be processed by katana; once processed the build will either be completed or return to this queue" class="initial-queue-icon"></span>
{{/initial_queue}}