@use 'bootstrap/scss/bootstrap';

.bb-build-summary {
  .card-header {
    color: var(--bb-card-header-text-color);
    background-color: var(--bb-card-bg-color);
    border-color: var(--bb-card-border-color);
    padding: 0.375rem 1rem;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .bb-build-summary-details,
  .bb-build-summary-step-details {
    float: right;
  }

  .bb-build-request-counter {
    color: bootstrap.$gray-600;
    font-style: italic;
  }

  .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }

  .btn-default {
    color: var(--bb-text-color);
    background-color: var(--bb-btn-background-color);
    border-color: var(--bb-btn-border-color);
  }

  .group-results > li .bb-build-request-summary > div {
    margin-bottom: 0px;
    margin-top: 0px;
  }
}

.bb-build-summary-step-line {
  position: relative;

  &.list-group-item {
    padding: 0.375rem 1rem;
  }

  &.list-group-item.bb-anchor-target {
    border: 2px solid var(--bb-highlight-border-color);
  }
  .bb-build-summary-step-anchor-link {
    display: none;
    color: bootstrap.$gray-500;
    position: absolute;
    left: 0.5em;
  }
}

.bb-build-summary-step-line:hover {
  .bb-build-summary-step-anchor-link {
    display: inline-block;
  }
}
