.modal-content
  form
    .modal-body
        // put the header in the body in order to correctly display error popup
        h4 {{sch.label}}
        hr
        div.form-horizontal
            .alert.alert-danger(ng-show="error") {{error}}
            .alert.alert-danger(ng-show="!sch.enabled") SCHEDULER DISABLED
            forcefield(field="rootfield" ng-if="rootfield")
    .modal-footer
      button.btn.btn-default(ng-click="cancel()") Cancel
      button.btn.btn-primary(type="submit", ng-click="ok()", ng-disabled="!sch.enabled || startDisabled") Start Build
