.modal-content
    .modal-header
        // put the header in the body in order to correctly display error popup
        h4(ng-show="multiple")
            .col-sm-4 Worker actions for...
            .col-sm-8
                multiselect(ng-model="worker_selection" options="select_options" show-select-all="true" show-unselect-all="true" show-search="true")
        h4(ng-if="!multiple") Worker actions for {{worker.name}}
        hr
    .modal-body
        div.form-horizontal
            .alert.alert-danger(ng-show="error") {{error}}
            label.control-label.col-sm-2(for="reason")
                | Reason
            .col-sm-10
                textarea.form-control(rows="15", ng-model="reason")
    .modal-footer
      button.btn.btn-default(ng-click="cancel()") Cancel
      button.btn.btn-primary(ng-click="action('stop')",ng-class="{disabled: stop_disabled}") Graceful Shutdown
      button.btn.btn-primary(ng-click="action('kill')",ng-class="{disabled: stop_disabled}") Force Shutdown
      button.btn.btn-primary(ng-click="action('pause')",ng-class="{disabled: pause_disabled}") Pause
      button.btn.btn-primary(ng-click="action('unpause')",ng-class="{disabled: unpause_disabled}") Unpause
