body { 
	margin-left: 30px; 
	margin-right: 30px; 
	margin-top: 20px;
	padding: 0;
	background: url(/bg_gradient.jpg) repeat-x;
	font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	background-color: #fff; 
	color: #333;
}

a:link,a:visited,a:active {
	color: #444;
}

table {
	border-spacing: 1px 1px;
}

table td {
	padding: 3px 2px 3px 2px;
	text-align: center;
}

.Project {
	min-width: 6em;
}

.LastBuild, .Activity {
	min-width: 15em;
	padding: 0 0 0 4px;
}

td.Time {
	color: #000;
	border-bottom: 1px solid #aaa;
	padding: 0.2em 0.5em 0.2em 0.5em;
	background-color: #eee;
}

td.Activity, td.Change, td.Builder {
	color: #333333;
	background-color: #CCCCCC;
}

td.Change {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
td.Event {
	color: #777;
	background-color: #ddd;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

td.Activity {
	border-top-left-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	min-height: 20px;
	padding: 8px 0 8px 0;
}

td.idle, td.waiting, td.offline, td.building {
	border-top-left-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
}

td.builder {
	width: 150px;
    color: #333333;
    background-color: #CCCCCC;
}

td.sourcestamp {
	width: 80px;
	vertical-align: middle;
}

.LastBuild {
	border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-right-radius: 5px;	
	-webkit-border-top-right-radius: 5px;	
	-moz-border-radius-topright: 5px;
}

/* LastBuild, BuildStep states */
.success {
	color: #FFFFFF;
	background-color: #8fdf5f;
}

.failure {
	color: #FFFFFF;
	background-color: #e98080;
}

.warnings {
	color: #FFFFFF;
	background-color: #ffc343;
}

.exception, td.offline {
	color: #FFFFFF;
	background-color: #e0b0ff;
}

.start,.running, td.building {
	color: #666666;
	background-color: #fffc6c;
}

.start {
	border-bottom-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
}

td.Project a:hover, td.start a:hover {
	color: #000;
}

/* column container */

div.column {
	margin: 0 2em 2em 0;
	float: left;
}

/* info tables */

table.info {
    border-spacing: 1px;
}	

table.info td {
    padding: 0.1em 1em 0.1em 1em;
    text-align: center;
}

table.info th {
	padding: 0.2em 1.5em 0.2em 1.5em;
    text-align: center;
}

table.info td.left {
	text-align: left
}

.alt {
	background-color: #f6f6f6;
}

li { 
	padding: 0.1em 1em 0.1em 1em;
}

.result {
    padding: 0.3em 1em 0.3em 1em;
}

/* log view */

.log * {
  vlink: #800080;
  font-family: "Courier New", courier, monotype;
}
span.stdout {
  color: black;
}
span.stderr {
  color: red;
}
span.header {
  padding: 1em;
  color: blue;
}

/* revision & email */

.revision .full { 
  display: none;
}

.user .email {
  display: none;
}

/* change comments (use regular colors here) */

pre.comments > a:link, pre.comments > a:visited{
    color: blue;
}

pre.comments > a:active {
    color: purple;

}
