.console
    .load-indicator(ng-hide='c.builds.$resolved && c.changes.$resolved && c.buildrequests.$resolved && c.buildsets.$resolved')
        .spinner
            i.fa.fa-circle-o-notch.fa-spin.fa-2x
            p loading
    div(ng-show="c.changes.$resolved && c.changes.length==0")
        p No changes. Console view needs changesource to be setup, and 
            a(href="#changes") changes 
            | to be in the system.
    .header(ng-hide="c.changes.length==0")
        .header-content(ng-style='{width: c.width}')
            .col-15
                .buttons
                    i.fa.fa-plus-circle(ng-click='c.openAll()' uib-tooltip='Open information for all changes' uib-tooltip-placement='right')
                    i.fa.fa-minus-circle(ng-click='c.closeAll()' uib-tooltip='Close information for all changes' uib-tooltip-placement='right')
                .search-field
                    input(type='text' name='search' ng-model='search' placeholder='search')
            .col-85
                builders-header(builders='c.builders' width='c.width' cell-width='c.cellWidth')
    .content
        .change-rows(ng-style='{width: c.width}')
            change-row(ng-repeat="change in c.changes | filter: search | orderBy: ['changeid'] track by change.changeid"
                       change='change'
                       width='c.width'
                       cell-width='c.cellWidth')
