.container.logcontainer
  .row.logoptions
    a.btn.btn-default(title="scroll to end", ng-click="logviewer.toggleAutoScroll()", ng-class="{active: jumpToLine=='end'}")
        i.fa.fa-angle-double-down
    a.btn.btn-default(download="{{log.name}}", title="download log as file", ng-href="{{raw_url}}")
        i.fa.fa-download
    a.btn.btn-default(title="load all data for use with browser search tool",
                           aria-pressed="loadAll", ng-class="{active: loadAll}", ng-click="loadAll = !loadAll")
        i.fa(ng-class="loadAll && isLoading ? 'fa-spin fa-spinner': 'fa-search'")
  pre.row.log(ng-show="log.type!='h'", scroll-viewport)
    span(ng-if="log.type=='s' || log.type=='t'")
        div(scroll="line in lines", scroll-position="scroll_position", load-all="loadAll", is-loading="isLoading", total-size="log.num_lines", style="height:18px")
            span.no-wrap(data-linenumber-content="{{::$index}}", class="{{::line.class}}") {{::line.content}}
  div.panel(ng-if="log.type=='h'", ng-class="log.name=='err.html' && 'panel-danger' || 'panel-default'")
    div.panel-heading
        h4.panel-title {{log.name}}
    div.panel-body(ng-bind-html="content")
