.waterfall
    .load-indicator(ng-show='w.loading')
        .spinner
            i.fa.fa-circle-o-notch.fa-spin.fa-2x
            p loading
    .header
        .header-content
    .content
        .inner-content
            .svg-container
