.waterfall
    .load-indicator(ng-show='w.loading')
        .spinner
            i.fa.fa-circle-o-notch.fa-spin.fa-2x
            p loading
    p
        form(role="search" style="width:150px")
            input(type="text" ng-model="searchedTag" class="form-control" placeholder="Search for tags")
    p
        span.label.clickable.label-danger(ng-click="w.clearTags()") x
        | &nbsp;
        span(ng-repeat="tag in w.all_tags | filter: searchedTag | limitTo: tags_limit")
            span.builder-tag.label.clickable.label-default(ng-click="w.toggleTag(tag)" ng-class="w.isTagFiltered(tag) ? 'label-success': 'label-default'")
                | {{ tag }}
            | &nbsp;
    .header
        .header-content
    .content
        .inner-content
            .svg-container
