.waterfall
    .load-indicator(ng-show='w.loading')
        .spinner
            i.fa.fa-circle-o-notch.fa-spin.fa-2x
            p loading
    p Tags: 
        span(ng-show="w.all_tags.length > 0" ng-repeat="tag in w.all_tags")
            span.builder-tag.label.clickable.label-default(ng-click="w.toggleTag(tag)" ng-class="w.isTagFiltered(tag) ? 'label-success': 'label-default'")
                | {{ tag }}
            | &nbsp;
        span.label.clickable.label-danger(ng-click="w.clearTags()") x
    .header
        .header-content
    .content
        .inner-content
            .svg-container
