.panel.panel-default.buildsticker(ng-class="results2class(build)")
  .panel-body.no-select
    .row
      span.pull-right.label(ng-class="results2class(build)") {{results2text(build)}}
      a(ui-sref="build({builder:builder.builderid, build:build.number})")
        | {{builder.name}}/{{build.number}}
    .row
      span.pull-right(ng-show="build.complete")
          | {{(build.complete_at - build.started_at)| durationformat:'LLL' }}
      span.pull-right(ng-show="!build.complete")
          | {{(now - build.started_at)| durationformat:'LLL' }}
      span {{build.state_string}}
