include MANIFEST.in README COPYING UPGRADING
include bin/buildbot-worker
include docs/buildbot-worker.1

include contrib/windows/* contrib/os-x/* contrib/init-scripts/*
include contrib/zsh/* contrib/bash/*
