div.changedetails(style="width:100%;")
    div(style="width:100%;", ng-click="change.show_details = !change.show_details")
        .change-avatar(ng-if="!compact && change.author_email")
            a(ng-href="mailto:{{change.author_email}}", title="{{change.author_name}}")
                img(ng-src="avatar?email={{change.author_email | encodeURI}}")
        a(ng-if="change.revlink", ng-href="{{change.revlink}}", uib-tooltip="{{change.comments}}")
            | {{ change.comments.split("\n")[0] }}
        span(ng-if="!change.revlink", uib-tooltip="{{change.comments}}")
            | {{ change.comments.split("\n")[0] }}
        span(ng-if="!compact" uib-tooltip="{{change.when_timestamp | dateformat:'LLL'}}")
            | ({{ change.when_timestamp | timeago }})
        i.fa.fa-chevron-circle-right.rotate.clickable(ng-class="{'fa-rotate-90':change.show_details}")
    div.anim-changedetails(ng-show="change.show_details")
        table.table.table-striped.table-condensed(ng-show="change.show_details")
          tr(ng-if="change.category")
            td Category
            td {{ change.category }}
          tr
            td Author
            td {{ change.author }}
          tr
            td Date
            td {{ change.when_timestamp | dateformat:'LLL'}} ({{ change.when_timestamp | timeago }})
          tr(ng-show="change.codebase")
            td Codebase
            td {{ change.codebase }}
          tr(ng-show="change.repository")
            td Repository
            td {{ change.repository }}
          tr(ng-show="change.branch")
            td Branch
            td {{ change.branch }}
          tr
            td Revision
            td {{ change.revision }}
          tr
            td Properties
            td
              i.fa.fa-chevron-circle-right.rotate.clickable(ng-class="{'fa-rotate-90':change.show_props}", ng-click="change.show_props = !change.show_props")
              pre(ng-show="change.show_props", style="padding:unset; margin:unset; border:unset; background-color:unset")
                  | {{ change.properties | json }}

        h5 Comment
        pre {{ change.comments }}
        h5 Changed files
        ul
          li(ng-repeat='file in change.files') {{file}}
        p(ng-hide="change.files.length") No files
