div.tile
  div.title Masters
  div.count {{ overview.masters.count }}
  div.extra
    | {{ overview.masters.active }} active.
div.tile
  div.title Slaves
  div.count {{ overview.slaves.count }}
  div.extra
    ng-pluralize(
      count="overview.slaves.connections",
      when="{'0': 'No connection.','one': '1 connection.','other': '{} connections.'}")
div.tile
  div.title Builders
  div.count {{ overview.builders.count }}
  div.extra
    a(ui-sref="builds") View all builders
div.tile
  div.title Schedulers
  div.count {{ overview.schedulers.count }}
  div.extra
    a(ui-sref="builds.schedulers") View all schedulers
