<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15">
<title>Buildbot - {{ projectName }}</title>
</head>

<body>

<h1>Welcome to the Buildbot!</h1>

<div class="menu">

<ul>
  <li>the <a href="waterfall">Waterfall Display</a> will give you a
  time-oriented summary of recent buildbot activity.</li>

  <li>the <a href="grid">Grid Display</a> will give you a
  developer-oriented summary of recent buildbot activity.</li>

  <li>the <a href="tgrid">Transposed Grid Display</a> presents
  the same information as the grid, but lists the revisions down the side.</li>

  <li>The <a href="one_box_per_builder">Latest Build</a> for each builder is
  here.</li>

  <li><a href="one_line_per_build">Recent Builds</a> are summarized here, one
  per line.</li>

  <li><a href="buildslaves">Buildslave</a> information</li>
  <li><a href="changes">ChangeSource</a> information.</li>

  <br />
  <li><a href="about">About this Buildbot</a></li>
</ul>

</div>

<div class="content">
{% block content %}
{% endblock %}
</div>


<hr/>
<div class="footer">
{% block footer %}

<a href="{{ welcomeurl }}">Welcome Page</a>
<br />

<a href="http://buildbot.sourceforge.net/">Buildbot</a>-{{ version }}

{% if projectName %}
  working for the
  {% if projectURL %}
    <a href="{{ projectURL }}>{{ projectName }}</a>
  {% else %}
    {{ projectName }}
  {% endif %}
  project
{% endif %}

<br />

Page built: {{ time }}
{% endblock %}
</div>

</body>
</html>