{% from 'build_line.html' import build_line %}

{% extends "layout.html" %}
{% block content %}
<h1>Build Slave: {{ slavename }}</h1>

{% if not slave.isConnected %}
  <h2>NOT CONNECTED</h2>
{% elif control %}
  {% if not slave.getGraceFul %}
    <form method="POST" action="{{ shutdown_url }}">
      <input type="submit" value="Gracefully Shutdown">
    </form>
  {% else %}
    <p>Gracefully shutting down...</p>
  {% endif %}
{% endif %}

{% if current %}
  <h2>Currently building:</h2>
  <ul>
  {% for b in current %}
   <li>{{ build_line(b, True) }}</li>
  {% endfor %}
  </ul>
{% else %}
  <h2>No current builds</h2>
{% endif %}

<h2>Recent builds</h2>
<ul>
{% for b in recent %}
   <li>{{ build_line(b, True) }}</li>
{% endfor %}
</ul>
  
{% endblock %}
