{% from 'build_line.html' import build_table %}

{% extends "layout.html" %}
{% block content %}
<h1>Buildslave: {{ slavename|e }}</h1>

<div class="column">

{% if current %}
  <h2>Currently building:</h2>
  <ul>
  {% for b in current %}
   <li>{{ build_line(b, True) }}
     <form method="post" action="{{ b.buildurl }}/stop" class="command stopbuild" style="display:inline">
       <input type="submit" value="Stop Build" />
       <input type="hidden" name="url" value="{{ this_url }}" />
     </form>
   </li>
  {% endfor %}
  </ul>
{% else %}
  <h2>No current builds</h2>
{% endif %}

<h2>Recent builds</h2>
{{ build_table(recent, True) }}
  
</div>
<div class="column">
{% if access_uri %}
  <a href="{{ access_uri|e }}">Click to Access Slave</a>
{% endif %}

{% if not slave.isConnected() %}
  <p>(not connected)</p>
{% elif control %}
  {% if not slave.getGraceFul %}
    <form method="POST" action="{{ shutdown_url }}">
      <input type="submit" value="Gracefully Shutdown">
    </form>
  {% else %}
    <p>Gracefully shutting down...</p>
  {% endif %}
{% endif %}
</div>
  
{% endblock %}
