{% macro category_title() -%}
 {% if categories %}
  <br>
  {% trans categories=categories %}
   <b>Category:</b></br>
  {% pluralize categories %}
   <b>Categories:</b><br/>
  {% endtrans %}
  {{ categories|join('<br/>') }}
 {% endif %}

 {% if branch != ANYBRANCH %}
  <br><b>Branch:</b> {{ branch or "trunk" }}
 {% endif %}
{%- endmacro %}


{% macro stamp_td(stamp) -%}
  <td valign="bottom" class="sourcestamp">
    {{ stamp.getText()|join }}
  </td>
{%- endmacro %}

{% macro builder_td(b) -%}
  <td valign="center" style="text-align: center" class="builder {{ b.state }}">
    <a href="{{ b.url }}">{{ b.name }}</a>
    {%- if b.state != 'idle' or b.n_pending > 0 -%}
      <br>({{ b.state }}
      {%- if b.n_pending > 0 -%}
        with {{ b.n_pending }})
      {%- endif -%}      
      )
    {%- endif -%}
  </td>
{%- endmacro %}

{% macro build_td(build) -%}
  <td class="build {{ build.class }}">
    <a href="{{ build.url }}">{{ build.text|join('<br/>') }}</a>
  </td>
{%- endmacro %}

