{%- block doctype -%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{%- endblock %}
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {{ metatags }}
    <title>{{ title }}</title>
    <link rel="stylesheet" href="buildbot.css" type="text/css" />
  </head>
  <body>
    {%- block header %} {% endblock %}
    {%- block content %} {% endblock %}
    {%- block footer %} 
    <div class="footer">
      <a href="{{home}}">Welcome Page</a>
      <br />
      <a href="http://buildbot.net/">Buildbot</a> {{version}}
      {% if project_name %}
        working for the
        {% if project_url %}
          <a href="{{project_url}}">{{project_name}}</a>
        {% else %}
          {{project_name}}
        {% endif %}
        project
      {% endif %}
      Page built: {{time}}
    </div>
    {%- endblock %}
  </body>
</html>
