{%- block doctype -%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% endblock %}
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    {% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% if metatags %}
      {{ metatags }}
    {% endif %}
    {% if refresh %}
      <meta http-equiv="refresh" content="{{ refresh|e }}"/>
    {% endif %}
    <title>{{ title|e }}</title>
    <link rel="stylesheet" href="{{ stylesheet }}" type="text/css" />
    {% endblock %}
  </head>
  <body>
    {% block header -%}
    <div class="header">
        <a href="{{ path_to_root or '/' }}">Home</a>
        <hr/>
    </div>
    {% endblock %}

    <div class="content">
      {%- block content -%}     
      {%- endblock -%}
    </div>

    {%- block footer -%} 
    <div class="footer">
      <hr/>
      <a href="http://buildbot.net/">Buildbot</a> {{version}}
      {% if project_name -%}
        working for the
        {%- if project_url %}
          <a href="{{ project_url }}">{{ project_name }}</a>
        {%- else %}
          {{ project_name }}
        {%- endif %}
        project
      {% endif %}
      <br/>
      Page built: <b>{{ time }}</b> ({{ tz }})
    </div>
    {% endblock -%}
  </body>
</html>
