{% import 'forms.html' as forms %}

<h1>Latest builds: {{ branches }}</h1>

<table>
{% for b in builders %}
  <tr>
  <td class="box"><a href="{{ b.link }}">{{ b.name|e }}</a></td>
  {% if b.build_url %}
    <td class="LastBuild box {{ b.build_css_class }}">
        <a href="{{ b.build_url}}">{{ b.build_label }}</a>
        <br/>{{ b.build_text }}
    </td>
  {% else %}
    <td class="LastBuild box">no build</td>
  {% endif %}  
  {{ b.current_box }}
{% endfor %}
</table>

{% if stop_url %}{{ forms.stop(stop_url, use_user_passwd, True, 'Builds') }}{% endif %}
{% if force_url %}{{ forms.force_build(force_url, use_user_passwd, True) }}{% endif %}
