{% extends "layout.html" %}
{% from 'build_line.html' import build_line %}
{% import 'forms.html' as forms %}

{% block content %}
<h1>Last {{ num_builds }} finished builds: {{ branches|join(', ')|e }}</h1>

{% if builders %}
  <p>of builders: {{ builders|join(", ")|e }}</p>
{% endif %}
 
<ul>
  {% for b in builds %}
    <li>{{ build_line(b) }}</li>
  {% else %}
    <li>No matching builds found</li>
  {% endfor %}
</ul>

<p>{{ online_count }} builder(s) online.</p>

{% if stop_url %}{{ forms.stop(stop_url, use_user_passwd, True, 'Builds') }}{% endif %}
{% if force_url %}{{ forms.force_build(force_url, use_user_passwd, True) }}{% endif %}

{% endblock %}
