{# both macro pairs must have the same signature #}

{% macro id_replace(rev, url) -%}
  <span class="revision"><a href="{{ url }}">r{{ rev }}</span>
{%- endmacro %}

{% macro shorten_replace(short, rev, url) -%}
  <div class="revision">
      <div class="short" title="{{ rev }}">
          <a href="{{ url }}">r{{ short }}</a>
      </div> 
      <div class="full">
          <a href="{{ url }}">r{{ rev }}</a>
      </div>
  </div> 
{% endmacro %}

{% macro id(rev, url) -%}
  <span class="revision">r{{ rev }}</span>
{%- endmacro %}

{% macro shorten(short, rev, url) -%}
  <div class="revision">
      <div class="short" title="{{ rev }}">r{{ short }}</div> 
      <div class="full">r{{ rev }}</div>
  </div> 
{% endmacro %}
