{% extends 'layout.html' %}

{% block header %}
{% endblock %}

{% block content %}

<h1>Welcome to the Buildbot!</h1>

<ul>
  <li>the <a href="waterfall">Waterfall Display</a> will give you a
  time-oriented summary of recent buildbot activity.</li>

  <li>the <a href="grid">Grid Display</a> will give you a
  developer-oriented summary of recent buildbot activity.</li>

  <li>the <a href="tgrid">Transposed Grid Display</a> presents
  the same information as the grid, but lists the revisions down the side.</li>

  <li>the <a href="console">Console</a> presents 
  a user-oriented status page.</li>

  <li>The <a href="one_box_per_builder">Latest Build</a> for each builder is
  here.</li>

  <li><a href="one_line_per_build">Recent Builds</a> are summarized here, one
  per line.</li>

  <li><a href="buildslaves">Buildslave</a> information</li>
  <li><a href="changes">ChangeSource</a> information.</li>

  <br />
  <li><a href="about">About this Buildbot</a></li>
</ul>

{% endblock %}
