{% extends "layout.html" %}
{% block head %}
  {{ super() }}
  <meta http-equiv="refresh" content="{{refresh}}"/>
{% endblock %}

{% block content %}
<table border="0" cellspacing="0">

{% if project_name and project_url %}
  <a href="{{ project_url }}">{{ project_name }}</a><br />
{% endif %}

<tr class="LastBuild">

<td align="right" colspan="2" class="Project">
 last build
</td>

{% for b in builders %}  
  <td align="center" class="{{ b.top_class }}">
    <a href="{{ b.url }}">{{ b.name }}<br/>
    {{ " ".join(b.top) }}
  </td>
{% endfor %}
</tr>

<tr class="Activity">
<td align="right" colspan="2">current activity</td>

{% for b in builders %}  
  <td align="center" class="{{ b.status_class }}">
    {{ "<br/>".join(b.status) }}
  </td>
{% endfor %}
</tr>

<tr>
<td align="center" class="Time">{{ tz }}</td>
<td align="center" class="Change"><a href="{{ changes_url }}">changes</a></td>

{% for b in builders %}
 <td align="center" class="Builder"><a href="{{ b.url }}">{{ b.name }}</a></td>
{% endfor %}
</tr>

{{ waterfall }}

</table>

{% if nextpage %}
 <a href="{{ nextpage }}">next page</a>
{% endif %}

{% if no_reload_page %}
 <a href="{{ no_reload_page }}">Stop Reloading</a> 
{% endif %}

<a href="{{ help_url }}">waterfall help</a>

{% endblock %}
