basefield
    div.form
        label.control-label.col-sm-12(for="{{field.name}}")
            | {{field.label}}
        .col-sm-12
            div(style="height:{{field.height}}px", ui-ace="{mode:field.mode}", readonly="field.readonly",
                ng-model="field.value")
