a:visited {
	color: #800080;
}

td.Event, td.BuildStep, td.Activity, td.Change, td.Time, td.Builder {
    border-top: 1px solid;
    border-right: 1px solid;
}

td.box {
       border: 1px solid;
}

/* Activity states */
.offline { 
        background-color: gray;
}
.idle {
	background-color: white;
}
.waiting { 
        background-color: yellow;
}
.building { 
        background-color: yellow;
}

/* LastBuild, BuildStep states */
.success {
	background-color: #72ff75;
}
.failure {
	background-color: red;
}
.warnings {
	background-color: #ff8000;
}
.exception {
	background-color: #c000c0;
}
.start,.running {
	background-color: yellow;
}

/* grid styles */

table.Grid {
    border-collapse: collapse;
}

table.Grid tr td {
    padding: 0.2em;
    margin: 0px;
    text-align: center;
}

table.Grid tr td.title {
    font-size: 90%;
    border-right: 1px gray solid;
    border-bottom: 1px gray solid;
}

table.Grid tr td.sourcestamp {
    font-size: 90%;
}

table.Grid tr td.builder {
    text-align: right;
    font-size: 90%;
}

table.Grid tr td.build {
    border: 1px gray solid;
}

div.footer {
    font-size: 80%;
}
