name: CI
on:
  push:
    branches:
    - master
  pull_request:

permissions:
  contents: read

jobs:
  win:
    name: ${{ matrix.windows-version }} / python ${{ matrix.python-version }}
    runs-on: ${{ matrix.windows-version }}

    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
        windows-version:
          - windows-2022
        include:
          # setup-python only has 3.11 python for win ARM
          - windows-version: windows-11-arm
            python-version: "3.11"
          - windows-version: windows-11-arm
            python-version: "3.12"
          - windows-version: windows-11-arm
            python-version: "3.13"

    env:
      # Needed to ignore specific warns, otherwise, it'll warn a generic message
      SQLALCHEMY_WARN_20: 1

    steps:
      - uses: "actions/checkout@v6"
      - uses: "actions/setup-python@v5"
        with:
          python-version: "${{ matrix.python-version }}"
          cache: 'pip'
          cache-dependency-path: |
            requirements-ci.txt
            requirements-cidb.txt
            master/setup.py
            worker/setup.py
            pkg/setup.py

      - name: "Install dependencies"
        run: |
          python -c "import sys; print(sys.prefix)"
          python -c "import sys; print(sys.exec_prefix)"
          python -c "import sys; print(sys.executable)"
          python -V -V
          python -m pip install -r requirements-pip.txt
          python -m pip install -r requirements-ci.txt
          python -m pip list
          # Check that pywin32 is properly installed
          python -c "import win32api"

      - name: "Run tests for ${{ matrix.python-version }}"
        run: "python -m twisted.trial --reporter=text --rterrors buildbot.test buildbot_worker.test"
        timeout-minutes: 30

  win-sandboxed-worker:
    strategy:
      fail-fast: false
      matrix:
        include:
          - windows-version: windows-latest
            python-version: =3.10
          - windows-version: windows-11-arm
            python-version: =3.11

    runs-on: ${{ matrix.windows-version }}

    steps:
      - uses: "actions/checkout@v6"
      - uses: "actions/setup-python@v5"
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
          cache-dependency-path: |
            requirements-pip.txt
            requirements-ci.txt
            requirements-ci-pyinstaller.txt
            master/setup.py
            worker/setup.py
            pkg/setup.py

      - name: "Install dependencies"
        run: |
          python -m pip install -r requirements-pip.txt
          python -m pip install -r requirements-ci-pyinstaller.txt
      - run: pyinstaller pyinstaller/buildbot-worker.spec
      - run: trial --reporter=text --rterrors buildbot.test.integration.interop
        env:
          SANDBOXED_WORKER_PATH: "${{ github.workspace }}/dist/buildbot-worker.exe"
