.container
  .row
    .well
        h2 About this&nbsp;
          a(href="http://buildbot.net") buildbot
          | &nbsp;running for&nbsp;
          a(ng-href="{{config.titleURL}}") {{config.title}}
        .row
          .col-sm-12
            ul
              li(ng-repeat="v in config.versions") {{v[0]}} version: {{v[1]}}

  .row
    .well
        h2 Configuration
        | buildbot-www is configured using
        rawdata(data='config')
  .row
    .well
        h2 Javascript dependencies
        |  buildbot-www is using the following open-source JavaScript libraries
        | (according to their bower manifest):
        dl.dl-horizontal
          table.table.table-stripped.table-condensed
            tr
                th name
                th version
                th license
                th description
            tr(ng-repeat='module in bower_configs', title="{{module}}")
              td
                a(ng-show='module.homepage', ng-href='{{module.homepage}}') {{module.name}}
                span(ng-hide='module.homepage') {{module.name}}
              td {{module.version}}
              td {{ module.license.join ? module.license.join(", ") : module.license}}
              td {{ module.description }}
  .row
    .well
      h2 API description
      ul.list-group
        li.list-group-item(ng-repeat='spec in specs |orderBy:"path"')
          b(ng-click="show_detail = ! show_detail", ng-init='show_detail=0') /{{spec.path}}:
          | {{spec.type_spec.fields.length}} fields
          dl.dl-horizontal(ng-show='show_detail')
            span(ng-repeat='field in spec.type_spec.fields |orderBy:"path"')
              dt {{field.name}}
              dd {{field.type}}
                span(ng-show="field.type=='list'") {{field.type_spec}}
