.container
  .row
    .well
        h2
          img.nut-spin(src="img/icon.svg", width="64px")
          | &nbsp;About this&nbsp;
          a(href="http://buildbot.net") buildbot
          | &nbsp;running for&nbsp;
          a(ng-href="{{config.titleURL}}") {{config.title}}
        .row
          .col-sm-12
            ul
              li(ng-repeat="v in config.versions") {{v[0]}} version: {{v[1]}}

  .row
    .well
        h2 Configuration
        | buildbot-www is configured using
        rawdata(data='config')
  .row
    .well
      h2 API description
      ul.list-group
        li.list-group-item(ng-repeat='spec in specs |orderBy:"path"')
          b(ng-click="show_detail = ! show_detail", ng-init='show_detail=0') /{{spec.path}}:
          | {{spec.type_spec.fields.length}} fields
          dl.dl-horizontal(ng-show='show_detail')
            span(ng-repeat='field in spec.type_spec.fields |orderBy:"path"')
              dt {{field.name}}
              dd {{field.type}}
                span(ng-show="field.type=='list'") {{field.type_spec}}
